a {
    cursor: pointer;
    color: #1eb980;
    text-decoration: none;
}

a:hover {
  color: #1eb980;
  text-decoration: underline;
}

.mat-card-header{
  font-weight: bold;
  text-align: center;
}

.mat-card-title{
  font-weight: bold;
  text-align: center;
}
