<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex></div>
        <div fxFlex>Portal</div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button id="cvah-portal-title-button-add-link" color="primary"
            (click)="open_add_user_portal_link()" [disabled]="!operator">
            <mat-icon>add</mat-icon>Add Link
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="logo" height="100" src="../assets/logo.png" alt="CVA/H" />
        </div>
        <br>
      </div>
      <mat-grid-list cols="2" rowHeight="4:1" gutterSize="10px">
        <h3 mat-subheader>Common Links</h3>
        <mat-grid-tile *ngFor="let portal_link of portal_links; let i = index;" class="zoom"
          style="background: rgba(0,0,0,.38);">
          <div fxLayout="column" fxLayoutAlign="space-around start" style="padding: 2em; width: 100%; height: 100%">
            <div style="margin-bottom: 10px; font-size: 1.5em;">
              <a id="{{ 'cvah-portal-portal-link-' + i + '-dns' }}" href="{{ portal_link.dns }}" target="_blank">{{
                portal_link.dns }}</a>
            </div>
            <div id="{{ 'cvah-portal-portal-link-' + i + '-ip' }}" *ngIf="!hidden_app_links.includes(portal_link.dns)" style="margin-bottom: 10px;">
              {{ portal_link.ip }}
            </div>
            <div *ngIf="hidden_app_links.includes(portal_link.dns)" style="margin-bottom: 10px;">
              IP address: {{ portal_link.ip.split("/")[2] }}
            </div>
            <div *ngIf="portal_link.logins && !hidden_app_links.includes(portal_link.dns); else SSO;"
              id="{{ 'cvah-portal-portal-link-' + i + '-logins' }}">
              user/password: {{ portal_link.logins }}
            </div>
            <ng-template #SSO>
              <div>
                This application uses SSO for authentication.
              </div>
            </ng-template>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="4:1" gutterSize="10px">
        <h3 mat-subheader>User Links</h3>
        <mat-grid-tile *ngFor="let user_portal_link of user_portal_links; let i = index;" class="zoom"
          style="background: rgba(0,0,0,.38);" (click)="go_to_url(user_portal_link.url)">
          <div fxLayout="column" fxLayoutAlign="space-around start" style="padding: 2em; width: 100%; height: 100%">
            <div fxLayout="row" fxLayoutAlign="space-between end" style=" margin-bottom: 10px; width: 100%;">
              <div id="{{ 'cvah-portal-user-portal-link-' + i + '-name' }}" style="font-size: 1.5em;">
                {{user_portal_link.name}}
              </div>
              <div style="margin-top: 10px;">
                <button mat-icon-button *ngIf="operator"
                  id="{{ 'cvah-portal-user-portal-link-' + i + '-button-delete' }}" color="warn"
                  (click)="open_confirm_remove_user_portal_link($event, user_portal_link)">
                  <em class="material-icons">delete</em>
                </button>
              </div>
            </div>
            <div *ngIf="user_portal_link.url.length < 50; else trucatedLink;"
              id="{{ 'cvah-portal-user-portal-link-' + i + '-url' }}" style="margin-bottom: 10px; font-size: 1.3em;">
              <a>{{user_portal_link.url}}</a>
            </div>
            <ng-template #trucatedLink>
              <div id="{{ 'cvah-portal-user-portal-link-' + i + '-url' }}"
                style="margin-bottom: 10px; font-size: 1.3em;" matTooltip="{{user_portal_link.url}}">
                <a style="white-space: pre;">{{user_portal_link.url.substring(0, 48)}}..</a>
              </div>
            </ng-template>
            <div *ngIf="user_portal_link.description.length < 128; else smallDescription;"
              id="{{ 'cvah-portal-user-portal-link-' + i + '-description' }}"
              matTooltip="{{user_portal_link.description}}">
              {{user_portal_link.description}}
            </div>
            <ng-template #smallDescription>
              <div id="{{ 'cvah-portal-user-portal-link-' + i + '-description-substring' }}"
                matTooltip="{{user_portal_link.description}}">
                {{user_portal_link.description.substring(0, 128)}}..
              </div>
            </ng-template>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
