output {
  if "beats" in [tags] {
    # stdout { codec => rubydebug }
    elasticsearch {
      hosts => ["{{ elastic_fqdn }}:{{ elastic_port }}"]
      index => "winlogbeat-%{+YYMMdd'h'HH}"
      manage_template => false
      #template_name => "winlogbeat"
      #template => "/usr/share/logstash/logstash-template.json"
      #template_overwrite => true
    }
  }
}
