apiVersion: v1
name: redmine
home: https://github.com/redmine/redmine
version: {{ component["helm_version"] }}
appVersion: {{ component["app_version"] }}
description: Redmine is a flexible project management web application.  Written using the Ruby on Rails framework, it is cross platform and cross-database.
details: This chart will install the Redmine application using Postgres database

