<!--CPU -->
<div *ngIf="is_visible" [formGroup]="node_form_group">
  <mat-form-field>
    <mat-label>CPU Cores</mat-label>
    <input matInput
           placeholder="Enter the number of CPU cores"
           formControlName="virtual_cpu"
           matTooltip="{{ get_tooltip('virtual_cpu') }}"
           [matTooltipPosition]="'before'"/>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_cpu')?.valid &&
                              node_form_group.get('virtual_cpu')?.touched"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_cpu')?.invalid &&
                              node_form_group.get('virtual_cpu')?.touched"
              color="warn">error</mat-icon>
    <mat-error>{{ get_error_message(node_form_group.get("virtual_cpu")) }}</mat-error>
  </mat-form-field>

  <!--Memory -->
  <mat-form-field>
    <mat-label>RAM Memory in (GB)</mat-label>
    <input matInput
           placeholder="Enter the amount of ram memory in GB"
           formControlName="virtual_mem"
           matTooltip="{{ get_tooltip('virtual_mem') }}"
           [matTooltipPosition]="'before'"/>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_mem')?.valid &&
                              node_form_group.get('virtual_mem')?.touched"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_mem')?.invalid &&
                                node_form_group.get('virtual_mem')?.touched"
              color="warn">error</mat-icon>
    <mat-error>{{ get_error_message(node_form_group.get("virtual_mem")) }}</mat-error>
  </mat-form-field>

  <!--OS drive -->
  <mat-form-field>
    <mat-label>OS Drive size in (GB)</mat-label>
    <input matInput
           placeholder="Enter the amount of ram memory in GB"
           formControlName="virtual_os"
           matTooltip="{{ get_tooltip('virtual_os') }}"
           [matTooltipPosition]="'before'"/>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_os')?.valid &&
                              node_form_group.get('virtual_os')?.touched"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_os')?.invalid &&
                              node_form_group.get('virtual_os')?.touched"
              color="warn">error</mat-icon>
    <mat-error>{{ get_error_message(node_form_group.get("virtual_os")) }}</mat-error>
  </mat-form-field>

  <!--Data drive -->
  <mat-form-field *ngIf="has_data_drive()">
    <mat-label>Data Drive size in (GB)</mat-label>
    <input matInput
           placeholder="Enter the amount of ram memory in GB"
           formControlName="virtual_data"
           matTooltip="{{ get_tooltip('virtual_data') }}"
           [matTooltipPosition]="'before'"/>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_data')?.valid &&
                              node_form_group.get('virtual_data')?.touched"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="node_form_group.get('virtual_data')?.invalid &&
                              node_form_group.get('virtual_data')?.touched"
              color="warn">error</mat-icon>
    <mat-error>{{ get_error_message(node_form_group.get("virtual_data")) }}</mat-error>
  </mat-form-field>
  <div style="margin-top: 10px;">
    <p>This will deploy to the configured ESXI or VCenter server.</p>
  </div>
</div>
