{
  "username" : "admin",
  "enabled": true,
  "email" : "admin@controller.local",
  "firstName" : "Operator",
  "lastName" : "Admin",
  "credentials" : [
      {
        "type" : "password",
        "value" : "{{ sso_admin_password }}"
      }
  ],
  "requiredActions" : [
    "UPDATE_PASSWORD",
    "UPDATE_PROFILE",
    "terms_and_conditions"
  ],
  "realmRoles": ["manager"],
  "groups": [
    "/All Users",
    "/Realm Admin",
    "/ELK Superuser",
    "/MISP Admin",
    "/Hive Super Admin",
    "/Cortex Super Admin"
  ]
}
