{
  "defaultGroups": [
{% if system_name == 'DIP' or system_name == 'GIP' %}
    "/Hive Read",
    "/Cortex Read",
{% endif %}
    "/Operator",
    "/All Users"
  ],
  "groups": [
    {
      "name": "All Users",
      "path": "/All Users",
      "attributes": {},
      "realmRoles": [
        "user"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Controller Admin",
      "path": "/Controller Admin",
      "attributes": {},
      "realmRoles": [
        "controller-admin"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Controller Maintainer",
      "path": "/Controller Maintainer",
      "attributes": {},
      "realmRoles": [
        "controller-maintainer"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Operator",
      "path": "/Operator",
      "attributes": {},
      "realmRoles": [
        "operator"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Realm Admin",
      "path": "/Realm Admin",
      "attributes": {},
      "realmRoles": [
        "controller-admin"
      ],
      "clientRoles": {
        "realm-management": [
          "realm-admin"
        ]
      },
      "subGroups": []
    }{{ ',' if system_name == 'DIP' or system_name == 'GIP' else '' }}
{% if system_name == 'DIP' or system_name == 'GIP' %}
    {
      "name": "ELK Superuser",
      "path": "/ELK Superuser",
      "attributes": {},
      "realmRoles": [
        "elk-super-user"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "ELK Readonly",
      "path": "/ELK Readonly",
      "attributes": {},
      "realmRoles": [
        "elk-read-only"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "ELK Kibana Admin",
      "path": "/ELK Kibana Admin",
      "attributes": {},
      "realmRoles": [
        "elk-kibana-admin"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "MISP Admin",
      "path": "/MISP Admin",
      "attributes": {},
      "realmRoles": [
        "misp-admin"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "MISP Org Admin",
      "path": "/MISP Org Admin",
      "attributes": {},
      "realmRoles": [
        "misp-org-admin"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "MISP Operator",
      "path": "/MISP Operator",
      "attributes": {},
      "realmRoles": [
        "misp-operator"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "MISP Read Only",
      "path": "/MISP Read Only",
      "attributes": {},
      "realmRoles": [
        "misp-readonly"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Moloch User",
      "path": "/Moloch User",
      "attributes": {},
      "realmRoles": [
        "moloch-user"
      ],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Rocket Chat Admin",
      "path": "/Rocket Chat Admin",
      "attributes": {
        "rocketchat_role": [
          "admin"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Hive Admin",
      "path": "/Hive Admin",
      "attributes": {
        "hive_role": [
          "admin",
          "write",
          "read"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Hive Write",
      "path": "/Hive Write",
      "attributes": {
        "hive_role": [
          "write",
          "read"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Hive Read",
      "path": "/Hive Read",
      "attributes": {
        "hive_role": [
          "read"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Cortex Super Admin",
      "path": "/Cortex Super Admin",
      "attributes": {
        "cortex_role": [
          "superadmin"
        ],
        "cortex_org": [
          "cortex"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Cortex Org Admin",
      "path": "/Cortex Org Admin",
      "attributes": {
        "cortex_role": [
          "orgadmin",
          "analyze",
          "read"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Cortex Analyze",
      "path": "/Cortex Anaylze",
      "attributes": {
        "cortex_role": [
          "analyze",
          "read"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "Cortex Read",
      "path": "/Cortex Read",
      "attributes": {
        "cortex_role": [
          "read"
        ]
      },
      "realmRoles": [],
      "clientRoles": {},
      "subGroups": []
    },
    {
      "name": "NiFi User",
      "path": "/NiFi User",
      "attributes": {},
      "realmRoles": [
        "nifi-user"
      ],
      "clientRoles": {},
      "subGroups": []
    },
{% endif %}
  ]
}