{
  "defaultRoles": [
    "user"
  ],
  "roles": {
    "realm": [
      {
        "name": "user",
        "composite": true,
        "composites": {
          "client": {
            "account": [
              "manage-consent",
              "manage-account-links",
              "view-consent",
              "view-profile",
              "manage-account",
              "view-applications"
            ]
          }
        },
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "controller-admin",
        "composite": true,
        "composites": {
          "realm": [
            "controller-maintainer",
            "controller-node-state"
          ]
        },
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "controller-maintainer",
        "composite": true,
        "composites": {
          "realm": [
            "operator"
          ]
        },
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "controller-node-state",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "operator",
        "composite": true,
        "composites": {
          "realm": [
            "elk-kibana-admin",
            "misp-operator",
            "arkime-user",
            "nifi-user"
          ]
        },
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "misp-admin",
        "composite": true,
        "composites": {
          "realm": [
            "misp-operator"
          ]
        },
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "misp-org-admin",
        "composite": true,
        "composites": {
          "realm": [
            "misp-operator"
          ]
        },
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "misp-operator",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "misp-readonly",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "arkime-user",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "elk-super-user",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "elk-read-only",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "elk-kibana-admin",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      },
      {
        "name": "nifi-user",
        "composite": false,
        "clientRole": false,
        "containerId": "{{ realm_id }}",
        "attributes": {}
      }
    ]
  }
}
