<h1 matDialogTitle id="app-confirm-dailog-h1-pane-title">{{data.paneTitle}}</h1>
<div mat-dialog-content id="app-confirm-dailog-div-pane-string">
  <div style="white-space: pre-line; color: lightgreen; font-size: 12pt;">{{data.paneString}}</div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
    <button mat-raised-button id="app-confirm-dailog-div-button-options1"
            color="warn" (click)="close('option1')">{{data.option1}}</button>
    <button mat-raised-button id="app-confirm-dailog-div-button-options2"
            color="primary" (click)="close('option2')">{{data.option2}}</button>
</div>
