[libdefaults]
    dns_lookup_real = false
    dns_lookup_kdc = false
    ticket_lifetime = 24h
    renew_lifetime = 7d
    forwardable = true
    rdns = false
    default_realm = {{ domain_name | upper }}
    canonicalize = true

[realms]
    {{ domain_name | upper }} = {
        kdc = {{ key_controller }}
        admin_server = {{ admin_server }}
        default_domain = {{ domain_name}}
    }

[domain_realm]
    {{ domain_name }} = {{ domain_name | upper }}
    .{{ domain_name }} = {{ domain_name | upper }}