---
all:
  hosts:
  children:
    windows:
      hosts:
{% for tgt in targets %}
        {{ tgt }}.{{ domain_name }}:
{% endfor %}
  vars:
    ansible_user: {{ windows_username }}
    ansible_winrm_realm: {{ domain_name }}
    key_controller: {{ key_controller }} 
    admin_server: {{ admin_server }} 
    domain_name: {{ domain_name }}
    windows_dns: {{ windows_dns }}
    gather_facts: no
    install_target_dir: C:\TFPlenum\