<div mat-dialog-content [formGroup]="newHostAgentForm">
    <mat-vertical-stepper #stepper [linear]=true>
        <!-- Configuration Name -->
        <mat-step id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-configuration-name"
                  label="Configuration Name" [stepControl]="newHostAgentForm.controls.config_name">
            <!-- Config Name -->
            <mat-form-field id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-configuration-name-mat-form-field-config-name">
                <mat-label>Config Name</mat-label>
                <input matInput id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-configuration-name-mat-form-field-config-name-input" formControlName="config_name">
                <mat-error id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-configuration-name-mat-form-field-config-name-mat-error">{{ getErrorMessage(newHostAgentForm.get("config_name")) }}</mat-error>
            </mat-form-field>
        </mat-step>
        <!-- Applications -->
        <mat-step label="Applications" id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-applications">
            <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-applications-div-mat-checkbox-install-endgame-agent"
                              formControlName="install_endgame" (change)="toggleEndgameValidators($event)">Install Endgame Agent</mat-checkbox>
                <ng-container *ngIf="applications && appConfigs">
                    <ng-container *ngFor="let appConfig of appConfigs; let i = index;" [formGroup]="applications">
                        <mat-checkbox id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-applications-div-' + i + '-mat-checkbox-install-config-name' }}"
                                      (change)="onApplicationChange($event, appConfig)" [formControlName]="appConfig['name']">
                            Install {{ appConfig['name'] }}
                        </mat-checkbox>
                    </ng-container>
                </ng-container>
            </div>
        </mat-step>
        <!-- Endgame Options -->
        <mat-step *ngIf="isEndgame()" id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options"
                  label="Connect to Endgame Server" formGroupName="endgame_options" [stepControl]="newHostAgentForm.get('endgame_options')">
            <!-- Endgame Server IP -->
            <mat-form-field id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-ip">
                <mat-label>Endgame Server IP</mat-label>
                <input matInput id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-ip-input"
                       formControlName="endgame_server_ip">
                <mat-error id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-ip-mat-error">{{ getErrorMessage(newHostAgentForm.get("endgame_options.endgame_server_ip")) }}</mat-error>
            </mat-form-field>
            <!-- Endgame Server Username -->
            <mat-form-field id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-username">
                <mat-label>Endgame Server Username</mat-label>
                <input matInput id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-username-input"
                       formControlName="endgame_user_name">
                <mat-error id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-username-mat-error">{{ getErrorMessage(newHostAgentForm.get("endgame_options.endgame_user_name")) }}</mat-error>
            </mat-form-field>
            <!-- Endgame Server Password -->
            <mat-form-field id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-password">
                <mat-label>Endgame Server Password</mat-label>
                <input matInput id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-password-input"
                       formControlName="endgame_password" type="password">
                <mat-error id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-password-mat-error">{{ getErrorMessage(newHostAgentForm.get("endgame_options.endgame_password")) }}</mat-error>
            </mat-form-field>
            <!-- Endgame Server Port -->
            <mat-form-field id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-port">
                <mat-label>Endgame Server Port</mat-label>
                <input matInput id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-port-input"
                       formControlName="endgame_port">
                <mat-error id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-mat-form-field-endgame-server-port-mat-error">{{ getErrorMessage(newHostAgentForm.get("endgame_options.endgame_port")) }}</mat-error>
            </mat-form-field>
            <button mat-raised-button id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-options-button-connect"
                    (click)="getEndgameSensorProfiles(stepper)">Connect</button>
        </mat-step>
        <!-- Endgame Agent -->
        <mat-step *ngIf="isEndgame()" id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-agent" label="Select Endgame Agent">
            <!-- Sensor Profile -->
            <mat-form-field id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-agent-mat-form-field-sensor-profile">
                <mat-label>Sensor Profile</mat-label>
                <mat-select id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-agent-mat-form-field-sensor-profile-mat-select"
                            formControlName="endgame_sensor_id">
                    <mat-option *ngFor="let profile of sensor_profiles; let i = index;"
                                id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-agent-mat-form-field-sensor-profile-mat-select-mat-option-' + i + '-profile-name' }}"
                                [value]="profile.value">{{ profile.name }}</mat-option>
                </mat-select>
                <mat-error id="agent-installer-dialog-div-mat-vertical-stepper-mat-step-endgame-agent-mat-form-field-sensor-profile-mat-error">{{ getErrorMessage(newHostAgentForm.get("endgame_sensor_id")) }}</mat-error>
            </mat-form-field>
        </mat-step>

        <ng-container *ngIf="options">
            <ng-container *ngFor="let config of applicableConfigs; let i = index;">
                <!-- Options -->
                <mat-step *ngIf="config?.form" id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-' + i + '-options' }}"
                          label="Options for {{ config['name'] }}">
                    <form [formGroup]="options.controls[config['name']]">
                        <div *ngFor="let control of config['form']; let j = index" [ngSwitch]="control?.type">
                            <div *ngSwitchCase="'textinput'">
                                <!-- Control -->
                                <mat-form-field id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-' + i + '-options-form-div-' + j + '-div-mat-form-field-control' }}">
                                    <mat-label id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-' + i + '-options-form-div-' + j + '-div-mat-form-field-control-mat-label' }}">{{ control?.label ? control.label : control.name }}</mat-label>
                                    <input matInput id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-' + i + '-options-form-div-' + j + '-div-mat-form-field-control-input' }}"
                                           matTooltip="{{control?.description}}" formControlName="{{ control.name }}"
                                           placeholder="{{ control?.placeholder ? control.placeholder : control?.label ? control.name : null }}">
                                </mat-form-field>
                                <mat-error *ngIf="options.controls[config['name']].controls[control.name].invalid"
                                           id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-' + i + '-options-form-div-' + j + '-div-mat-error' }}">
                                    <div id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-' + i + '-options-form-div-' + j + '-div-mat-error-div-error-message' }}">{{ control?.error_message }}</div>
                                </mat-error>
                            </div>
                            <!-- Checkbox -->
                            <div *ngSwitchCase="'checkbox'">
                                <mat-checkbox id="{{ 'agent-installer-dialog-div-mat-vertical-stepper-mat-step-' + i + '-options-form-div-' + j + '-div-mat-checkbox' }}"
                                              formControlName="{{control.name}}" matTooltip="{{control?.description}}">{{ control?.label }}</mat-checkbox>
                            </div>
                        </div>
                    </form>
                </mat-step>
            </ng-container>
        </ng-container>
    </mat-vertical-stepper>
</div>
<div mat-dialog-actions>
    <button mat-raised-button id="agent-installer-dialog-div-button-cancel"
            color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button id="agent-installer-dialog-div-button-add-configuration"
            color="primary" [disabled]="!newHostAgentForm.valid" (click)="submitAndClose()">Add Configuration</button>
</div>
