<h1 mat-dialog-title>Replay PCAP on target Sensor</h1>
<div mat-dialog-content [formGroup]="pcap_form_group"
     fxLayout="column" fxLayoutAlign="start stretch"
     style="overflow: unset;">
    <p>Executing this form will replay the selected PCAP on the selected Sensor. Are you sure you want to do this?</p>
    <!-- PCAP -->
    <mat-form-field>
      <input matInput id="cvah-replay-pcap-dialog-div-mat-form-field-pcap-input"
             placeholder="Selected PCAP" type="text" formControlName="pcap" required>
    </mat-form-field>
    <!-- Sensor Hostname -->
    <mat-form-field>
      <mat-label>Sensor Hostname</mat-label>
      <mat-select id="cvah-replay-pcap-dialog-div-mat-form-field-sensor-hostname-mat-select" formControlName="sensor_ip" (selectionChange)="selection_change_iface_value($event)">
        <mat-option *ngFor="let sensor of selectable_sensors; let i = index;"
                    id="{{ 'cvah-replay-pcap-dialog-div-mat-form-field-sensor-hostname-mat-select-mat-option-' + i }}" [value]="sensor.management_ip">
          {{ sensor.hostname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error>{{ get_error_message(pcap_form_group.get('sensor_ip')) }}</mat-error>

    <!-- Preserve timestamp -->
    <mat-checkbox formControlName="preserve_timestamp"
                  (change)="change_preserve_timestamp($event)"
                  matTooltip="NOTE: Unchecking this box will result in traffic being replayed through the interface using tcpreplay which will not preserve the timestamp.">
      Preserve timestamp
    </mat-checkbox>

    <!-- ifaces -->
    <ng-container *ngIf="!should_preserve_timestamp()">
      <mat-form-field>
        <mat-label>Sensor Interface</mat-label>
        <mat-select id="cvah-replay-pcap-dialog-div-mat-form-field-iface-mat-select"
                    formControlName="ifaces" multiple matToolTip="These are the interfaces that the PCAP will replay on. If you select multiple Ifaces, the PCAP will be replayed on each iface selected.">
          <mat-option *ngFor="let iface of selectable_ifaces; let j = index;"
                      id="{{ 'cvah-replay-pcap-dialog-div-mat-form-field-iface-mat-select-mat-option-' + j }}" [value]="iface">{{ iface }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error id="cvah-replay-pcap-dialog-div-mat-error-iface">{{ get_error_message(pcap_form_group.get('ifaces')) }}</mat-error>
    </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-raised-button id="cvah-replay-pcap-dialog-button-cancel"
          color="warn" (click)="cancel()">Cancel</button>
  <button mat-raised-button cdkFocusInitial id="cvah-replay-pcap-dialog-button-execute"
          color="primary" [disabled]="!pcap_form_group.valid" (click)="execute()">Execute</button>
</div>
