<div class="main-content2">
<!-- MIP MANAGEMENT-->
<mat-card>
   <mat-card-header>
     <mat-card-title>MIP Management</mat-card-title>
   </mat-card-header>
   <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
     <table mat-table [dataSource]="mips" aria-describedby="MIP Setup Nodes">
       <!-- Hostname -->
       <ng-container matColumnDef="hostname">
           <th scope="col" mat-header-cell *matHeaderCellDef>Hostname</th>
           <td mat-cell *matCellDef="let mip;"><a (click)="open_mip_info_dialog_window(mip)">{{ mip.hostname }}</a></td>
       </ng-container>

       <!-- Ip Address -->
       <ng-container matColumnDef="ip_address">
         <th scope="col" mat-header-cell *matHeaderCellDef>Ip Address</th>
         <td mat-cell *matCellDef="let mip;">{{ mip.ip_address }}</td>
       </ng-container>

        <!-- Deployment Type -->
        <ng-container matColumnDef="deployment_type">
          <th scope="col" mat-header-cell *matHeaderCellDef>Deployment Type</th>
          <td mat-cell *matCellDef="let mip;">{{ mip.deployment_type }}</td>
        </ng-container>

       <!-- State -->
       <ng-container matColumnDef="state">
         <th scope="col" mat-header-cell *matHeaderCellDef>State</th>
         <td mat-cell *matCellDef="let mip;">
             <cvah-node-state-progress-bar #progressCircles [jobs]="mip.jobs"></cvah-node-state-progress-bar>
         </td>
       </ng-container>

       <!-- Actions -->
       <ng-container matColumnDef="actions">
         <th scope="row" mat-header-cell *matHeaderCellDef>Actions</th>
         <td mat-cell *matCellDef="let mip; let j = index;">
             <div class="btn-group">
              <button *ngIf="can_delete_node(mip)" mat-icon-button matTooltip="Delete MIP" (click)="open_delete_node_confirm_dialog_window(mip)" color="warn"
                [disabled]="mip.isRemoving">
                <em class="material-icons">delete</em>
              </button>
             </div>
         </td>
     </ng-container>

       <!-- Table Rows -->
       <tr mat-header-row *matHeaderRowDef="mip_columns"></tr>
       <tr mat-row *matRowDef="let rowData; columns: mip_columns;"></tr>
   </table>
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button color="primary" [disabled]="disable_add_mip_button()"
             (click)="open_add_mip_dialog_window()">Add MIP</button>
   </mat-card-actions>
 </mat-card>
</div>
