[tfplenum-BaseOS-offline-repo]
baseurl=http://{{server_ip}}/offlinerepo/tfplenum/BaseOS
enabled=1
gpgcheck=0
name=tfplenum-baseos-offline-repo

[tfplenum-AppStream-offline-repo]
baseurl=http://{{server_ip}}/offlinerepo/tfplenum/AppStream
enabled=1
gpgcheck=0
name=tfplenum-appstream-offline-repo

[tfplenum-Extras-offline-repo]
baseurl=http://{{server_ip}}/offlinerepo/tfplenum/Extras
enabled=1
gpgcheck=0
name=tfplenum-extras-offline-repo
