<mat-card [formGroup]="repoForm">
  <mat-card-header *ngIf="hasTitle">
    <mat-card-title>
      <a id="app-settings-repository-settings-form-mat-card-mat-card-header-mat-card-title-a" (click)="toggleCard()">
        <em *ngIf="!isCardVisible"
            class="material-icons">chevron_right</em>
        <em *ngIf="isCardVisible"
            class="material-icons">expand_more</em>
        <span style="vertical-align: top;">Repository Settings</span>
        </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="isCardVisible || !hasTitle" fxLayout="column" fxLayoutAlign="space-around stretch">
    <form [formGroup]="repoForm">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <!-- Endpoint -->
        <mat-form-field>
          <mat-label>Endpoint</mat-label>
          <input matInput formControlName="endpoint" matTooltip="Enter MinIO IP Address"
          placeholder="IP Address of repository">
          <mat-error>{{ getErrorMessage(repoForm.get('endpoint')) }}</mat-error>
        </mat-form-field>
        <!-- Protocol -->
        <mat-form-field>
          <mat-label>Protocol</mat-label>
          <mat-select formControlName="protocol">
            <mat-option value="http">HTTP</mat-option>
            <mat-option value="https">HTTPS</mat-option>
          </mat-select>
          <mat-error>{{ getErrorMessage(repoForm.get('protocol')) }}</mat-error>
        </mat-form-field>
        <!-- Bucket -->
        <mat-form-field>
          <mat-label>Bucket</mat-label>
          <input matInput formControlName="bucket" matTooltip="Enter name of bucket"
          placeholder="Bucket name created in repository">
          <mat-error>{{ getErrorMessage(repoForm.get('bucket')) }}</mat-error>
        </mat-form-field>
        <!-- Access Key -->
        <mat-form-field>
          <mat-label>Access Key</mat-label>
          <input matInput formControlName="access_key" matTooltip="Enter Repository username"
          placeholder="Repository username">
          <mat-error>{{ getErrorMessage(repoForm.get('access_key')) }}</mat-error>
        </mat-form-field>
        <!-- Secret Key -->
        <mat-form-field>
          <mat-label>Secret Key</mat-label>
          <input matInput type="password" formControlName="secret_key" matTooltip="Enter Repository password"
          placeholder="Repository password">
          <mat-error>{{ getErrorMessage(repoForm.get('secret_key')) }}</mat-error>
        </mat-form-field>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions *ngIf="isCardVisible">
    <button mat-raised-button
            color="primary" (click)="update()"
            [disabled]="repoForm.invalid || (allowUpdate ? false : true)">Update</button>
  </mat-card-actions>
</mat-card>
