<mat-expansion-panel id="cvah-repository-settings-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>Repository Settings</mat-panel-title>
  </mat-expansion-panel-header>
  <form fxLayout="column"
        [formGroup]="form_group"
        (ngSubmit)="update_button_click()">

    <!-- IP Address -->
    <mat-form-field>
      <mat-label>IP Address</mat-label>
      <input matInput
             id="cvah-repository-settings-endpoint-input"
             matTooltip="Enter MinIO IP Address"
             placeholder="IP Address of repository"
             formControlName="ip_address">
      <mat-icon matSuffix *ngIf="form_group.get('ip_address').valid &&
                                 form_group.get('ip_address').touched"
                id="cvah-repository-settings-endpoint-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="form_group.get('ip_address').invalid &&
                                 form_group.get('ip_address').touched"
                id="cvah-repository-settings-endpoint-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-error id="cvah-repository-settings-endpoint-mat-error">{{ get_error_message(form_group.get('ip_address')) }}</mat-error>
    </mat-form-field>

    <!-- Port -->
    <mat-form-field>
      <mat-label>Port</mat-label>
      <input matInput
             formControlName="port"
             matTooltip="Enter MinIO UI Port"
             placeholder="Port of MinIO repository">
      <mat-icon matSuffix *ngIf="form_group.get('port').valid &&
                                 form_group.get('port').touched"
                    id="cvah-repository-settings-port-mat-icon-check-circle"
                    color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="form_group.get('port').invalid &&
                                 form_group.get('port').touched"
                    id="cvah-repository-settings-port-mat-icon-error"
                    color="warn">error</mat-icon>
      <mat-error>{{ get_error_message(form_group.get('port')) }}</mat-error>
    </mat-form-field>

    <!-- Protocol -->
    <mat-form-field>
      <mat-label>Protocol</mat-label>
      <mat-select id="cvah-repository-settings-protocol-mat-select" formControlName="protocol">
        <mat-option id="cvah-repository-settings-protocol-mat-option-http" value="http">HTTP</mat-option>
        <mat-option id="cvah-repository-settings-protocol-mat-option-https" value="https">HTTPS</mat-option>
      </mat-select>
      <mat-error id="cvah-repository-settings-protocol-mat-error">{{ get_error_message(form_group.get('protocol')) }}</mat-error>
    </mat-form-field>

    <!-- Bucket -->
    <mat-form-field>
      <mat-label>Bucket</mat-label>
      <input matInput
             id="cvah-repository-settings-bucket-input"
             matTooltip="Enter name of bucket"
             placeholder="Bucket name to create in repository"
             formControlName="bucket">
      <mat-icon matSuffix *ngIf="form_group.get('bucket').valid &&
                                 form_group.get('bucket').touched"
                id="cvah-repository-settings-bucket-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="form_group.get('bucket').invalid &&
                                 form_group.get('bucket').touched"
                id="cvah-repository-settings-bucket-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-error id="cvah-repository-settings-bucket-mat-error">{{ get_error_message(form_group.get('bucket')) }}</mat-error>
    </mat-form-field>

    <!-- MinIO Username -->
    <mat-form-field>
      <mat-label>MinIO Username</mat-label>
      <input matInput
             id="cvah-repository-settings-username-input"
             matTooltip="Enter Repository username"
             placeholder="Repository username"
             formControlName="username">
      <mat-icon matSuffix *ngIf="form_group.get('username').valid &&
                                 form_group.get('username').touched"
                id="cvah-repository-settings-username-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="form_group.get('username').invalid &&
                                 form_group.get('username').touched"
                id="cvah-repository-settings-username-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-error id="cvah-repository-settings-username-mat-error">{{ get_error_message(form_group.get('username')) }}</mat-error>
    </mat-form-field>

    <!-- Secret Key -->
    <mat-form-field>
      <mat-label>MinIO Password</mat-label>
      <input matInput id="cvah-repository-settings-password-input"
             type="password"
             autocomplete="false"
             matTooltip="Enter Repository password"
             placeholder="Repository password"
             formControlName="password">
      <mat-icon matSuffix *ngIf="form_group.get('password').valid &&
                                 form_group.get('password').touched"
                id="cvah-repository-settings-password-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="form_group.get('password').invalid &&
                                 form_group.get('password').touched"
                id="cvah-repository-settings-password-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-error id="cvah-repository-settings-password-mat-error">{{ get_error_message(form_group.get('password')) }}</mat-error>
    </mat-form-field>

    <!-- Action Button -->
    <div mat-dialog-actions class="action-button-wrapper">
      <button mat-raised-button
              cdkFocusInitial
              id="cvah-repository-settings-button-update"
              color="primary"
              type="submit"
              [disabled]="!form_group.valid || form_group.untouched || !update_allowed">Update</button>
    </div>
  </form>
</mat-expansion-panel>
