apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: elasticsearch
  namespace: default
spec:
  # Secret names are always required.
  secretName: elasticsearch-certificate
  duration: 8760h # 365d
  renewBefore: 360h # 15d
  commonName: elasticsearch
  subject:
   organizations:
   - "CVA/H"
   countries:
   - "US"
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usages:
    - server auth
  dnsNames:
  - elasticsearch
  - elasticsearch.{{ kit_domain }}
  - elasticsearch.{{ fqdn }}
  - elasticsearch-headless.{{ fqdn }}
  - '*.tfplenum-es-master.{{ fqdn }}'
  - '*.tfplenum-es-coordinating.{{ fqdn }}'
  - '*.tfplenum-es-data.{{ fqdn }}'
  - '*.tfplenum-es-ml.{{ fqdn }}'
  - tfplenum-es-http.default.svc
  issuerRef:
    name: webca-issuer
    kind: Issuer
    group: cert-manager.io
