#jinja2: lstrip_blocks: True

{% import 'templates/node_set.yml.j2' as node_set %}

{% if kit_size == 4 %}
  {% set service = "tfplenum-es-ingest" %}
{% else %}
  {% set service = "tfplenum-es-coordinating" %}
{% endif %}

---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: tfplenum
spec:
  version: {{elastic_7_version}}
  image: elasticsearch/elasticsearch:{{elastic_7_version}}
  http:
    tls:
      certificate:
        secretName: elasticsearch-certificate
  secureSettings:
  - secretName: s3-access-key
  - secretName: s3-secret-key
  nodeSets:
{{ node_set.master(kit_domain, mdil, master_count, master_memory, master_num_procs, master_java_memory, plugin_list, enable_ml, ansible_controller_hostname)| indent(width=2,first=True) -}}
{% if mdil == false %}
{{ node_set.data(kit_domain, data_count, data_memory, data_num_procs, data_java_memory, plugin_list, enable_ml, ansible_controller_hostname, kit_size) | indent(width=2,first=True) }}
{% if kit_size == 4 -%}
{{ node_set.ingest(kit_domain, ingest_count, ingest_memory, ingest_num_procs, ingest_java_memory, plugin_list, enable_ml, ansible_controller_hostname) | indent(width=2,first=True) }}
{%- endif %}
{{ node_set.coordinating(kit_domain, coordinating_count, coordinating_memory, coordinating_num_procs, coordinating_java_memory, plugin_list, enable_ml, ansible_controller_hostname) | indent(width=2,first=True) }}
{% if enable_ml -%}
{{ node_set.ml(kit_domain, ml_count, ml_memory, ml_num_procs, ml_java_memory, plugin_list, enable_ml, ansible_controller_hostname) | indent(width=2,first=True) }}
{%- endif %}
{%- endif %}

---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  labels:
    component: elasticsearch
spec:
  ports:
  - name: https
    port: {{ elastic_port }}
    targetPort: {{ elastic_port }}
  type: LoadBalancer
  selector:
    elasticsearch.k8s.elastic.co/cluster-name: "tfplenum"
  {% if mdil  == false %}
    elasticsearch.k8s.elastic.co/node-data: "true"
  {%- endif %}

---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-headless
  labels:
    component: elasticsearch-headless
spec:
  selector:
    common.k8s.elastic.co/type: elasticsearch
    elasticsearch.k8s.elastic.co/cluster-name: tfplenum
    elasticsearch.k8s.elastic.co/statefulset-name: {{ service }}
  ports:
  - name: https
    port: {{elastic_port}}
    targetPort: {{ elastic_port }}
  clusterIP: None
...
