
# Defaults for minimal VM Setup
{% set es_master_memory = 4 %}
{% set es_master_java_memory = 2 %}
{% set es_master_num_procs =2 %}
{% set es_data_memory = 4 %}
{% set es_data_java_memory = 2 %}
{% set es_data_num_procs = 4 %}
{% set es_coordinating_memory = 2 %}
{% set es_coordinating_java_memory = 1 %}
{% set es_coordinating_num_procs = 2 %}
{% set es_ml_memory = 2 %}
{% set es_ml_java_memory = 1 %}
{% set es_ml_num_procs = 2 %}

# GIP Hardware Settings
{% if kit_size == 100 %}
{% set es_master_memory = 24 %}
{% set es_master_java_memory = 24 %}
{% set es_master_num_procs = 4 %}
{% set es_data_memory = 24 %}
{% set es_data_java_memory = 24 %}
{% set es_data_num_procs = 8 %}
{% set es_coordinating_memory = 24 %}
{% set es_coordinating_java_memory = 24 %}
{% set es_coordinating_num_procs = 4 %}
{% set es_ml_memory = 64 %}
{% set es_ml_java_memory = 30 %}
{% set es_ml_num_procs = 8 %}
{% endif %}

{% import 'templates/node_set.yml.j2' as node_set %}
---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: tfplenum
spec:
  version: {{elastic_7_version}}
  image: elasticsearch/elasticsearch:{{elastic_7_version}}
  http:
    tls:
      certificate:
        secretName: elasticsearch-certificate
  secureSettings:
  - secretName: s3-access-key
  - secretName: s3-secret-key
  nodeSets:
  - {{ node_set.gip_master(3, es_data_path, es_master_memory, es_master_num_procs, es_master_java_memory, elasticsearch_plugins) | indent(width=4) }}
  - {{ node_set.gip_data(6, es_data_path, es_data_memory, es_data_num_procs, es_data_java_memory, elasticsearch_plugins) | indent(width=4) }}
  - {{ node_set.gip_coordinating(2, es_coordinating_memory, es_coordinating_num_procs, es_coordinating_java_memory, elasticsearch_plugins) | indent(width=4) }}
  - {{ node_set.gip_ml(4, es_ml_memory, es_ml_num_procs, es_ml_java_memory, elasticsearch_plugins) | indent(width=4) }}
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  labels:
    component: elasticsearch
spec:
  selector:
    common.k8s.elastic.co/type: elasticsearch
    elasticsearch.k8s.elastic.co/cluster-name: tfplenum
    elasticsearch.k8s.elastic.co/statefulset-name: tfplenum-es-coordinating
  ports:
  - name: http
    port: {{elastic_port}}
    targetPort: http
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-headless
  labels:
    component: elasticsearch-headless
spec:
  selector:
    common.k8s.elastic.co/type: elasticsearch
    elasticsearch.k8s.elastic.co/cluster-name: tfplenum
    elasticsearch.k8s.elastic.co/statefulset-name: tfplenum-es-coordinating
  ports:
  - name: http
    port: {{elastic_port}}
    targetPort: http
  clusterIP: None

...
