
# Defaults for minimal VM Setup
{% set es_master_memory = 4 %}
{% set es_master_java_memory = 2 %}
{% set es_master_num_procs =2 %}
{% set es_data_memory = 4 %}
{% set es_data_java_memory = 2 %}
{% set es_data_num_procs = 4 %}
{% set es_coordinating_memory = 2 %}
{% set es_coordinating_java_memory = 1 %}
{% set es_coordinating_num_procs = 2 %}
{% set es_ml_memory = 2 %}
{% set es_ml_java_memory = 1 %}
{% set es_ml_num_procs = 2 %}

# GIP Hardware Settings
{% if kit_size == 100 %}
{% set es_master_memory = 24 %}
{% set es_master_java_memory = 24 %}
{% set es_master_num_procs = 4 %}
{% set es_data_memory = 24 %}
{% set es_data_java_memory = 24 %}
{% set es_data_num_procs = 8 %}
{% set es_coordinating_memory = 24 %}
{% set es_coordinating_java_memory = 24 %}
{% set es_coordinating_num_procs = 4 %}
{% set es_ml_memory = 64 %}
{% set es_ml_java_memory = 30 %}
{% set es_ml_num_procs = 8 %}
{% endif %}

---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: tfplenum
spec:
  version: {{elastic_7_version}}
  image: elasticsearch/elasticsearch:{{elastic_7_version}}
  http:
    tls:
      selfSignedCertificate:
        subjectAltNames:
        - dns: {{elastic_fqdn}}
        - dns: {{elastic_headless_fqdn}}
        - dns: elasticsearch.lan
  nodeSets:
  - name: master
    count: 3
    config:
      node.master: true
      node.data: false
      node.ingest: false
      node.ml: false
      xpack.ml.enabled: true
      node.max_local_storage_nodes: "25"
      xpack.monitoring.collection.enabled: "true"
      node.attr.node_name: ${NODE_NAME}
      cluster.routing.allocation.awareness.attributes: node_name
      script.cache.max_size: "500"
      script.max_compilations_rate: "256/1m"
    podTemplate:
      metadata:
        labels:
          # additional labels for pods
          component: elasticsearch
      spec:
        initContainers:
        - name: sysctl
          securityContext:
            privileged: true
          command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: role
                  operator: In
                  values:
                  - server
        containers:
        - name: elasticsearch
          # specify resource limits and requests
          resources:
            requests:
              memory: {{es_master_memory}}Gi
              cpu: {{es_master_num_procs}}
          env:
          - name: ES_JAVA_OPTS
            value: "-Xms{{es_master_java_memory}}g -Xmx{{es_master_java_memory}}g"
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        volumes:
        - name: elasticsearch-data
          hostPath:
            path: {{ es_data_path }}
            type: DirectoryOrCreate
  - name: data
    count: 6
    config:
      node.master: false
      node.data: true
      node.ingest: true
      node.ml: false
      node.max_local_storage_nodes: "25"
      xpack.monitoring.collection.enabled: "true"
      node.attr.node_name: ${NODE_NAME}
      cluster.routing.allocation.awareness.attributes: node_name
      script.cache.max_size: "500"
      script.max_compilations_rate: "256/1m"
    podTemplate:
      metadata:
        labels:
          # additional labels for pods
          component: elasticsearch
      spec:
        initContainers:
        - name: sysctl
          securityContext:
            privileged: true
          command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: role
                  operator: In
                  values:
                  - server
        containers:
        - name: elasticsearch
          # specify resource limits and requests
          resources:
            requests:
              memory: {{es_data_memory}}Gi
              cpu: {{es_data_num_procs}}
          env:
          - name: ES_JAVA_OPTS
            value: "-Xms{{es_data_java_memory}}g -Xmx{{es_data_java_memory}}g"
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        volumes:
        - name: elasticsearch-data
          hostPath:
            path: {{ es_data_path }}
            type: DirectoryOrCreate
  - name: coordinating
    count: 2
    config:
      node.master: false
      node.data: false
      node.ingest: true
      node.ml: false
      node.max_local_storage_nodes: "25"
      xpack.monitoring.collection.enabled: "true"
      node.attr.node_name: ${NODE_NAME}
      cluster.routing.allocation.awareness.attributes: node_name
      script.cache.max_size: "500"
      script.max_compilations_rate: "256/1m"
    podTemplate:
      metadata:
        labels:
          # additional labels for pods
          component: elasticsearch
      spec:
        initContainers:
        - name: sysctl
          securityContext:
            privileged: true
          command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: role
                  operator: In
                  values:
                  - server
        volumes:
        - name: elasticsearch-data
          emptyDir: {}
        containers:
        - name: elasticsearch
          # specify resource limits and requests
          resources:
            requests:
              memory: {{es_coordinating_memory}}Gi
              cpu: {{es_coordinating_num_procs}}
          env:
          - name: ES_JAVA_OPTS
            value: "-Xms{{ es_coordinating_java_memory }}g -Xmx{{ es_coordinating_java_memory }}g"
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
  - name: ml
    count: 4
    config:
      node.master: false
      node.data: false
      node.ingest: false
      node.ml: true
      xpack.ml.enabled: true
      node.max_local_storage_nodes: "25"
      xpack.monitoring.collection.enabled: "true"
      node.attr.node_name: ${NODE_NAME}
      cluster.routing.allocation.awareness.attributes: node_name
      script.cache.max_size: "500"
      script.max_compilations_rate: "256/1m"
    podTemplate:
      metadata:
        labels:
          # additional labels for pods
          component: elasticsearch
      spec:
        initContainers:
        - name: sysctl
          securityContext:
            privileged: true
          command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: role
                  operator: In
                  values:
                  - server
        volumes:
        - name: elasticsearch-data
          emptyDir: {}
        containers:
        - name: elasticsearch
          # specify resource limits and requests
          resources:
            requests:
              memory: {{es_ml_memory}}Gi
              cpu: {{es_ml_num_procs}}
          env:
          - name: ES_JAVA_OPTS
            value: "-Xms{{ es_ml_java_memory }}g -Xmx{{ es_ml_java_memory }}g"
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  labels:
    component: elasticsearch
spec:
  selector:
    common.k8s.elastic.co/type: elasticsearch
    elasticsearch.k8s.elastic.co/cluster-name: tfplenum
    elasticsearch.k8s.elastic.co/statefulset-name: tfplenum-es-coordinating
  ports:
  - name: http
    port: {{elastic_port}}
    targetPort: http
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-headless
  labels:
    component: elasticsearch-headless
spec:
  selector:
    common.k8s.elastic.co/type: elasticsearch
    elasticsearch.k8s.elastic.co/cluster-name: tfplenum
    elasticsearch.k8s.elastic.co/statefulset-name: tfplenum-es-coordinating
  ports:
  - name: http
    port: {{elastic_port}}
    targetPort: http
  clusterIP: None

...
