apiVersion: apps/v1
kind: Deployment
metadata:
  name: es-ingest
spec:
  selector:
    matchLabels:
      component: elasticsearch
      role: ingest
  replicas: {{ elastic_ingests }}
  template:
    metadata:
      labels:
        component: elasticsearch
        role: ingest
    spec:
      initContainers:
      - name: init-sysctl
        image: busybox:{{busybox_version}}
        imagePullPolicy: IfNotPresent
        command:
        - /bin/sh
        - -c
        - "sysctl -w vm.max_map_count=262144"
        securityContext:
          privileged: true
      containers:
      - name: elasticsearch
        image: {{ elasticsearch_image }}:{{ elastic_6_version }}
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
          capabilities:
            add:
              - IPC_LOCK
        resources:
          requests:
            memory: "{{ elastic_ingest_memory }}Gi"
            cpu: "{{ elastic_ingest_cpu_request }}"
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: CLUSTER_NAME
          value: {{ elastic_cluster_name }}
        - name: HTTP_ENABLE
          value: "false"
        - name: ES_JAVA_OPTS
          value: -Xms{{ elastic_ingest_jvm_memory }}g -Xmx{{ elastic_ingest_jvm_memory }}g
        ports:
        - containerPort: {{ elastic_data_port }}
          name: http
        - containerPort: {{ elastic_management_port }}
          name: transport
        livenessProbe:
          tcpSocket:
            port: transport
          initialDelaySeconds: 20
          timeoutSeconds: 1
          periodSeconds: 15
          failureThreshold: 5
        volumeMounts:
        - name: elastic-ingest-conf
          mountPath: {{ elastic_config_path }}/elasticsearch.yml
          subPath: es-ingest-conf.yml
      volumes:
      - name: elastic-ingest-conf
        configMap:
          name: elastic-ingest
      nodeSelector:
        elasticsearch: "true"
