---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-headless
  labels:
    component: elasticsearch
    role: ingest
spec:
  clusterIP: None
  selector:
    component: elasticsearch
    role: ingest
  ports:
  - name: http
    port: {{ elastic_data_port }}
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  labels:
    component: elasticsearch
    role: ingest
spec:
  selector:
    component: elasticsearch
    role: ingest
  ports:
  - name: http
    port: {{ elastic_data_port }}
  type: LoadBalancer
