apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-search
  labels:
    component: elasticsearch
    role: search
spec:
  selector:
    component: elasticsearch
    role: search
  ports:
  - name: http
    port: {{ elastic_data_port }}
  type: LoadBalancer
