---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-job-configs
data:
  filebeat.yml: |
    filebeat.modules: {{ filebeat_modules }}

    filebeat.config.modules:
      path: ${path.config}/modules.d/*.yml
      reload.enabled: false

    #==================== Elasticsearch template setting ==========================

    setup.ilm:
      policy_name: filebeat-external
      rollover_alias: filebeat-external

    #============================== Dashboards =====================================
    setup.dashboards.enabled: true
    setup.dashboards.index: "filebeat-external-*"

    #============================== Kibana =====================================

    setup.dashboards.enabled: true
    setup.kibana.host: "https://{{ kibana_fqdn }}:{{ kibana_port }}"
    setup.kibana.ssl.enabled: true
    setup.kibana.ssl.certificate_authorities: ["/etc/ssl/certs/container/ca.crt"]
    setup.kibana.username: ${ELASTICSEARCH_USERNAME}
    setup.kibana.password: ${ELASTICSEARCH_PASSWORD}
    setup.template.overwrite: false
    setup.template.enabled: true
    setup.template.name: "filebeat-external"
    setup.template.pattern: "filebeat-external-*"

    #================================ Outputs =====================================

    #-------------------------- Elasticsearch output ------------------------------
    output.elasticsearch:
      hosts: ["https://{{ elastic_headless_fqdn }}:{{ elastic_port }}"]
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
      ssl.certificate_authorities: ["/etc/ssl/certs/container/ca.crt"]

    queue.mem:
      events: 65536
      flush.min_events: 4096
      flush.timeout: 30s

    monitoring:
      enabled: true
      elasticsearch:
        username: ${ELASTICSEARCH_USERNAME}
        password: ${ELASTICSEARCH_PASSWORD}

  filebeat-default.yml: |
    filebeat.config.modules:
      path: ${path.config}/modules.d/*.yml
      reload.enabled: false

    #==================== Elasticsearch template setting ==========================

    #============================== Kibana =====================================

    setup.dashboards.enabled: true
    setup.kibana.host: "https://{{ kibana_fqdn }}:{{ kibana_port }}"
    setup.kibana.ssl.enabled: true
    setup.kibana.ssl.certificate_authorities: ["/etc/ssl/certs/container/ca.crt"]
    setup.kibana.username: ${ELASTICSEARCH_USERNAME}
    setup.kibana.password: ${ELASTICSEARCH_PASSWORD}

    #================================ Outputs =====================================

    #-------------------------- Elasticsearch output ------------------------------
    output.elasticsearch:
      hosts: ["https://{{ elastic_headless_fqdn }}:{{ elastic_port }}"]
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
      ssl.certificate_authorities: ["/etc/ssl/certs/container/ca.crt"]

    queue.mem:
      events: 65536
      flush.min_events: 4096
      flush.timeout: 30s

    monitoring:
      enabled: true
      elasticsearch:
        username: ${ELASTICSEARCH_USERNAME}
        password: ${ELASTICSEARCH_PASSWORD}

---
apiVersion: batch/v1
kind: Job
metadata:
  name: filebeat-setup
  labels:
    component: filebeat
spec:
  template:
    metadata:
      labels:
        component: filebeat
    spec:
      containers:
      - name: "filebeat-default-setup"
        image: "beats/filebeat:{{elastic_7_version}}"
        imagePullPolicy: IfNotPresent
        env:
        - name: ELASTICSEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: tfplenum-logstash-user
              key: username
        - name: ELASTICSEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tfplenum-logstash-user
              key: password
        volumeMounts:
        - name: configs
          subPath: filebeat-default.yml
          mountPath: /usr/share/filebeat/filebeat.yml
          readOnly: true
        - name: webca
          mountPath: /etc/ssl/certs/container
          readOnly: true
        args: ['-e', 'setup', '--index-management', '--pipelines', '--dashboards']
      - name: "filebeat-setup"
        image: "beats/filebeat:{{elastic_7_version}}"
        imagePullPolicy: IfNotPresent
        env:
        - name: ELASTICSEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: tfplenum-logstash-user
              key: username
        - name: ELASTICSEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tfplenum-logstash-user
              key: password
        volumeMounts:
        - name: configs
          subPath: filebeat.yml
          mountPath: /usr/share/filebeat/filebeat.yml
          readOnly: true
        - name: webca
          mountPath: /etc/ssl/certs/container
          readOnly: true
        args: ['-e', 'setup', '--index-management', '--pipelines', '--dashboards']
      volumes:
      - name: configs
        configMap:
          name: filebeat-job-configs
      - name: webca
        secret:
          defaultMode: 420
          optional: false
          secretName: webca-certificate
      nodeSelector:
        role: server
      restartPolicy: Never
