---
apiVersion: v1
kind: ConfigMap
metadata:
  name: elastic-maps-service-configs
data:
  elastic-maps-server.yml: |
    elasticsearch:
      host: https://{{ elastic_fqdn }}:{{ elastic_port }}
      username: elastic
      password: {{ es_password.stdout }}
      ssl:
        certificateAuthorities: /etc/ssl/certs/container/ca.crt
        verificationMode: full
        certificate: /etc/ssl/certs/elasticsearch/tls.crt
        key: /etc/ssl/certs/elasticsearch/tls.key
    ssl:
      enabled: true
      certificate: /etc/ssl/certs/container/tls.crt
      key: /etc/ssl/certs/container/tls.key
    path:
      planet: /usr/src/app/data/planet.mbtiles
    port: 4343
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: elastic-maps-server
  labels:
    component: elastic-maps-server
spec:
  replicas: 1
  selector:
    matchLabels:
      component: elastic-maps-server
  template:
    metadata:
      labels:
        component: elastic-maps-server
        app: elastic-maps-server
    spec:
      containers:
      - name: maps-server
        image: elastic-maps-service/elastic-maps-server-ubi8:{{ docker_versions.elastic_7_version }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 4343
          name: https
        volumeMounts:
        - name: configs
          subPath: elastic-maps-server.yml
          mountPath: /usr/src/app/server/config/elastic-maps-server.yml
          readOnly: true
        - name: emscerts
          mountPath: /etc/ssl/certs/container
          readOnly: true
        - name: escerts
          mountPath: /etc/ssl/certs/elasticsearch
          readOnly: true
      volumes:
      - name: emscerts
        secret:
          defaultMode: 420
          optional: false
          secretName: ems-certificate
      - name: escerts
        secret:
          defaultMode: 420
          optional: false
          secretName: elasticsearch-certificate
      - name: configs
        configMap:
          name: elastic-maps-service-configs
      affinity:
{{ operator_node_affinity | to_nice_yaml(indent=2) | indent(width=8,first=True) }}

---
apiVersion: v1
kind: Service
metadata:
  name: elastic-maps-server
  labels:
    component: elastic-maps-server
spec:
  selector:
    component: elastic-maps-server
  ports:
  - name: https
    port: 443
    targetPort: 4343
  type: LoadBalancer
