<h1 mat-dialog-title>Add MIP Dialog</h1>
<div mat-dialog-content
     *ngIf="node_form_group"
     [formGroup]="node_form_group"
     fxLayout="column"
     fxLayoutAlign="start stretch"
     style="overflow: unset;">
    <!-- Hostname -->
    <mat-form-field>
      <mat-label>Hostname</mat-label>
      <input matInput
            placeholder="Enter a node hostname without the domain" formControlName="hostname"
            matTooltip="{{ get_tooltip('hostname') }}"/>
      <mat-icon matSuffix *ngIf="node_form_group.get('hostname')?.valid &&
                                 node_form_group.get('hostname')?.touched"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="node_form_group.get('hostname')?.invalid &&
                                 node_form_group.get('hostname')?.touched"
                color="warn">error</mat-icon>
      <mat-error>{{ get_error_message(node_form_group.get("hostname")) }}</mat-error>
    </mat-form-field>
    <br />
    <!-- IP Address-->
    <cvah-unused-ipaddress-autocomplete-ctrl [form_control]="node_form_group.get('ip_address')"
                                             [options]="available_ips"
                                             [label]="'Enter your node IP address here'"
                                             [mat_tooltip]="get_tooltip('ip_address')"
                                             [mat_error]="get_error_message(node_form_group.get('ip_address'))">
    </cvah-unused-ipaddress-autocomplete-ctrl>

    <!-- Deployment Type -->
    <div style="margin-top: 10px;">
      <label id="deployment-radio-group-label">Deployment Type</label>
      <mat-radio-group class="radio-group" aria-labelledby="deployment-radio-group-label"
        (change)="change_deployment_type($event)"
        formControlName="deployment_type"
        fxLayout="column" fxLayoutAlign="space-between none" >
        <mat-radio-button class="radio-button" *ngFor="let opt of deployment_options" [value]="opt.value">
          {{ opt.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <cvah-virtual-node-form #virtualNodeForm
                            [node_form_group]="node_form_group"
                            [is_visible]="is_virtual_machine_deployment()">
    </cvah-virtual-node-form>

    <ng-container *ngIf="is_baremetal_deployment()">
      <!-- MAC Address -->
      <mat-form-field>
        <mat-label>MAC Address</mat-label>
        <input matInput placeholder="Enter a mac address" formControlName="mac_address"
              matTooltip="{{ get_tooltip('mac_address') }}"/>
        <mat-icon matSuffix *ngIf="node_form_group.get('mac_address')?.valid &&
                                   node_form_group.get('mac_address')?.touched"
                  color="primary">check_circle</mat-icon>
        <mat-icon matSuffix *ngIf="node_form_group.get('mac_address')?.invalid &&
                                   node_form_group.get('mac_address')?.touched"
                  color="warn">error</mat-icon>
        <mat-error>{{ get_error_message(node_form_group.get("mac_address")) }}</mat-error>
      </mat-form-field>
    </ng-container>

    <div mat-dialog-actions>
      <button mat-raised-button
              color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button cdkFocusInitial
              color="primary" [disabled]="!node_form_group.valid" (click)="add()">Add</button>
      <mat-checkbox
          disableRipple
          style="margin-top: 0; vertical-align: middle; margin-left: 10px"
          (change)="duplicate_node_change($event)" matTooltip="{{ get_tooltip('duplicate_node') }}">
          Duplicate Node
      </mat-checkbox>
    </div>
</div>

