<h1 mat-dialog-title>Add MIP Dialog</h1>
<div mat-dialog-content [formGroup]="nodeForm"
     fxLayout="column" fxLayoutAlign="start stretch"
     style="overflow: unset;">
    <!-- Hostname -->
    <mat-form-field>
      <mat-label>Hostname</mat-label>
      <input matInput
            placeholder="Enter a node hostname without the domain" formControlName="hostname"
            matTooltip="{{ getTooltip('hostname') }}"/>
      <mat-icon matSuffix *ngIf="nodeForm.get('hostname')?.valid &&
                                 nodeForm.get('hostname')?.touched"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="nodeForm.get('hostname')?.invalid &&
                                 nodeForm.get('hostname')?.touched"
                color="warn">error</mat-icon>
      <mat-error>{{ getErrorMessage(nodeForm.get("hostname")) }}</mat-error>
    </mat-form-field>
    <br />
    <!-- IP Address-->
    <unused-ipaddress-autocomplete-ctrl
      [formControlInput]="nodeForm.get('ip_address')"
      matTooltip="{{ getTooltip('ip_address') }}"
      [options]="availableIPs"
      inputPlaceHolder='Enter your node IP address here'
      [matError]="getErrorMessage(nodeForm.get('ip_address'))">
    </unused-ipaddress-autocomplete-ctrl>

    <!-- Deployment Type -->
    <div style="margin-top: 10px;">
      <label id="deployment-radio-group-label">Deployment Type</label>
      <mat-radio-group class="radio-group" aria-labelledby="deployment-radio-group-label"
        (change)="onDeploymentTypeChange($event)"
        formControlName="deployment_type"
        fxLayout="column" fxLayoutAlign="space-between none" >
        <mat-radio-button class="radio-button" *ngFor="let opt of deploymentOptions" [value]="opt.value">
          {{ opt.text }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <virtual-node-form #virtualNodeForm [isVisible]="isVirtualMachineDeployment()" [nodeForm]="nodeForm"></virtual-node-form>

    <ng-container *ngIf="isBaremetalDeployment()">
      <!-- MAC Address -->
      <mat-form-field>
        <mat-label>MAC Address</mat-label>
        <input matInput placeholder="Enter a mac address" formControlName="mac_address"
              matTooltip="{{ getTooltip('mac_address') }}"/>
        <mat-icon matSuffix *ngIf="nodeForm.get('mac_address')?.valid &&
                                   nodeForm.get('mac_address')?.touched"
                  color="primary">check_circle</mat-icon>
        <mat-icon matSuffix *ngIf="nodeForm.get('mac_address')?.invalid &&
                                   nodeForm.get('mac_address')?.touched"
                  color="warn">error</mat-icon>
        <mat-error>{{ getErrorMessage(nodeForm.get("mac_address")) }}</mat-error>
      </mat-form-field>
    </ng-container>

    <div mat-dialog-actions>
      <button mat-raised-button
              color="warn" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button cdkFocusInitial
              color="primary" [disabled]="!nodeForm.valid" (click)="onSubmit()">Add</button>
      <mat-checkbox
          disableRipple
          style="margin-top: 0; vertical-align: middle; margin-left: 10px"
          (change)="checkDuplicate($event)" matTooltip="{{ getTooltip('duplicate_node') }}">
          Duplicate Node
      </mat-checkbox>
    </div>
</div>

