<div class="main-content2" [formGroup]="kitFormGroup">
    <!-- Title -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Kit Configuration Page Instructions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Before filling out the form, make sure you have added all of your nodes to the Kickstart page. The
          validation box at the botton of the page will guide you through filling out the form correctly.
        </p>
        <p>
          The "Open Console" button opens the logs of the last Kit configuration run.
        </p>
        <p>
          If the current Kit form loads and is disabled, you have an active configuration. If you want to start a new
          configuration, click "Clear Form" button at the top of the page. If you want to change the existing
          configuration, click "Enable Form" button at
          the top of the page and make your edits before clicking "Execute Kit".
        </p>
        <p>
          If you have an active configuration (IE: Form is disabled), and want to add a node to the Kit. First add the
          node to Kickstart page, then come back to this page to finish the rest of the configuration. Click "Add
          Node" at the botton of the page to execute.
          NOTE: The "Add Node" button will not be visible until the procedures are executed correctly.
        </p>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-stroked-button color="primary" (click)="openConsole()">
          Open Console
        </button>
        <div>
          <button mat-stroked-button color="warn" (click)="clearkitFormGroup()"
            [disabled]="kitFormGroup.disabled">Clear</button>
          <button mat-raised-button color="primary" (click)="kitFormGroup.enable()">Enable</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <br>
    <!-- Kubernetes -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Kubernetes</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
        <unused-ipaddress-autocomplete-ctrl [formControlInput]="kitFormGroup.get('kubernetes_services_cidr')"
          matTooltip="{{ getTooltip('kubernetes_services_cidr') }}" [options]="avaiable_ip_addrs"
          inputPlaceHolder='Kubernetes Service IP Range Start'
          [matError]="getErrorMessage(kitFormGroup.get('kubernetes_services_cidr'))">
        </unused-ipaddress-autocomplete-ctrl>
        <mat-hint> {{ kubernetesInputEvent() }}</mat-hint>
      </mat-card-content>
    </mat-card>
    <br>
    <!-- Resources -->
    <div style="width:100%; border-right: 1px solid black; border-left: 1px solid black;">
      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <mat-card style="border-left: none;">
        <mat-card-header>
          <mat-card-title>Total System Resources</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-total-system-resource-card [nodes]="kitFormGroup.get('nodes')">
          </app-total-system-resource-card>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Total Server Resources</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-total-server-resources-card [nodes]="kitFormGroup.get('nodes')">
          </app-total-server-resources-card>
        </mat-card-content>
      </mat-card>
      <ng-container *ngIf="system_name === 'DIP'">
        <mat-card style="border-right: none;">
          <mat-card-header>
            <mat-card-title>Total Sensor Resources</mat-card-title>
          </mat-card-header>
          <mat-card-content style="height: 70%;">
            <app-total-sensor-resources-card [nodes]="kitFormGroup.get('nodes')">
            </app-total-sensor-resources-card>
          </mat-card-content>
        </mat-card>
      </ng-container>
      </div>
    </div>
    <br>
    <!-- Node -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Nodes</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
        <mat-progress-bar mode="indeterminate" *ngIf="isGettingDeviceFacts"></mat-progress-bar>
        <mat-accordion multi="true" formArrayName="nodes">
          <mat-expansion-panel expanded="true" *ngFor="let node of kitNodes.controls; let i = index" style="background-color: #5555;">
            <mat-expansion-panel-header>
              <mat-panel-title> Node {{ i + 1 }} </mat-panel-title>
              <mat-panel-description>{{node.get('hostname').value}}</mat-panel-description>
            </mat-expansion-panel-header>
            <section style="padding: 0.3em;" [formGroupName]="i">
              <ng-container *ngIf="system_name ==='DIP'">
                <app-kit-node-form mode="dip" [node]="node" [formArray]="kitFormGroup.get('nodes').controls"></app-kit-node-form>
              </ng-container>
              <ng-container *ngIf="system_name === 'GIP'">
                <app-kit-node-form mode="gip" [node]="node" [formArray]="kitFormGroup.get('nodes').controls"></app-kit-node-form>
              </ng-container>
              <div fxLayout="row" fxLayoutAlign="end center" *ngIf="node.controls.node_type.value == 'Sensor'">
                <button mat-button color="warn"  (click)="canRemove(i)">Remove</button>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    <br>
    <!-- Validation -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Validation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section>
          <mat-list>
            <mat-list-item class="validation-errors"
              *ngFor="let error of getFormValidationErrors(kitFormGroup.controls); let j = index">
              {{ j + 1 }}. {{ error.error_value }}
            </mat-list-item>
            <mat-list-item class="validation-errors" *ngIf="kitFormGroup?.errors && kitFormGroup.enabled">
              {{getFormValidationErrors(kitFormGroup.controls).length + 1}}. {{ kitFormGroup?.errors?.error_message }}
            </mat-list-item>
          </mat-list>
          <div>
            <p *ngIf="kitFormGroup.valid">
              Looks good! Press 'Execute Kit' whenever you're ready!
            </p>
            <p *ngIf="kitFormGroup.disabled">
              Kit is currently disabled. Enable it to edit the form.
            </p>
          </div>
        </section>
      </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="accent" (click)="openGenKitInventoryDialog()"
          [disabled]="kitFormGroup.invalid || kitFormGroup.disabled">Generate Inventory</button>
        <button mat-raised-button color="primary" (click)="openExecuteKitDialog()" [disabled]="kitFormGroup.invalid || kitFormGroup.disabled">Execute Kit</button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
