<mat-expansion-panel id="cvah-update-docs-form-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>Update Controller Documentation</mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row">
      <button mat-raised-button
              id="cvah-update-docs-form-button-update-documentation-guide"
              fxFlex="none"
              color="accent"
              (click)="open_update_documentation_message_dialog()">Documentation Guide
      </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around stretch">

      <!-- Space Name -->
      <mat-form-field>
        <mat-label>Space Name</mat-label>
        <input matInput
               id="cvah-update-docs-form-space-name-input"
               [formControl]="space_name_form_control"
               placeholder="THISISCVAH">
        <mat-icon matSuffix *ngIf="space_name_form_control.valid &&
                                   space_name_form_control.touched"
                  id="cvah-update-docs-form-space-name-mat-icon-check-circle"
                  color="primary">check_circle</mat-icon>
        <mat-icon matSuffix *ngIf="space_name_form_control.invalid &&
                                   space_name_form_control.touched"
                  id="cvah-update-docs-form-space-name-mat-icon-error"
                  color="warn">error</mat-icon>
        <mat-error id="cvah-update-docs-form-space-name-mat-error">{{ get_error_message(space_name_form_control) }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button
              id="cvah-update-docs-form-button-choose-zip-file"
              class="button-choose-zip-file"
              fxFlex="none"
              color="primary"
              (click)="fileInput.click()">Choose Zip File</button>
      <input hidden
             #fileInput
             fxFlex="0"
             id="cvah-update-docs-form-input-hidden"
             type="file"
             accept=".zip"
             (change)="handle_zip_file_input($event.target.files)">
      <mat-form-field fxFlex *ngIf="zip_for_upload">
        <mat-label>File Name</mat-label>
        <input matInput
               id="cvah-update-docs-form-file-name-input"
               [formControl]="file_name_form_control">
      </mat-form-field>
    </div>

    <!-- Action Button -->
    <div mat-dialog-actions class="action-button-wrapper">
      <button mat-raised-button
              cdkFocusInitial
              id="cvah-update-docs-form-button-upload"
              color="primary"
              (click)="upload_button_click()"
              [disabled]="!zip_for_upload || !space_name_form_control.valid || space_name_form_control.untouched">Upload
      </button>
    </div>
  </div>
</mat-expansion-panel>
