<mat-card [formGroup]="kitForm">
  <mat-card-header *ngIf="hasTitle">
    <mat-card-title>
      <a id="app-settings-kitsettings-form-mat-card-mat-card-header-mat-card-title-a" (click)="toggleCard()">
        <em *ngIf="!isCardVisible"
            class="material-icons">chevron_right</em>
        <em *ngIf="isCardVisible"
            class="material-icons">expand_more</em>
        <span style="vertical-align: top;">Kit Settings</span>
        </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="isCardVisible || !hasTitle" fxLayout="column" fxLayoutAlign="space-around stretch">
    <form [formGroup]="kitForm">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <p>Requires General Settings to be completed</p>

        <!-- Password -->
        <app-password-message></app-password-message>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" (keyup)="reEvaluate($event)"
            placeholder="You must enter a root password with a minimum length of 15 characters."
            formControlName="password">
          <mat-icon matSuffix *ngIf="kitForm.get('password').valid && kitForm.get('password').touched" color="primary">
            check_circle</mat-icon>
          <mat-icon matSuffix *ngIf="kitForm.get('password').invalid && kitForm.get('password').touched" color="warn">
            error</mat-icon>
          <mat-error>{{getErrorMessage(kitForm.get("password"))}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Retype password</mat-label>
          <input matInput type="password" formControlName="re_password" (keyup)="reEvaluate($event)"
            placeholder="You must re-enter the root password">
          <mat-icon matSuffix *ngIf="kitForm.get('re_password').valid && kitForm.get('re_password').touched"
            color="primary">check_circle</mat-icon>
          <mat-icon matSuffix *ngIf="kitForm.get('re_password').invalid && kitForm.get('re_password').touched"
            color="warn">error</mat-icon>
          <mat-error>{{getErrorMessage(kitForm.get("re_password"))}}</mat-error>
        </mat-form-field>
        <!-- Upstream DNS Server -->
        <mat-form-field>
          <mat-label>Upstream DNS Server</mat-label>
          <input matInput placeholder="Enter your kit's upstream DNS server here." formControlName="upstream_dns"
            matTooltip="{{ getTooltip('upstream_dns') }}" />
          <mat-icon matSuffix
            *ngIf="kitForm.get('upstream_dns').valid && kitForm.get('upstream_dns').touched"
            color="primary">check_circle</mat-icon>
          <mat-icon matSuffix
            *ngIf="kitForm.get('upstream_dns').invalid && kitForm.get('upstream_dns').touched"
            color="warn">error</mat-icon>
          <mat-error>{{ getErrorMessage(kitForm.get("upstream_dns")) }}</mat-error>
        </mat-form-field>
        <!-- Upstream NTP Server -->
        <mat-form-field>
          <mat-label>Upstream NTP Server</mat-label>
          <input matInput placeholder="Enter your kit's upstream NTP server here." formControlName="upstream_ntp"
            matTooltip="{{ getTooltip('upstream_ntp') }}" />
          <mat-icon matSuffix *ngIf="kitForm.get('upstream_ntp').valid && kitForm.get('upstream_ntp').touched"
            color="primary">check_circle</mat-icon>
          <mat-icon matSuffix *ngIf="kitForm.get('upstream_ntp').invalid && kitForm.get('upstream_ntp').touched"
            color="warn">error</mat-icon>
          <mat-error>{{ getErrorMessage(kitForm.get("upstream_ntp")) }}</mat-error>
        </mat-form-field>
        <!-- Kubernetes CIDR -->
        <mat-form-field>
          <mat-label>Kubernetes Service Range</mat-label>
          <mat-select formControlName="kubernetes_services_cidr" (selectionChange)="checkKubeSvcRange()">
            <mat-option *ngFor="let option of kubernetes_ip_options; let j = index;" [value]="option">{{ option }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix *ngIf="kube_svc_used_ips"
            matTooltip="The following IPs are in use: {{ kube_svc_used_ips }}" color="warn">warning</mat-icon>
        </mat-form-field>
          <mat-hint>{{ kubernetesInputEvent() }}</mat-hint>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="isCardVisible">
    <button matTooltip="{{ kitButtonToolTip }}" mat-raised-button color="primary" [disabled]="!kitForm.valid || !kitStatus.general_settings_configured || kitJobRunning" (click)="saveKitSettings()">Save</button>
    <button *ngIf="job_id" mat-raised-button color="primary" (click)="openPreviousJob()">Open Console</button>
  </mat-card-actions>
</mat-card>
