vrrp_instance VRRP1 {
{% if inventory_hostname in groups['primary_server'] %}
    state MASTER
{% else %}
    state BACKUP
{% endif %}
    interface {{ management_interface }}
    virtual_router_id 41
{% if inventory_hostname in groups['primary_server'] %}
    priority 200
{% else %}
    priority 100
{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1066
    }
    virtual_ipaddress {
        {{ kube_virtual_ip }}/24
    }
}
