<ng-container *ngIf="node">
  <ng-container *ngIf="node.get('deviceFacts')">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px"
        fxLayout.xs="column" [formGroup]="node">
      <mat-card style="border: none;" fxFlex="30%">
        <mat-card-content style="background-color: #222;">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>developer_board</mat-icon>
              <h4 mat-line>CPU Cores Available:
                {{node.get('deviceFacts').value.cpus_available | number:'1.0-2'}} </h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>memory</mat-icon>
              <h4 mat-line>Memory Available:
                {{node.get('deviceFacts').value.memory_available | number:'1.0-2' }} GB
              </h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>router</mat-icon>
              <h4 mat-line>IP Address: {{node.get('deviceFacts').value.default_ipv4_settings?.address}}
              </h4>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
        <ng-container *ngIf="isSystemDIP">
          <mat-form-field>
            <mat-label>Select Node Type</mat-label>
            <mat-select formControlName="node_type" matTooltip="{{ getTooltip('node_type') }}" (selectionChange)="onNodeTypeChange($event)">
              <mat-option value="Server">Server</mat-option>
              <mat-option value="Sensor">Sensor</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="node.controls.node_type.value == 'Server'" fxLayout="column"
            fxLayoutAlign="start stretch">
            <mat-checkbox formControlName="is_master_server"
              (change)="deselectOtherMasters()"
              matTooltip="{{ getTooltip('is_master_server') }}">Kubernetes Master
              Server</mat-checkbox>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
