<ng-container *ngIf="node">
  <ng-container *ngIf="node.get('deviceFacts').value">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px"
         fxLayout.xs="column" [formGroup]="node">
      <mat-card style="border: none;" fxFlex="30%">
        <mat-card-content style="background-color: #222;">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>developer_board</mat-icon>
              <h4 mat-line id="{{ generateUniqueHTMLID('app-kit-node-form-div-mat-card-mat-card-content-mat-list-mat-list-item-developer-board-h4-cpu-cores-available') }}">
                CPU Cores Available: {{ node.get('deviceFacts').value.cpus_available | number:'1.0-2' }} </h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>memory</mat-icon>
              <h4 mat-line id="{{ generateUniqueHTMLID('app-kit-node-form-div-mat-card-mat-card-content-mat-list-mat-list-item-memory-h4-memory-available') }}">
                Memory Available: <span *ngIf="node.get('deviceFacts').value.memory_available">{{ node.get('deviceFacts').value.memory_available | number:'1.0-2' }} GB</span>
              </h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>router</mat-icon>
              <h4 mat-line id="{{ generateUniqueHTMLID('app-kit-node-form-div-mat-card-mat-card-content-mat-list-mat-list-item-router-h4-ip-address') }}">
                IP Address: {{ node.get('management_ip_address').value }}
              </h4>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
        <ng-container *ngIf="isSystemDIP">
          <!-- Node Type -->
          <mat-form-field id="{{ generateUniqueHTMLID('app-kit-node-form-div-div-mat-form-field-select-node-type') }}">
            <mat-label>Select Node Type</mat-label>
            <mat-select id="{{ generateUniqueHTMLID('app-kit-node-form-div-div-mat-form-field-select-node-type-mat-select') }}"
                        formControlName="node_type" matTooltip="{{ getTooltip('node_type') }}" (selectionChange)="onNodeTypeChange($event)">
              <mat-option id="{{ generateUniqueHTMLID('app-kit-node-form-div-div-mat-form-field-select-node-type-mat-select-mat-option-server') }}"
                          value="Server">Server</mat-option>
              <mat-option id="{{ generateUniqueHTMLID('app-kit-node-form-div-div-mat-form-field-select-node-type-mat-select-mat-option-sensor') }}"
                          value="Sensor">Sensor</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="node.controls.node_type.value == 'Server'" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-checkbox id="{{ generateUniqueHTMLID('app-kit-node-form-div-div-div-mat-checkbox-kubernetes-master-server') }}"
                          formControlName="is_master_server" (change)="deselectOtherMasters()"
                          matTooltip="{{ getTooltip('is_master_server') }}">Kubernetes Master Server</mat-checkbox>
          </div>
        </ng-container>
        <div *ngIf="node.get('error').value">
          {{ node.get('error').value.error_message }}
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
