.idea
.vscode
*.pyc
*.orig
*.swp
.fuse*
node_modules
tfp-env
.remote-sync.json
frontend/src/assets/confluence/
frontend/package-lock.json
*monitor_install.exe
backend/rules
backups/
package-lock.json
VMs.yml
venv
*#
*.iso
*.pcap
*.retry
*.un~
*~
.#*
.*.sw[a-z]
.DS_Store
.bundle/*
.kitchen
.kitchen.local.yml
.kitchen/
.vagrant
.vs
/cookbooks
Berksfile.lock
Gemfile.lock
Vagrantfile.vmware
\#*#
pkg/
repo/
tmp/
# We dont want to commit tokens to git
core/playbooks/files/admin.conf
core/playbooks/files/join-node.sh
playbooks/inventory/dev/*
charts/*/*.tgz
inventory.yml
testing/testy-tester/testcases/userdefined/
infrastucture/Firewall/Firewall.ova
infrastucture/Software/
*.bin
*.tar
*.old
infrastucture/Kit_*/
*.rpm

controllersetupsettings.yml
kickstartsettings.yml
mipkickstartsettings.yml
catalogsettings.yml
nodestoscan.txt
