.idea
.vscode
*.pyc
*.orig
*.swp
.fuse*
node_modules
tfp-env
.venv
.remote-sync.json
frontend/src/assets/confluence/
*monitor_install.exe
backend/rules
backups/
VMs.yml
venv
*#
*.iso
*.pcap
*.retry
*.un~
*~
.#*
.*.sw[a-z]
.DS_Store
.bundle/*
.kitchen
.kitchen.local.yml
.kitchen/
.vagrant
.vs
/cookbooks
Berksfile.lock
Gemfile.lock
Vagrantfile.vmware
\#*#
pkg/
repo/
tmp/
# We dont want to commit tokens to git
core/playbooks/files/admin.conf
core/playbooks/files/join-node.sh
playbooks/inventory/dev/*
charts/*/*.tgz
inventory.yml
testing/robotest-output
testing/robotest-output/**
infrastructure/Firewall/Firewall.ova
infrastructure/Software/
*.bin
*.tar
*.old
infrastructure/Kit_*/
*.rpm
*.env

.devcontainer/**/*
.history/**/*

testing/regression/ctdt-testers/robot-output
testing/regression/ctdt-testers/robot-output/**/*

controllersetupsettings.yml
catalogsettings.yml
mipnodestoscan.txt
dipnodestoscan.txt
kubernetes_config
hwcontrollersetupsettings_dip.yml
hwkickstartsettings.yml
hwkitsettings.yml
kitsettingsv2.yml
core/playbooks/inventory/*.yml
kitsettingsv2.yml
mip_nodes.yml
mip_settings.yml
*nodesettingsv2*.yml
hwcontrollersetupsettings.yml
web/frontend/yarn.lock
.tool-versions
umls/
*-internal_vdd.csv
tests/
.pyreverserc
.cz.toml
Chart.yaml
values.yaml
.commit.json
