<div class="main-content2">
    <mat-card>
        <mat-card-header>
          <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
              <div>Test Files</div>
              <div>
                <button mat-raised-button id="app-pcap-form-div-mat-card-mat-card-header-mat-card-title-button-choose-pcap-file"
                        color="primary" style="margin-right: 10px;" (click)="fileInput.click()">Choose PCAP File</button>
                <button mat-raised-button id="app-pcap-form-div-mat-card-mat-card-header-mat-card-title-button-upload"
                  color="primary" (click)="uploadFile()" [disabled]="!pcapToUpload" name="execute_kickstart">Upload
                  <span *ngIf="pcapToUpload" id="app-pcap-form-div-mat-card-mat-card-header-mat-card-title-button-upload-span-pcap-to-upload" style="font-weight: bold;"> {{ pcapToUpload.name }}</span>
                </button>
                <input hidden #fileInput id="app-pcap-form-div-mat-card-mat-card-header-mat-card-title-input-hidden-file"
                        (change)="handleFileInput($event.target.files)" type="file"accept=".pcap,.PCAP">
              </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="pcaps" aria-describedby="PCAP Replay Table">
                <!-- Name -->
                <ng-container matColumnDef="name">
                    <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-name' }}">{{ pcap.name }}</td>
                </ng-container>
                <!-- Modified Date -->
                <ng-container matColumnDef="mod_date">
                    <th scope="col" mat-header-cell *matHeaderCellDef>Modified Date</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-modified-date' }}"
                        style="padding-right: 5px; padding-left: 5px;">{{ pcap.createdDate }}</td>
                </ng-container>
                <!-- Hash -->
                <ng-container matColumnDef="hash">
                    <th scope="col" mat-header-cell *matHeaderCellDef>
                        <span *ngIf="showMd5"><a (click)="showMD5()"><strong>MD5</strong></a>&nbsp;</span>
                        <span *ngIf="!showMd5"><a (click)="showMD5()">MD5</a>&nbsp;</span>
                        <span *ngIf="showSha1"><a (click)="showSHA1()"><strong>SHA1</strong></a>&nbsp;</span>
                        <span *ngIf="!showSha1"><a (click)="showSHA1()">SHA1</a>&nbsp;</span>
                        <span *ngIf="showSha256"><a (click)="showSHA256()"><strong>SHA256</strong></a>&nbsp;</span>
                        <span *ngIf="!showSha256"><a (click)="showSHA256()">SHA256</a>&nbsp;</span>
                    </th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-hash' }}">{{ getHash(pcap.hashes) }}</td>
                </ng-container>
                <!-- Size -->
                <ng-container matColumnDef="size">
                    <th scope="col" mat-header-cell *matHeaderCellDef>Size MB</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-size-mb' }}"
                        style="padding-left: 5px;">{{ pcap.size /1000000 | number:'1.0-3' }}</td>
                </ng-container>
                <!-- Action -->
                <ng-container matColumnDef="action">
                    <th scope="col" mat-header-cell *matHeaderCellDef style="padding-left: 10px;">Action</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-action' }}">
                        <button mat-icon-button id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-action-button-play-arow' }}"
                                matTooltip="Replay PCAP on Target Sensor" (click)="openPCAPReplayModal(pcap)">
                            <em id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-action-button-play-arow-em' }}"
                                class="material-icons">play_arrow</em>
                        </button>
                        <button mat-icon-button id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-action-button-delete' }}"
                                matTooltip="Delete PCAP" (click)="openConfirmModal(pcap)">
                            <em id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-td-' + z + '-action-button-delete-em' }}"
                                class="material-icons" style="color:red;">delete</em>
                        </button>
                    </td>
                </ng-container>
                <!-- Table Rows -->
                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: displayColumns; let z = index;"
                    id="{{ 'app-pcap-form-div-mat-card-mat-card-content-table-tr-mat-row-' + i }}"></tr>
            </table>
            <mat-paginator #pcapPaginator id="app-pcap-form-div-mat-card-mat-card-content-mat-paginator"
                           [pageSize]="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
