<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a (click)="toggleCard()">
        <em class="material-icons" *ngIf="!isCardVisible">chevron_right</em>
        <em class="material-icons" *ngIf="isCardVisible">expand_more</em>
        <span style="vertical-align: top;">Update Controller Documentation</span>
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="isCardVisible" fxLayout="column" fxLayoutAlign="start start">
    <div>
      <ol>
        <li>Navigate to <strong>6 System Documentation/Releases</strong> on the DI2E confluence page. Click <a href="https://confluence.di2e.net/pages/viewpage.action?pageId=287884557">here</a> to access it.</li>
        <li>Click on the top level <strong>6.3 CVAH 3.3</strong> documentation</li>
        <li>Click on the <strong style="font-size: 16px;">...</strong> button in the top right.</li>
        <li>Click on <strong>Export to Html</strong> (Note: For offline documentation you can also select Export to PDF. You will need HTML documentation if you wanted to update the controller.)</li>
        <li>A modal popup will appear make sure "Export Profile" is set to No Profile.</li>
        <li>Ensure that "Select Content" is set to Current Page with all child pages.</li>
        <li>Click Export button.  The download will take some time to complete so grab a cup of coffee.</li>
        <li>Click on the <strong>Choose Zip File</strong> button at the bottom of this box.</li>
        <li>Navigate to where you saved the downloaded documentation and select it.  More than likley it will be in your downloads folder.</li>
        <li>Click on the <strong>Upload &lt;documentation zip file&gt;</strong> button. Wait for confirmation message.</li>
        <li>Finally select the <strong>THISISCVAH</strong> link in the navigation bar!</li>
      </ol>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="isCardVisible">
    <button mat-raised-button color="primary" (click)="fileInput.click()">Choose Zip File</button>
    <input hidden (change)="handleFileInput($event.target.files)" #fileInput type="file" id="zip_file_uploader" accept=".zip">
    <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="uploadFile()" [disabled]="!zipToUpload" name="execute_kickstart">Upload
      <span *ngIf="zipToUpload">&nbsp;{{ zipToUpload.name }}</span>
    </button>
  </mat-card-actions>
</mat-card>
