apiVersion: v1
name: arkime
home: https://bitbucket.di2e.net/projects/THISISCVAH/repos/tfplenum/browse/charts/moloch
version: {{ component["helm_version"] }}
appVersion: {{ component["app_version"] }}
description: Large scale, open source, indexed packet capture and search.
annotations:
  pmoSupported: true
  isSensorApp: true
