@import '~@angular/material/theming';
@include mat-core();
@import '../app/notifications/notification-module/notifications-theme';
@import '../app/top-navbar/top-navbar-theme';
@import '../app/catalog/chart-list/chart-list-theme';
@import '../app/catalog/page/catalog-page-theme';
@import '../app/health-dashboard/dashboard/dashboard_theme';


@mixin global-theme($theme) {
  p {
    color: map-get($theme, primary-text-color);
    font-size: map-get($theme, primary-font-size);
  }

  snack-bar-container.mat-snack-bar-container {
    background-color: map-get($theme, first-elevation-dark-background);
    color: map-get($theme, primary-text-color);
    border: 1px solid + map-get($theme, primary-border-color);
  }

  a {
    color: map-get($theme, primary-link-color);
    cursor: pointer;
  }

  .btn-secondary {
    background-color: map-get($theme, first-elevation-dark-background);
    border-color: map-get($theme, secondary-border-color);
  }

  mat-expansion-panel .mat-expansion-panel-body {
    padding-right: 16px;
  }

  mat-dialog-container{
    background-color: map-get($theme, first-elevation-dark-background) !important;

    .mat-stepper-horizontal, .mat-stepper-vertical {
      background-color: inherit;
    }
  }

  mat-dialog-container, .main-content2, .container-fluid {
    .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
      background-color: map-get($theme, primary);
      color: map-get($theme, primary-btn-text-color);
    }

    .mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
      background-color: map-get($theme, warn);
      color: map-get($theme, primary-btn-text-color);
    }
  }

  .main-content2::before {
    display: block;
    content: "\00a0";
  }
  .main-content2::after {
    display: block;
    content: "\00a0";
  }

  .main-content2 {
    width: fit-content;
    margin: 0 auto;
    max-width: 1200px;

    .pageInstructions {
      background-color: map-get($theme, first-elevation-dark-background);
      padding: 15px 15px 3px 15px;
    }

    .mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child, .mat-card-actions .mat-stroked-button:first-child {
      margin-bottom: 10px;
      margin-left: 15px;
    }

    .mat-card-actions .mat-button:last-child, .mat-card-actions .mat-raised-button:last-child, .mat-card-actions .mat-stroked-button:last-child {
      margin-bottom: 10px;
      margin-right: 15px;
    }

    .mat-card>.mat-card-actions:last-child {
      margin-bottom: 0px;
    }

    .mat-card-actions, .mat-card-content, .mat-card-subtitle {
      margin-bottom: 0px;
    }

    .mat-card-header .mat-card-title {
      font-size: 16pt;
    }

    .mat-form-field {
      margin-bottom: 1em;
    }

    mat-vertical-stepper {
      background-color: map-get($theme, first-elevation-dark-background);
      width: 1200px;
      margin-top: 40px;
    }

    mat-card {
      border: 1px solid + map-get($theme, primary-border-color);
      padding: 0px;
      background-color: map-get($theme, first-elevation-dark-background);
      width: 1200px;

      mat-card-title {
        width: 100%;
      }

      .validation-errors {
        color: map-get($theme, warn);
        height: 35px;
      }

      mat-card-header {
        background-color: map-get($theme, header-background);
        border-radius: 4px 4px 0px 0px;
        padding: 12px 0px 0px 0px;

        .mat-card-header-text{
          width: 100%;
        }
      }

      mat-card-actions {
        background-color: map-get($theme, footer-background);
        border-radius: 0px 0px 4px 4px;
        padding: 12px 0px 0px 0px;
        margin: 0px 0px 0px 0px;

        button {
          margin-bottom: 10px;
          margin-left: 15px;
        }
      }

      mat-card-content {
        padding: 16px;
        background-color: map-get($theme, first-elevation-dark-background);

        .mat-paginator-outer-container {
          background-color: map-get($theme, first-elevation-dark-background);
        }

        table {
          background-color: map-get($theme, first-elevation-dark-background);
          width: 100%;
          th {
            font-weight: bold;
            font-size: 13px;
            color: white;
          }

          .mat-paginator-outer-container {
            background-color: map-get($theme, second-elevation-dark-background);
          }

          table {
            background-color: map-get($theme, second-elevation-dark-background);
          }
        }
      }

      mat-paginator {
        font-size: 10pt;

        .mat-paginator-page-size-select{
          margin: 0px;
        }
      }
      mat-vertical-stepper.inMatCard {
        width: 100%;
        margin-top: 0px;
      }

    }

  }

  .container-fluid {
    width: 100%;

    mat-card {
      background-color: map-get($theme, first-elevation-dark-background);
      padding: 0px;

      mat-card-header {
        background-color: map-get($theme, header-background);
        border-radius: 4px 4px 0px 0px;
        padding: 12px 0px 0px 0px;

        .mat-card-header-text{
          width: 100%;
        }
      }

      mat-card-content {
        padding-left: 1em;

        mat-form-field{
          width: 100%;
        }

        .line-numbers {
          display: inline-block;
          margin: 0px 5px 0px 0px;
        }

        .line-numbers div {
          font-size: 14px;
        }

        .text-area-wrapper {
          display: inline-block;
          margin: 0px;
          width: 80%;
        }

        .text-area {
          overflow: hidden;
          padding: 0px;
          overflow-x: auto;
          overflow-y: hidden;
          font-size: 14px;
          width: 10000px;
          background-color: black;
          color: lightgreen;
        }

        textarea {
          resize: none;
        }
      }

      mat-card-footer{
        margin: 0px;
        padding: 0px 15px 15px 15px;
      }
    }

    .line-numbers {
      display: inline-block;
      margin: 0 5px 0 0;
    }
  }
}

@mixin angular-tfplenum-theme($theme) {
  @include global-theme($theme);
  @include notifications-theme($theme);
  @include top-navbar-theme($theme);
  @include chart-list-theme($theme);
  @include catalog-page-theme($theme);
}

@mixin theming($theme-tfplenum, $theme-material, $typography-material: null) {
    @include angular-tfplenum-theme($theme-tfplenum);
    @include dashboard-theme($theme-material);

    // Include theme styles for core and each component used in your app.
    // Alternatively, you can import and @include the theme mixins for each component
    // that you are using.
    @include angular-material-theme($theme-material);
    @if $typography-material {
        @include angular-material-typography($typography-material);
    }
    /* include mixin from component, if desired*/
}
