@import '~@angular/material/theming';
@import './theme-base';

$dark-theme: (
    warn: #ff4949,
    primary: #1eb980,

    border-radius: 8px,
    background-light: #eaedef,
    layout-text: #38383f,

    /* Button colors*/
    primary-btn-color: #5f9ea0,
    primary-btn-text-color: white,
    primary-link-color: lightgreen,
    danger-btn-color: #8b0000,
    danger-btn-border-color: #8b0000,

    /* Background colors */
    navbar-background-color: black,
    base-dark-background: #313131,
    first-elevation-dark-background: #222,
    second-elevation-dark-background: #313131,
    header-background: black,
    footer-background: black,

    /* Border Colors */
    primary-border-color: black,
    secondary-border-color: #333,

    /* Text colors */
    primary-text-color: lightgreen,

    /* Font size */
    primary-font-size: 12pt,
    form-field-font-size: 14pt
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tfplenum-app-primary: mat-palette($mat-green);
$tfplenum-app-accent:  mat-palette($mat-light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tfplenum-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tfplenum-app-theme: mat-dark-theme($tfplenum-app-primary, $tfplenum-app-accent, $tfplenum-app-warn);

.mip-theme {
    @include theming($dark-theme, $tfplenum-app-theme);
}
