[com.redhat.AccountsServiceUser.System]
id='rhel'
version-id='{{ rhel_version.stdout }}'

[User]
Session=gnome-classic
XSession=gnome-classic
SessionType=x11
{% if item!="root" %}
Icon=/home/{{ item }}/.face
{% endif %}
SystemAccount=false
