if ( -not ([Security.Principal.WindowsPrincipal] `
            [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole( `
            [Security.Principal.WindowsBuiltInRole] "Administrator") ) {
 Write-Error "Must have administrator privileges to run this script."
 exit 1
}

{% if install_sysmon | upper == 'TRUE' %}
#Uninstall Sysmon
{{ target_dir  }}\Sysmon\Sysmon64.exe -u 2> $null
Remove-Item -Path {{ target_dir }}\Sysmon -recurse
{% endif %}


{% if install_winlogbeat | upper == 'TRUE' %}
#Uninstall Winlogbeat
{{ target_dir }}\Winlogbeat\uninstall-service-winlogbeat.ps1
function getWlb {
  return Get-Service -Name "winlogbeat" 2> $null
}
$wlb = getWlb
Write-Host -NoNewLine "Waiting for winlogbeat service to stop..."
while ( $wlb ) {
  $wlb = getWlb
  Write-Host -NoNewLine "."
  sleep 1
}
"done"

Remove-Item -Path {{ target_dir }}\Winlogbeat -recurse
{% endif %}

{% if install_endgame | upper == 'TRUE' %}
#Uninstall Endgame
{% set install_param = '-u force' %}
{% include 'EndgameInstaller.j2' %}
{% endif %}
