{% include 'InstallerCommon.j2' %}

function CheckNoService([string]$service_name, $error_flag) {
  Sleep 1
  $svc = Get-Service -Name $service_name -ErrorAction SilentlyContinue
  if( $svc ) {
    $Script:return_value = $return_value -bor $error_flag
    return $false
  }
  return $true
}

{% if install_sysmon | upper == 'TRUE' %}
#Uninstall Sysmon
UninstallSysmon
CheckNoService -service_name {{ sysmon_service_name }} -error_flag ($sysmon)
{% endif %}


{% if install_winlogbeat | upper == 'TRUE' %}
#Uninstall Winlogbeat
UninstallWinlogbeat
CheckNoService -service_name winlogbeat -error_flag ($winlogbeat)
{% endif %}

{% if install_endgame | upper == 'TRUE' %}
#Uninstall Endgame
{% set install_param = '-u force' %}
{% include 'EndgameInstaller.j2' %}
{% endif %}

echo "Return Code: $return_value"
return $return_value
