vmaccepteula
install --overwritevmfs --firstdisk
reboot

rootpw --iscrypted $1$6Sc5J137$mX5NndlsPUqtTjzSJigbA/

%firstboot --interpreter=busybox

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

#Shut off usbarbitor service
/etc/init.d/usbarbitrator stop

function set_disk_name(){
    local is_empty=false
    local disk_name=""
    esxcli storage core device list | while read line; do
        if [ -z "$disk_name" ]; then
            is_empty=true
        fi

        if [ "$is_empty" = true ]; then
            disk_name="$line"
            is_empty=false
        fi

        if [ "$line" = "Is USB: true" ]; then
            echo "$disk_name"
            break
        fi

        if [ "$line" = "Is USB: false" ]; then
            disk_name=""
        fi
    done
}

DISK_NAME=$(set_disk_name)

# Copy pfsense VM to the appropriate datastore.
mkdir -p /vmfs/volumes/datastore1/firewall/tmp
/bin/mcopy -i "/dev/disks/${DISK_NAME}:5" ::/firewall/firewall* /vmfs/volumes/datastore1/firewall/

# Clone the firewall disk to fix export errors
cd /vmfs/volumes/datastore1/firewall/
vmkfstools -i firewall-disk1.vmdk tmp/firewall-disk1.vmdk -d thin
mv -f tmp/* .
rm -rf tmp/

exec < /dev/tty1 > /dev/tty1 2>&1
chvt 1

function menu_header {
  echo " ___ _ _ ___| |_    _ _ _ ___ ___ ___ ___ ___    ___ _ _ ___| |_ ___ _____";
  echo "|  _| | | .'|   |  | | | | -_| .'| . | . |   |  |_ -| | |_ -|  _| -_|     |";
  echo "|___|\_/|__,|_|_|  |_____|___|__,|  _|___|_|_|  |___|_  |___|_| |___|_|_|_|";
  echo "                                 |_|                |___|                  ";
}

function review {
  echo "Subnet review for CVA/H program."
  echo "Global Kit ID: $subnets"
  echo "Management: 10.${x}.$((y)).0/24"
  echo "Internal: 10.${x}.$((y + 1)).0/24"
  echo "DMZ: 10.${x}.$((y + 2)).0/24"
  echo "Spare: 10.${x}.$((y + 3)).0/24"
}

function decode_subnets {
  a=$(echo -n ${1:0:3} | sed -e  "s/^0\{0,2\}//g")
  b=$(echo -n ${1:3:3} | sed -e  "s/^0\{0,2\}//g")
  if [ $((a <= 127)) == "1" ]; then
    x="$(($a))"
    y="$(($b * 4 + 124))"
  else
    x="$(($a))"
    y="$((($b - 1) * 4))"
  fi
}

function validate {
  echo -n $1 | grep -q -E '^(((0[0-9][0-9]|1[0-2][0-7])(0[0-2][0-9]|0[0-3][0-2]))|((12[8-9]|1[3-9][0-9]|2[0-3][0-2]|23[012456789]|24[0-9]|25[0-3])(0[0-5][0-9]|06[0-4])))$'
}

menu_header
read -p 'Enter domain: ' DOMAIN
while true;
do
  read -p "Enter the string that encodes your subnets: " SUBNETS
  validate $SUBNETS
  if [ $? -eq 0 ]; then
    break
  fi
done
# Decodes the global kit id and sets the x and y variables.
decode_subnets $SUBNETS
review

# Setup portgroups
esxcli network vswitch standard portgroup add --portgroup-name=ESXI-MGMT --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=DMZ --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Internal --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=External --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Management --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Spare --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup set -p ESXI-MGMT --vlan-id 32
esxcli network vswitch standard portgroup set -p Management --vlan-id 32
esxcli network vswitch standard portgroup set -p Spare --vlan-id 33
esxcli network vswitch standard portgroup set -p Internal --vlan-id 35
esxcli network vswitch standard portgroup set -p External --vlan-id 36
esxcli network vswitch standard portgroup set -p DMZ --vlan-id 37

# Configure vmk0
esxcli network ip interface remove --interface-name=vmk0
esxcli network ip interface add --interface-name=vmk0 --portgroup-name=ESXI-MGMT

# Remove unneeded default portgroups
esxcli network vswitch standard portgroup remove --portgroup-name="VM Network" --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup remove --portgroup-name="Management Network" --vswitch-name=vSwitch0

# Setup default policies for stigs
esxcli network vswitch standard policy security set --vswitch-name=vSwitch0 --allow-promiscuous=true --allow-mac-change=false --allow-forged-transmits=true
esxcli system settings advanced set -o "/UserVars/ESXiVPsDisabledProtocols" -s "tlsv1,tlsv1.1,sslv3"
# New STIG configs per 10304
esxcli network vswitch standard policy security set --allow-mac-change=false -v vSwitch0
esxcli network vswitch standard portgroup policy security set --use-vswitch -p ESXI-MGMT
esxcli network vswitch standard portgroup policy security set --use-vswitch -p DMZ
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Internal
esxcli network vswitch standard portgroup policy security set --use-vswitch -p External
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Management
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Spare

cat <<EOF > /etc/issue
You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only. By
using this IS (which includes any device attached to this IS), you consent to the following conditions:

  -       The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited
          to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law
          enforcement (LE), and counterintelligence (CI) investigations.

  -       At any time, the USG may inspect and seize data stored on this IS.

  -       Communications using, or data stored on, this IS are not private, are subject to routine monitoring,
          interception, and search, and may be disclosed or used for any USG-authorized purpose.

  -       This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not
          for your personal benefit or privacy.

  -       Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching
          or monitoring of the content of privileged communications, or work product, related to personal representation
          or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work
          product are private and confidential. See User Agreement for details.

EOF


esxcli system welcomemsg set -m='{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:yellow}{hostname} , {ip}{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:yellow}{esxproduct} {esxversion}{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:yellow}{memory} RAM{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:white}        {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only. By      {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  using this IS (which includes any device attached to this IS), you consent to the following conditions:                 {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited     {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law      {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          enforcement (LE), and counterintelligence (CI) investigations.                                                  {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       At any time, the USG may inspect and seize data stored on this IS.                                              {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       Communications using, or data stored on, this IS are not private, are subject to routine monitoring,            {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          interception, and search, and may be disclosed or used for any USG-authorized purpose.                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not     {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          for your personal benefit or privacy.                                                                           {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching    {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          or monitoring of the content of privileged communications, or work product, related to personal representation  {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work       {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          product are private and confidential. See User Agreement for details.                                           {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{align:left}{bgcolor:dark-grey}{color:white}   <F2> Customize System/View Logs{/align}{align:right}  <F12> Shut Down/Restart  {bgcolor:black} {/color}{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}'

echo "MaxSessions 1" >> /etc/ssh/sshd_config
vim-cmd hostsvc/disable_ssh
vim-cmd hostsvc/stop_ssh
esxcli system settings advanced set -o "/UserVars/ESXiShellInteractiveTimeOut" --int-value 120
esxcli system settings advanced set -o "/UserVars/ESXiShellTimeOut" --int-value 600
esxcli system settings advanced set -o "/UserVars/DcuiTimeOut" --int-value 120
esxcli network vswitch standard portgroup policy security set --use-vswitch -p ESXI-MGMT
esxcli network vswitch standard portgroup policy security set --use-vswitch -p DMZ
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Internal
esxcli network vswitch standard portgroup policy security set --use-vswitch -p External
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Management
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Spare
sed -i 's/Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr/Ciphers aes128-ctr,aes192-ctr,aes256-ctr/g' /etc/ssh/sshd_config
echo "GSSAPIAuthentication no" >> /etc/ssh/sshd_config
echo "KerberosAuthentication no" >> /etc/ssh/sshd_config
esxcli system settings advanced set -o "/Net/BlockGuestBPDU" --int-value=1

# Configure the network interface
esxcli network ip interface ipv4 set -i vmk0 -I "10.$x.$y.2" -N "255.255.255.0" -t static
esxcli network ip interface ipv6 set --interface-name=vmk0 --enable-ipv6=false
esxcfg-route -a default "10.$x.$y.1"
esxcli system hostname set --host=esx
esxcli system hostname set --fqdn=esx.${DOMAIN}

# Register and power on the pfsense VM
vmid=$(vim-cmd solo/registervm /vmfs/volumes/datastore1/firewall/firewall.vmx)
vim-cmd vmsvc/power.on $vmid

vim-cmd hostsvc/autostartmanager/update_autostartentry $vmid "powerOn" "30" "1" "systemDefault" "systemDefault" "systemDefault"

# Enable autostart features on pfsense VM
vim-cmd hostsvc/autostartmanager/enable_autostart true
vim-cmd hostsvc/autostartmanager/update_autostartentry $vmid "powerOn" "30" "1" "systemDefault" "systemDefault" "systemDefault"

services.sh restart

# Print all the stuff out
#esxcli network nic list
#esxcli network ip interface list
#esxcli network vswitch standard portgroup list
#esxcli network vswitch standard policy security get -v vSwitch0
#esxcli storage core device list
#vim-cmd vmsvc/getallvms
# vim-cmd hostsvc/enable_ssh
# vim-cmd hostsvc/start_ssh
