vmaccepteula
%include /tmp/install_drive_selection.ks
reboot
rootpw --iscrypted $1$6Sc5J137$mX5NndlsPUqtTjzSJigbA/

%pre --interpreter=busybox

exec < /dev/tty3 > /dev/tty3 2>&1
chvt 3

function print_size_info {
    sizes=$(esxcfg-scsidevs -l | grep "Size")
    IFS=$'\n'
    index2=1
    for size_entry in $sizes
    do
        if [ $1 -eq $index2 ]; then
            echo "$size_entry"
        fi
        index2=$(expr $index2 + 1)
    done
}

function get_disk_name {
    display_names=$(esxcfg-scsidevs -l | grep "Display Name")
    index3=1
    for display_name in $display_names
    do
        if [ $1 -eq $index3 ]; then
            display_name=$(echo $display_name | cut -d "(" -f 2)
            DISK_NAME_SELECTED=${display_name::-1}
        fi
        index3=$(expr $index3 + 1)
    done
}

function select_disk {
    display_names=$(esxcfg-scsidevs -l | grep "Display Name")
    IFS=$'\n'
    index=1
    size=0
    for display_name in $display_names
    do
        display_name="$(echo -e "${display_name}" | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"
        echo "$index) $display_name"
        print_size_info $index
        index=$(expr $index + 1)
        size=$(expr $size + 1)
    done

    while true;
    do
        read -p "Please select the ESXi's installation destination disk (!NOT USB DRIVE!): " DISK_INDEX
        echo -n $DISK_INDEX | grep -q -E "^[1-$size]+$"
        if [ $? -eq 0 ]; then
            break
        else
            echo "Invalid DISK Selection. The input must be a valid number."
        fi
    done
    get_disk_name $DISK_INDEX
}

select_disk
cat <<EOF > /tmp/install_drive_selection.ks
install --overwritevmfs --disk=$DISK_NAME_SELECTED
EOF

chvt 2
exec < /dev/tty2 > /dev/tty2 2>&1

%firstboot --interpreter=busybox

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

exec < /dev/tty1 > /dev/tty1 2>&1
chvt 1

function menu_header {
  echo " ___ _ _ ___| |_    _ _ _ ___ ___ ___ ___ ___    ___ _ _ ___| |_ ___ _____";
  echo "|  _| | | .'|   |  | | | | -_| .'| . | . |   |  |_ -| | |_ -|  _| -_|     |";
  echo "|___|\_/|__,|_|_|  |_____|___|__,|  _|___|_|_|  |___|_  |___|_| |___|_|_|_|";
  echo "                                 |_|                |___|                  ";
}

function review {
  echo "Subnet review for CVA/H program."
  echo "DOMAIN: $DOMAIN"
  echo "Global Kit ID: $SUBNETS"
  echo "Management: 10.${x}.$((y)).0/24"
  echo "Internal: 10.${x}.$((y + 1)).0/24"
  echo "DMZ: 10.${x}.$((y + 2)).0/24"
  echo "Spare: 10.${x}.$((y + 3)).0/24"
}

function decode_subnets {
  a=$(echo -n ${1:0:3} | sed -e  "s/^0\{0,2\}//g")
  b=$(echo -n ${1:3:3} | sed -e  "s/^0\{0,2\}//g")
  if [ $((a <= 127)) == "1" ]; then
    x="$(($a))"
    y="$(($b * 4 + 124))"
  else
    x="$(($a))"
    y="$((($b - 1) * 4))"
  fi
}

function enter_gip {
  while true;
  do
    read -p "Enter the GIP ID: " GIP_ID
    echo -n $GIP_ID | grep -q -E '^[0-9]+$'
    if [ $? -eq 0 ]; then
      break
    else
      echo "Invalid GIP ID. The input must be a valid number."
    fi
  done
  GIP_ID=$(printf "%03d" $GIP_ID)
}

function enter_dip {
  while true;
  do
    read -p "Enter the DIP ID: " DIP_ID
    echo -n $DIP_ID | grep -q -E '^[0-9]+$'
    if [ $? -eq 0 ]; then
      break
    else
      echo "Invalid GIP ID. The input must be a valid number."
    fi
  done
  DIP_ID=$(printf "%03d" $DIP_ID)
}

# Decodes the global kit id and sets the x and y variables.
while true;
do
  menu_header
  read -p 'Enter domain: ' DOMAIN
  enter_gip
  enter_dip
  SUBNETS="${GIP_ID}${DIP_ID}"
  decode_subnets $SUBNETS
  review
  read -p "Confirm the summary above is correct before continuing (y/n):: " CONFIRMATION
  if [ $CONFIRMATION == "y" ]; then
    break
  fi
done

# Setup portgroups
esxcli network vswitch standard portgroup add --portgroup-name=ESXI-MGMT --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=DMZ --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Internal --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=External --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Management --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Spare --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup set -p ESXI-MGMT --vlan-id 32
esxcli network vswitch standard portgroup set -p Management --vlan-id 32
esxcli network vswitch standard portgroup set -p Spare --vlan-id 33
esxcli network vswitch standard portgroup set -p Internal --vlan-id 35
esxcli network vswitch standard portgroup set -p External --vlan-id 36
esxcli network vswitch standard portgroup set -p DMZ --vlan-id 37

# Configure vmk0
esxcli network ip interface remove --interface-name=vmk0
esxcli network ip interface add --interface-name=vmk0 --portgroup-name=ESXI-MGMT

# Remove unneeded default portgroups
esxcli network vswitch standard portgroup remove --portgroup-name="VM Network" --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup remove --portgroup-name="Management Network" --vswitch-name=vSwitch0

# Setup default policies for stigs
esxcli network vswitch standard policy security set --vswitch-name=vSwitch0 --allow-promiscuous=true --allow-mac-change=false --allow-forged-transmits=true
esxcli system settings advanced set -o "/UserVars/ESXiVPsDisabledProtocols" -s "tlsv1,tlsv1.1,sslv3"
# New STIG configs per 10304
esxcli network vswitch standard policy security set --allow-mac-change=false -v vSwitch0
esxcli network vswitch standard portgroup policy security set --use-vswitch -p ESXI-MGMT
esxcli network vswitch standard portgroup policy security set --use-vswitch -p DMZ
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Internal
esxcli network vswitch standard portgroup policy security set --use-vswitch -p External
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Management
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Spare

cat <<EOF > /etc/issue
You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only. By
using this IS (which includes any device attached to this IS), you consent to the following conditions:

  -       The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited
          to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law
          enforcement (LE), and counterintelligence (CI) investigations.

  -       At any time, the USG may inspect and seize data stored on this IS.

  -       Communications using, or data stored on, this IS are not private, are subject to routine monitoring,
          interception, and search, and may be disclosed or used for any USG-authorized purpose.

  -       This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not
          for your personal benefit or privacy.

  -       Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching
          or monitoring of the content of privileged communications, or work product, related to personal representation
          or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work
          product are private and confidential. See User Agreement for details.

EOF


esxcli system welcomemsg set -m='{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:yellow}{hostname} , {ip}{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:yellow}{esxproduct} {esxversion}{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:yellow}{memory} RAM{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:black}{color:white}        {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only. By      {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  using this IS (which includes any device attached to this IS), you consent to the following conditions:                 {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited     {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law      {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          enforcement (LE), and counterintelligence (CI) investigations.                                                  {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       At any time, the USG may inspect and seize data stored on this IS.                                              {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       Communications using, or data stored on, this IS are not private, are subject to routine monitoring,            {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          interception, and search, and may be disclosed or used for any USG-authorized purpose.                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not     {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          for your personal benefit or privacy.                                                                           {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}  -       Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching    {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          or monitoring of the content of privileged communications, or work product, related to personal representation  {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work       {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}          product are private and confidential. See User Agreement for details.                                           {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{align:left}{bgcolor:yellow}{color:black}                                                                                                                          {/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}
{bgcolor:black} {/color}{align:left}{bgcolor:dark-grey}{color:white}   <F2> Customize System/View Logs{/align}{align:right}  <F12> Shut Down/Restart  {bgcolor:black} {/color}{/color}{/bgcolor}{/align}
{bgcolor:black} {/color}{bgcolor:dark-grey}{color:black}                                                                                                                          {/color}{/bgcolor}'

echo "MaxSessions 1" >> /etc/ssh/sshd_config
vim-cmd hostsvc/disable_ssh
vim-cmd hostsvc/stop_ssh
esxcli system settings advanced set -o "/UserVars/ESXiShellInteractiveTimeOut" --int-value 120
esxcli system settings advanced set -o "/UserVars/ESXiShellTimeOut" --int-value 600
esxcli system settings advanced set -o "/UserVars/DcuiTimeOut" --int-value 120
esxcli network vswitch standard portgroup policy security set --use-vswitch -p ESXI-MGMT
esxcli network vswitch standard portgroup policy security set --use-vswitch -p DMZ
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Internal
esxcli network vswitch standard portgroup policy security set --use-vswitch -p External
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Management
esxcli network vswitch standard portgroup policy security set --use-vswitch -p Spare
sed -i 's/Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr/Ciphers aes128-ctr,aes192-ctr,aes256-ctr/g' /etc/ssh/sshd_config
echo "GSSAPIAuthentication no" >> /etc/ssh/sshd_config
echo "KerberosAuthentication no" >> /etc/ssh/sshd_config
esxcli system settings advanced set -o "/Net/BlockGuestBPDU" --int-value=1

# Configure the network interface
esxcli network ip interface ipv4 set -i vmk0 -I "10.$x.$y.2" -N "255.255.255.0" -t static
esxcli network ip interface ipv6 set --interface-name=vmk0 --enable-ipv6=false
esxcfg-route -a default "10.$x.$y.1"
esxcli system hostname set --host=esx
esxcli system hostname set --fqdn=esx.${DOMAIN}

services.sh restart

# Print all the stuff out
#esxcli network nic list
#esxcli network ip interface list
#esxcli network vswitch standard portgroup list
#esxcli network vswitch standard policy security get -v vSwitch0
#esxcli storage core device list
#vim-cmd vmsvc/getallvms
# vim-cmd hostsvc/enable_ssh
# vim-cmd hostsvc/start_ssh
