vmaccepteula
install --overwritevmfs --firstdisk
reboot

rootpw --iscrypted $1$6Sc5J137$mX5NndlsPUqtTjzSJigbA/

%firstboot --interpreter=busybox

# enable & start SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

#Shut off usbarbitor service
/etc/init.d/usbarbitrator stop

function set_disk_name(){
    local is_empty=false
    esxcli storage core device list | while read line; do
    if [ "$is_empty" = true ]; then
        disk_name="$line"
        is_empty=false
    fi

    if [ "$line" = "Is USB: true" ]; then
        echo "$disk_name"
        break
    fi

    if [ -z "$line" ]; then
        is_empty=true
    fi
    done
}

DISK_NAME=$(set_disk_name)

# Copy pfsense VM to the appropriate datastore.
mkdir -p /vmfs/volumes/datastore1/firewall/tmp
/bin/mcopy -i "/dev/disks/${DISK_NAME}:5" ::/firewall/firewall* /vmfs/volumes/datastore1/firewall/

# Clone the firewall disk to fix export errors
cd /vmfs/volumes/datastore1/firewall/
vmkfstools -i firewall-disk1.vmdk tmp/firewall-disk1.vmdk -d thin
mv -f tmp/* .
rm -rf tmp/

exec < /dev/tty1 > /dev/tty1 2>&1
chvt 1

# Function to prompt user to IP/Kit Information
function prompt_user {
    while true; do
        clear
        echo "=========================="
        echo "ESXi Configurator"
        echo "=========================="
        echo ""
        echo "=========================="
        read -p 'Enter DOMAIN suffix (EX: deadshot): ' DOMAIN
        echo ""
        echo "=========================="
        echo ""
        echo "=========================="
        read -p 'Enter Kit number (EX: 101-109): ' IP_SECOND_OCTET
        echo ""
        echo "=========================="
        echo ""
        echo "=========================="
        echo "         Summary          "
        echo "=========================="
        echo "Domain Suffix:   $DOMAIN"
        echo "Kit Number:      $IP_SECOND_OCTET"
        echo ""
        read -p "Confirm the summary above is correct before continuing (Y/N): " confirm
        if [ $confirm = "Y" ]; then
            break
        fi
        if [ $confirm = "y" ]; then
            break
        fi
    done

    KIT_NUMBER=$(expr $IP_SECOND_OCTET - 100)
}

prompt_user

sleep 2
chvt 2

# Setup portgroups
esxcli network vswitch standard portgroup add --portgroup-name=ESXI-MGMT --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=DMZ --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Internal --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=External --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup add --portgroup-name=Management --vswitch-name=vSwitch0

esxcli network vswitch standard portgroup set -p ESXI-MGMT --vlan-id ${KIT_NUMBER}32
esxcli network vswitch standard portgroup set -p Internal --vlan-id ${KIT_NUMBER}35
esxcli network vswitch standard portgroup set -p DMZ --vlan-id ${KIT_NUMBER}37
esxcli network vswitch standard portgroup set -p External --vlan-id ${KIT_NUMBER}36
esxcli network vswitch standard portgroup set -p Management --vlan-id ${KIT_NUMBER}32

# Configure vmk0
esxcli network ip interface remove --interface-name=vmk0
esxcli network ip interface add --interface-name=vmk0 --portgroup-name=ESXI-MGMT

# Remove unneeded default portgroups
esxcli network vswitch standard portgroup remove --portgroup-name="VM Network" --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup remove --portgroup-name="Management Network" --vswitch-name=vSwitch0

# Setup default policies for stigs
esxcli network vswitch standard policy security set --vswitch-name=vSwitch0 --allow-promiscuous=true --allow-mac-change=false --allow-forged-transmits=true
esxcli system settings advanced set -o "/UserVars/ESXiVPsDisabledProtocols" -s "tlsv1,tlsv1.1,sslv3"

# Configure the network interface
esxcli network ip interface ipv4 set -i vmk0 -I "10.10${KIT_NUMBER}.32.2" -N "255.255.255.0" -t static
esxcli network ip interface ipv6 set --interface-name=vmk0 --enable-ipv6=false
esxcfg-route -a default 10.10${KIT_NUMBER}.32.1
esxcli system hostname set --host=esx
esxcli system hostname set --fqdn=esx.${DOMAIN}

# Register and power on the pfsense VM
vmid=$(vim-cmd solo/registervm /vmfs/volumes/datastore1/firewall/firewall.vmx)
vim-cmd vmsvc/power.on $vmid

# Enable autostart features on pfsense VM
vim-cmd hostsvc/autostartmanager/enable_autostart true
vim-cmd hostsvc/autostartmanager/update_autostartentry $vmid "powerOn" "30" "1" "systemDefault" "systemDefault" "systemDefault"

services.sh restart

# Print all the stuff out
#esxcli network nic list
#esxcli network ip interface list
#esxcli network vswitch standard portgroup list
#esxcli network vswitch standard policy security get -v vSwitch0
#esxcli storage core device list
#vim-cmd vmsvc/getallvms
