port 1194

# TCP or UDP server?
proto tcp4
;proto udp

dev tap0
;dev tun

ca {{ ovpn_dir }}/pki/ca.crt
cert {{ ovpn_dir }}/pki/{{ inventory_hostname_short }}.crt
key {{ ovpn_dir }}/pki/private/{{ inventory_hostname_short }}.key  # This file should be kept secret
dh {{ ovpn_dir }}/pki/dh.pem
crl-verify {{ ovpn_dir }}/pki/crl.pem

topology subnet

server-bridge
push "route-gateway {{ hostvars[groups['master_server'][0]].management_ipv4 }}"
push "redirect-gateway autolocal"

client-to-client

keepalive 10 120

;tls-auth ta.key 0 # This file is secret

cipher AES-256-CBC

persist-key
;persist-tun

status openvpn-status.log

verb 3
client-config-dir client-scripts
log-append /var/log/openvpn.log

;explicit-exit-notify 1
