#!/bin/bash
GW_IP=$(ip route | grep default | cut -d ' ' -f3 | head -n1)
openvpn --mktun --dev tap0
MANAGEMENT_IFACE={{ management_interface }}
brctl addif br0 tap0
ifconfig tap0 0.0.0.0 promisc up
ifconfig $MANAGEMENT_IFACE 0.0.0.0 promisc up
ip route add default via $GW_IP dev br0
firewall-cmd --permanent --add-masquerade
firewall-cmd --add-masquerade
