<div *ngIf="!isUserEditing" class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Config Maps
        <button mat-raised-button color="primary" style="float: right;" (click)="addConfigMap()" [disabled]="!controllerMaintainer">Add Config Map</button>
      </mat-card-title>
    </mat-card-header>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card-content>
      <table mat-table [dataSource]="configMaps" multiTemplateDataRows aria-describedby="Config maps table">
        <ng-container matColumnDef="namespace">
          <th scope="col" mat-header-cell *matHeaderCellDef>Namespace</th>
          <td mat-cell *matCellDef="let config;">
            <a (click)="toggleDataDropDown(config)">
              <em class="material-icons" *ngIf="!checkConfigMapVisibility(config)">chevron_right</em>
              <em class="material-icons" *ngIf="checkConfigMapVisibility(config)">expand_more</em>
              <span style="vertical-align: super;">{{ config.metadata.namespace }}</span>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="config_name">
          <th scope="col" mat-header-cell *matHeaderCellDef>Config Name</th>
          <td mat-cell *matCellDef="let config;">{{ config.metadata.name }}</td>
        </ng-container>
        <ng-container matColumnDef="creation_date">
          <th scope="col" mat-header-cell *matHeaderCellDef>Creation Date</th>
          <td mat-cell *matCellDef="let config;">{{ config.metadata.creation_timestamp }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let config">
            <button mat-button matTooltip="Remove Config Map" color="warn" [disabled]="!controllerMaintainer"
            (click)="removeConfigMap(config.metadata.name, config)">
              <em class="material-icons">delete</em>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let config" [attr.colspan]="outerTableColumns.length">
            <button mat-raised-button matTooltip="Add Config Data" color="primary" (click)="addConfigMapData(config)" [disabled]="!controllerMaintainer">Add Config Data</button>
            <table *ngIf="config.data" mat-table [dataSource]="objectKeys(config.data)" aria-describedby="Configuration Map Data">
              <ng-container matColumnDef="filename">
                <th scope="row" mat-header-cell *matHeaderCellDef>Filename</th>
                <td mat-cell *matCellDef="let filename">{{ filename }}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th scope="row" mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let filename">
                  <div class="btn-group">
                    <button mat-button matTooltip="Edit Config Data" color="primary" (click)="editConfigMapData(filename, config)" *ngIf="controllerMaintainer">
                      <em class="material-icons">edit</em>
                    </button>
                    <button mat-button matTooltip="View Config Data" color="primary" (click)="editConfigMapData(filename, config)" *ngIf="!controllerMaintainer">
                      <em class="material-icons">visibility</em>
                    </button>
                    <button mat-button matTooltip="Remove Config Data" color="warn" (click)="removeConfigMapData(filename,config)" [disabled]="!controllerMaintainer">
                      <em class="material-icons">delete</em>
                    </button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="innerTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: innerTableColumns;"></tr>
            </table>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="outerTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: outerTableColumns">
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [hidden]="!checkConfigMapVisibility(row)"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<app-configmap-editor *ngIf="isUserEditing" [text]="activeConfigData" [title]="activeConfigDataTitle" [configMapName]="activeConfigMapName"
  (closeNoSaveEvent)="closeEditor($event)" (closeSaveEvent)="saveAndCloseEditor($event)"></app-configmap-editor>
