<div *ngIf="!isUserEditing" class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Config Maps
        <button mat-raised-button color="primary" style="float: right;" (click)="addConfigMap()">Add Config Map</button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="configMaps" multiTemplateDataRows>
        <ng-container matColumnDef="namespace">
          <th mat-header-cell *matHeaderCellDef>Namespace</th>
          <td mat-cell *matCellDef="let config;">
            <a (click)="toggleDataDropDown(config)">
              <i class="material-icons" *ngIf="!checkConfigMapVisibility(config)">chevron_right</i>
              <i class="material-icons" *ngIf="checkConfigMapVisibility(config)">expand_more</i>
              <span style="vertical-align: super;">{{ config.metadata.namespace }}</span>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="config_name">
          <th mat-header-cell *matHeaderCellDef>Config Name</th>
          <td mat-cell *matCellDef="let config;">{{ config.metadata.name }}</td>
        </ng-container>
        <ng-container matColumnDef="creation_date">
          <th mat-header-cell *matHeaderCellDef>Creation Date</th>
          <td mat-cell *matCellDef="let config;">{{ config.metadata.creation_timestamp }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let config">
            <button mat-button matTooltip="Remove Config Map"
            (click)="removeConfigMap(config.metadata.name, config)">
              <i class="material-icons" style="color: red">delete</i>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let config" [attr.colspan]="outerTableColumns.length">
            <button mat-raised-button matTooltip="Add Config Data" color="primary" (click)="addConfigMapData(config)">Add Config Data</button>
            <table *ngIf="config.data" mat-table [dataSource]="objectKeys(config.data)">
              <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef>Filename</th>
                <td mat-cell *matCellDef="let filename">{{ filename }}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let filename">
                  <div class="btn-group">
                    <button mat-button matTooltip="Edit Config Data" (click)="editConfigMapData(filename, config)">
                      <i class="material-icons">edit</i></button>
                    <button mat-button matTooltip="Remove Config Data" (click)="removeConfigMapData(filename,config)">
                      <i class="material-icons" style="color: red">delete</i></button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="innerTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: innerTableColumns;"></tr>
            </table>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="outerTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: outerTableColumns">
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [hidden]="!checkConfigMapVisibility(row)"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<app-configmap-editor *ngIf="isUserEditing" [text]="activeConfigData" [title]="activeConfigDataTitle"
  (closeNoSaveEvent)="closeEditor($event)" (closeSaveEvent)="saveAndCloseEditor($event)"></app-configmap-editor>
