#!/bin/sh

/bin/find {{ bro_log_path }} {{ suricata_log_path }} -mmin +10 -type f -regex '.*\.\(.*\.log\|json\)' -delete
if test -f "{{ suricata_log_path }}/stats.log"; then
    echo "$(tail -n 10000 {{ suricata_log_path }}/stats.log)" > {{ suricata_log_path }}/stats.log
fi
