---

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: filebeat-suricata
  labels:
    component: logshipper
spec:
  selector:
    matchLabels:
      component: logshipper
  template:
    metadata:
      labels:
        component: logshipper
    spec:
      containers:
      - name: filebeat-suricata
        image: {{ filebeat_image }}:{{ elastic_6_version }}
        imagePullPolicy: IfNotPresent
        securityContext:
          runAsUser: 0
          runAsGroup: 0
        volumeMounts:
        - name: data
          mountPath: {{ suricata_log_path }}
          readOnly: true
        - name: filebeat
          mountPath: /usr/share/filebeat/filebeat.yml
          readOnly: true
        args: ['-e', '-E', 'name="suricata-$(NODE_NAME)"', '--modules', 'suricata', '-M', 'suricata.eve.var.paths=[{{ suricata_log_path }}/eve-*.json]']
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
      volumes:
      - name: data
        hostPath:
          path: {{ suricata_log_path }}
          type: DirectoryOrCreate
      - name: filebeat
        hostPath:
          path: {{ logs_dir }}/filebeat-suricata.yml
          type: File
      nodeSelector:
        suricata: "true"

...
