filebeat.inputs:

- type: log
  enabled: true
  paths:
    - {{ bro_log_path }}/*/*.log

  close_removed: false
  clean_removed: false

  json.add_error_key: true

#==================== Elasticsearch template setting ==========================

setup.template.enabled: false

#============================== Kibana =====================================

setup.kibana:
  host: "{{ kibana_fqdn }}:80"

#================================ Outputs =====================================

#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  hosts: ["{{ elastic_headless_fqdn }}:{{ elastic_port }}"]
  index: "logstash-bro-%{+yyyy.MM.dd}"
  worker: 12
  bulk_max_size: 32768
  compression_level: 3
  pipeline: "bro"
  loadbalance: true

queue.mem:
  events: 786432
  flush.min_events: 32768
  flush.timeout: 30s

xpack.monitoring.enabled: true
