<div class="main-content2">
  <cvah-vmware-settings></cvah-vmware-settings>
  <br>
  <app-general-settings-pane (getGeneralSettings)="updateGeneralSettings($event)" [generalSettings]="generalSettings" [kitStatus]="kitStatus" [controllerInfo]="controllerInfo"></app-general-settings-pane>
  <br>
  <cvah-hive-settings></cvah-hive-settings>
  <br>
  <cvah-kit-settings [general_settings]="generalSettings"
                     [kit_status]="kitStatus"
                     [controller_info]="controllerInfo"
                     [kit_settings]="kitSettings"
                     (update_kit_settings)="updateKitSettings($event)"
                     (update_disable_buttons)="update_add_kit_button($event)"></cvah-kit-settings>
  <br>
  <app-mip-settings-pane [generalSettings]="generalSettings" [kitStatus]="kitStatus"></app-mip-settings-pane>
  <br>
  <cvah-kit-token-settings [gip_build]="check_is_gip()" [disable_add_kit_button]="disable_add_kit_button"></cvah-kit-token-settings>
</div>
