<div class="main-content2">
  <cvah-vmware-settings></cvah-vmware-settings>
  <br>
  <app-general-settings-pane (getGeneralSettings)="updateGeneralSettings($event)" [generalSettings]="generalSettings" [kitStatus]="kitStatus" [controllerInfo]="controllerInfo"></app-general-settings-pane>
  <br>
  <cvah-hive-settings></cvah-hive-settings>
  <br>
  <app-kit-settings-pane (getSettings)="updateKitSettings($event)" (update_disable_buttons)="update_add_kit_button($event)" [generalSettings]="generalSettings" [kitStatus]="kitStatus" [controllerInfo]="controllerInfo" [kitSettings]="kitSettings"></app-kit-settings-pane>
  <br>
  <app-mip-settings-pane [generalSettings]="generalSettings" [kitStatus]="kitStatus"></app-mip-settings-pane>
  <br>
  <app-kit-token-settings-pane [gipBuild]="check_is_gip()" [disable_add_kit_button]="disable_add_kit_button"></app-kit-token-settings-pane>
</div>
