adal==1.2.0
ansible==2.9.5
asn1crypto==0.24.0
atlassian-python-api==1.13.19
attrs==18.1.0
Automat==0.7.0
bcrypt==3.1.4
beautifulsoup4==4.6.3
blinker==1.4
bps-restpy==9.0.2
bs4==0.0.0
cachetools==3.0.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.7
configobj==5.0.6
constantly==15.1.0
cryptography==2.3.1
fabric==2.3.1
google-auth==1.6.1
httplib2==0.9.2
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
invoke==1.1.1
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
junit-xml==1.8
keyring==10.6.0
keyrings.alt==3.0
kubernetes==7.0.0
lxml==4.2.4
MarkupSafe==1.0
netifaces==0.10.4
oauthlib==2.1.0
numpy==1.19.5
pandas==1.1.5
paramiko==2.4.1
pyasn1==0.4.4
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
PyHamcrest==1.9.0
PyJWT==1.7.0
pymongo==3.7.1
PyNaCl==1.2.1
pyOpenSSL==18.0.0
pyserial==3.4
python-dateutil==2.7.5
python-debian==0.1.32
pyvmomi==6.7.0.2018.9
pytz==2021.1
pyxdg==0.25
PyYAML==3.12
randmac==0.1
requests==2.25.0
requests-oauthlib==1.0.0
requests-unixsocket==0.1.5
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.2
SecretStorage==2.3.1
selenium==3.14.1
service-identity==17.0.0
simplejson==3.16.0
six==1.12.0
suds-jurko==0.6
tabulate==0.8.2
Twisted==18.7.0
urllib3==1.23
websocket-client==0.54.0
Werkzeug==0.14.1
zope.interface==4.5.0
