<div class="main-content2">
  <app-vmware-settings></app-vmware-settings>
  <br>
  <app-general-settings-pane (getGeneralSettings)="updateGeneralSettings($event)" [generalSettings]="generalSettings" [kitStatus]="kitStatus" [controllerInfo]="controllerInfo"></app-general-settings-pane>
  <br>
  <app-kit-settings-pane (getSettings)="updateKitSettings($event)" [generalSettings]="generalSettings" [kitStatus]="kitStatus" [controllerInfo]="controllerInfo"></app-kit-settings-pane>
  <br>
  <app-mip-settings-pane [generalSettings]="generalSettings" [kitStatus]="kitStatus"></app-mip-settings-pane>
  <br>
  <app-kit-token-settings-pane [gipBuild]="kitSettings?.is_gip ? true : false"></app-kit-token-settings-pane>
</div>
