<div>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>developer_board</mat-icon>
      <h4 mat-line id="app-total-system-resources-card-mat-list-mat-list-item-developer-board-h4-cpu-cores-available">CPU Cores Available: {{ systemResources?.cpuCoresAvailable | number: "1.0-2" }} </h4>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>memory</mat-icon>
      <h4 mat-line id="app-total-system-resources-card-mat-list-mat-list-item-memory-h4-memory-available">Memory Available: {{ systemResources?.memoryAvailable | number: "1.0-2" }} GB </h4>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>search</mat-icon>
      <h4 mat-line>Storage Available:
        <span *ngIf="systemResources?.clusterStorageAvailable_tb < 1"
              id="app-total-system-resources-card-mat-list-mat-list-item-search-h4-cores-available-span-tb-less1">{{systemResources?.clusterStorageAvailable_gb | number: "1.0-2" }} GB</span>
        <span *ngIf="systemResources?.clusterStorageAvailable_tb > 1"
              id="app-total-system-resources-card-mat-list-mat-list-item-search-h4-cores-available-span-tb-great1">{{systemResources?.clusterStorageAvailable_tb | number: "1.0-2" }} TB</span>
      </h4>
    </mat-list-item>
  </mat-list>
</div>
