<div mat-dialog-content [formGroup]="newHostAgentForm">
  <mat-vertical-stepper #stepper [linear]=true>
    <mat-step label="Configuration Name" [stepControl]="newHostAgentForm.controls.config_name">
      <mat-form-field>
        <mat-label>Config Name</mat-label>
        <input matInput formControlName="config_name">
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("config_name")) }}</mat-error>
      </mat-form-field>
    </mat-step>
    <mat-step label="Applications">
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-checkbox formControlName="install_sysmon">Install Sysmon</mat-checkbox>
        <mat-checkbox formControlName="install_winlogbeat" (change)="toggleWinlogBeatValidators($event)">Install Winlogbeat</mat-checkbox>
        <mat-checkbox formControlName="install_endgame" (change)="toggleEndgameValidators($event)">Install Endgame Agent</mat-checkbox>
      </div>
    </mat-step>
    <mat-step *ngIf="isWinlogBeat()" label="Configure Winlogbeat"
              [stepControl]="createStepperValidation('winlog_beat_dest_ip', 'winlog_beat_dest_port')">
      <mat-form-field>
        <mat-label>Traffic Destination</mat-label>
        <input matInput formControlName="winlog_beat_dest_ip" matTooltip="{{ externalIPToolTip }}">
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("winlog_beat_dest_ip")) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Traffic Desination Port</mat-label>
        <input matInput formControlName="winlog_beat_dest_port">
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("winlog_beat_dest_port")) }}</mat-error>
      </mat-form-field>
    </mat-step>
    <mat-step *ngIf="isEndgame()" label="Connect to Endgame Server"
              [stepControl]="createStepperValidation('endgame_server_ip', 'endgame_user_name', 'endgame_password', 'endgame_port')">
      <mat-form-field>
        <mat-label>Endgame Server IP</mat-label>
        <input matInput formControlName="endgame_server_ip">
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("endgame_server_ip")) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Endgame Server Username</mat-label>
        <input matInput formControlName="endgame_user_name">
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("endgame_user_name")) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Endgame Server Password</mat-label>
        <input matInput formControlName="endgame_password" type="password">
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("endgame_password")) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Endgame Server Port</mat-label>
        <input matInput formControlName="endgame_port">
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("endgame_port")) }}</mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="getEndgameSensorProfiles(stepper)">Connect</button>
    </mat-step>
    <mat-step *ngIf="isEndgame()" label="Select Endgame Agent">
      <mat-form-field>
        <mat-label>Sensor Profile</mat-label>
        <mat-select formControlName="endgame_sensor_id">
          <mat-option *ngFor="let profile of sensor_profiles" [value]="profile.value">{{ profile.name }}</mat-option>
        </mat-select>
        <mat-error>{{ getErrorMessage(newHostAgentForm.get("endgame_sensor_id")) }}</mat-error>
      </mat-form-field>
    </mat-step>
  </mat-vertical-stepper>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!newHostAgentForm.valid" (click)="submitAndClose()">Add Configuration</button>
</div>
