apiVersion: batch/v1
kind: Job
metadata:
  name: suricata-bootstrap
  labels:
    component: suricata
spec:
  template:
    metadata:
      labels:
        component: suricata
    spec:
      containers:
      - name: suricata
        image: "{{ suricata_image }}:{{ suricata_version }}"
        imagePullPolicy: IfNotPresent
        env:
        - name: PODTYPE
          value: "BOOTSTRAP"
        volumeMounts:
        - name: filebeat
          mountPath: /etc/filebeat/filebeat.yml
        - name: suricata
          mountPath: /etc/suricata/suricata.yaml
      volumes:
      - name: filebeat
        hostPath:
          path: {{ suricata_dir }}/filebeat.yml
          type: File
      - name: suricata
        hostPath:
          path: {{ suricata_dir }}/suricata.yaml
          type: File
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: suricata
                operator: In
                values:
                  - "true"
      restartPolicy: Never
