---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_hostname | regex_replace('\\.(lan)?$', '') | regex_replace('[^0-9a-zA-Z]', '') }}-suricata
  labels:
    component: suricata
spec:
  replicas: 1
  selector:
    matchLabels:
      component: suricata
  template:
    metadata:
      labels:
        component: suricata
    spec:
      hostNetwork: true
      containers:
      - name: suricata
        image: "{{ suricata_image }}:{{ suricata_version }}"
        imagePullPolicy: IfNotPresent
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_NICE
              - IPC_LOCK
        resources:
          requests:
            cpu: {{ hostvars[deployment_hostname].suricata_cpu_request }}
        volumeMounts:
        - name: suricata
          mountPath: /etc/suricata/suricata.yaml
          readOnly: true
        - name: rules
          mountPath: /etc/suricata/rules
          readOnly: true
        - name: luascripts
          mountPath: /etc/suricata/lua-output
          readOnly: true
        - name: logs
          mountPath: /var/log/suricata
        - name: pcap
          mountPath: {{ fpc_path }}
        args: ['-c', '/etc/suricata/suricata.yaml', '--af-packet']
      volumes:
      - name: suricata
        hostPath:
          path: {{ suricata_dir }}/suricata.yaml
          type: File
      - name: rules
        hostPath:
          path: {{ suricata_dir }}/rules
          type: DirectoryOrCreate
      - name: luascripts
        hostPath:
          path: {{ suricata_dir }}/lua-output
          type: DirectoryOrCreate
      - name: logs
        hostPath:
          path: {{ suricata_log_path }}
          type: DirectoryOrCreate
      - name: pcap
        hostPath:
          path: {{ fpc_path }}
          type: Directory
      affinity:
        nodeAffinity: # Only schedule on the intended host
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - "{{ deployment_hostname }}"
        podAntiAffinity: # Do not allow more than one per host
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - suricata
            topologyKey: "kubernetes.io/hostname"
...
