{
    "policy": {
        "phases": {
            "warm": {
                "min_age": "7h",
                "actions": {
                    "forcemerge": {
                        "max_num_segments": 1
                    }
                }
            }
        }
    }
}