MINIO_ACCESS_KEY="assessor"
MINIO_VOLUMES="{{ minio_volumes }}"
MINIO_OPTS="--address :{{ minio_binding_port }} --console-address :{{ minio_console_port }}"
MINIO_SECRET_KEY="{{ hostvars[ansible_nodename]['root_password'] }}"
