<h2 mat-dialog-title id="app-modal-table-div-title">{{ title | capitalizeFirst }}</h2>
<div mat-dialog-content>
  <table class="table mat-table" aria-describedby="Container information table">
    <thead>
      <tr class="mat-header-row ng-star-inserted">
        <th scope="col" class="mat-header-cell cdk-column-ruleName mat-column-ruleName ng-star-inserted">Container name</th>
        <th scope="col" class="mat-header-cell cdk-column-ruleName mat-column-ruleName ng-star-inserted">CPU Request</th>
        <th scope="col" class="mat-header-cell cdk-column-ruleName mat-column-ruleName ng-star-inserted">Memory Request</th>
        <th scope="col" class="mat-header-cell cdk-column-ruleName mat-column-ruleName ng-star-inserted">CPU Limit</th>
        <th scope="col" class="mat-header-cell cdk-column-ruleName mat-column-ruleName ng-star-inserted">Memory Limit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let container of pod['spec']['containers']; let i = index;"
          id="{{ 'app-modal-table-div-table-tbody-tr-' + i }}"
          class="mat-row ng-star-inserted">
        <td id="{{ 'app-modal-table-div-table-tbody-tr-' + i + '-td-container-name' }}" class="mat-cell cdk-column-Enabled mat-column-Enabled ng-star-inserted">{{ container.name }}</td>
        <td id="{{ 'app-modal-table-div-table-tbody-tr-' + i + '-td-cpu' }}" class="mat-cell cdk-column-Enabled mat-column-Enabled ng-star-inserted">{{ getRequest(container, 'cpu') }}</td>
        <td id="{{ 'app-modal-table-div-table-tbody-tr-' + i + '-td-memory' }}" class="mat-cell cdk-column-Enabled mat-column-Enabled ng-star-inserted">{{ getRequest(container, 'memory') }}</td>
        <td id="{{ 'app-modal-table-div-table-tbody-tr-' + i + '-td-cpu-limit' }}" class="mat-cell cdk-column-Enabled mat-column-Enabled ng-star-inserted">{{ getLimit(container, 'cpu') }}</td>
        <td id="{{ 'app-modal-table-div-table-tbody-tr-' + i + '-td-memory-limit' }}" class="mat-cell cdk-column-Enabled mat-column-Enabled ng-star-inserted">{{ getLimit(container, 'memory') }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button id="app-modal-table-div-button-close" (click)="onNoClick()">Close</button>
</div>
