<mat-card>
  <mat-card-header>
      <mat-card-title>
        <a (click)="toggle_pods_card()">
            <span class="material-icons">{{ is_pods_visible ? "expand_more" : "chevron_right" }}</span>
            <span style="vertical-align: top;">Pods</span>
        </a>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="is_pods_visible" fxLayout="column" fxLayoutAlign="space-around stretch">
    <table mat-table [dataSource]="group_header_data" aria-describedby="group-table" multiTemplateDataRows>
      <!-- Name -->
      <ng-container matColumnDef="node_name">
          <th scope="col" mat-header-cell *matHeaderCellDef>Node Name</th>
          <td mat-cell *matCellDef="let group;">
            <span class="material-icons" style="vertical-align:middle;">
              {{ expanded_group === group.group_name ? "expand_more" : "chevron_right" }}
            </span>
            <span style="vertical-align:middle;">
              {{ group.group_name }}
            </span>
          </td>
      </ng-container>

      <!-- Group Status -->
      <ng-container matColumnDef="group_status">
        <th scope="col" mat-header-cell *matHeaderCellDef>Group Status</th>
        <td mat-cell *matCellDef="let group;">
          <mat-icon matSuffix *ngIf="group.group_status === 'check_circle'" style="color: #1eb980;">
          check_circle
          </mat-icon>
          <mat-icon matSuffix *ngIf="group.group_status === 'warning'" style="color: #FFD966;">
            warning
          </mat-icon>
          <mat-icon *ngIf="group.group_status === 'circle'" color="accent">
            circle
          </mat-icon>
          <mat-icon *ngIf="group.group_status === 'error'" style="color: #ff4949;">
            error
          </mat-icon>
        </td>
      </ng-container>

      <!-- Filtered Pods Subgroup -->
      <ng-container matColumnDef="expand_group_drawer">
        <td mat-cell *matCellDef="let pod; let i = index">
          <div class="node-detail" [@detailExpand]="pod.group_name === expanded_group ? 'expanded' : 'collapsed'">
            <div *ngIf="expanded_group">
              <table mat-table [dataSource]="filtered_group_data[group_header_data.indexOf(getGroup(pod.group_name))]" class="inner-table"
                     aria-describedby="node-detail-table">
                <!-- Namespace -->
                <ng-container matColumnDef="namespace">
                  <th scope="col" mat-header-cell *matHeaderCellDef>Namespace</th>
                  <td mat-cell *matCellDef="let pod;">{{ pod.namespace }}</td>
                </ng-container>

                <!-- Name -->
                <ng-container matColumnDef="name">
                  <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let pod;">{{ pod.name }}</td>
                </ng-container>

                <ng-container matColumnDef="container_states">
                  <th scope="col" mat-header-cell *matHeaderCellDef>Container States</th>
                  <td mat-cell *matCellDef="let pod; let z = index;"
                      id="{{ pod_element_id + '-table-td-' + z + '-container-states' }}">
                    <div *ngIf="pod.status?.message">
                      <span id="{{ pod_element_id + '-table-td-' + z + '-span-pod-status-message' }}" class="podStatus">{{ pod.status.message }}</span>
                    </div>
                    <div *ngFor="let container_status of pod.status.container_statuses; let k = index;">
                      <span id="{{ pod_element_id + '-table-td-' + z + '-container-states-div-' + k + '-span-container-name' }}">{{ container_status.name }}: </span>


                      <span *ngIf="container_status.state.running" id="{{ pod_element_id + '-table-td-' + z + '-container-states-div-' + k + '-span-container-status' }}"
                            class="containerStatus" style="font-weight: bold;">{{ getContainerStatus(container_status) }}</span>
                      <span *ngIf="!container_status.state.running" id="{{ pod_element_id + '-table-td-' + z + '-container-states-div-' + k + '-span-container-status' }}"
                            class="podErrors" style="font-weight: bold;">{{ getContainerStatus(container_status) }}</span>
                    </div>
                  </td>
                </ng-container>

                <!-- Restart Count -->
                <ng-container matColumnDef="restart_count">
                  <th scope="col" mat-header-cell *matHeaderCellDef>Restarts</th>
                  <td mat-cell *matCellDef="let pod;" style="text-align: center;">{{ pod.restart_count }}</td>
                </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="actions">
                  <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let pod;" [hidden]="token">
                    <button mat-icon-button matTooltip="Click to run describe pod." color="primary"
                            (click)="describe_pod(pod.name, pod.namespace)">
                      <em class="material-icons">info</em>
                    </button>
                    <button mat-icon-button matTooltip="Click to view pod logs." color="primary"
                      (click)="pod_logs(pod.name, pod.namespace)">
                      <em class="material-icons">help</em>
                    </button>
                  </td>
                </ng-container>

                <!-- Default Table lines -->
                <tr mat-header-row *matHeaderRowDef="pod_displayed_cols(); sticky: true" class="col-header"></tr>
                <tr mat-row *matRowDef="let rowData; columns: pod_displayed_cols();"></tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Default Table lines -->
      <tr mat-header-row *matHeaderRowDef="group_header_column"></tr>
      <tr mat-row *matRowDef="let rowData; columns: group_header_column;"
        class="clickable" [class.example-expanded-row]="expanded_group === rowData.group_name"
        (click)="setExpandedGroup(rowData.group_name)"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expand_group_drawer']" class="row-detail"></tr>
    </table>
  </mat-card-content>
</mat-card>
