[update-metrics]
controller = {{ ansible_controller_hostname }}
{% if inventory_hostname in groups['sensors'] and inventory_hostname not in groups['servers'] %}
node_type = sensor
{% endif %}
{% if inventory_hostname in groups['servers'] and inventory_hostname not in groups['sensors'] %}
node_type = server
{% endif %}
elasticsearch = {{ elastic_service_name }}
