apiVersion: v1
name: misp
version: {{ component["helm_version"] }}
appVersion: {{ component["app_version"] }}
description: MISP is a malware information sharing platform
details: This chart will install the misp application
annotations:
  pmoSupported: true
  isSensorApp: false
