<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Kit Setup</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
      <table mat-table [dataSource]="setup_nodes" aria-describedby="Kit Setup Nodes">
        <!-- Hostname -->
        <ng-container matColumnDef="hostname">
            <th scope="col" mat-header-cell *matHeaderCellDef>Hostname</th>
            <td  mat-cell *matCellDef="let node;"><a (click)="open_node_info_dialog_window(node)">{{ node.hostname }}</a></td>
        </ng-container>

        <!-- IP Address -->
        <ng-container matColumnDef="ip_address">
          <th scope="col" mat-header-cell *matHeaderCellDef>IP Address</th>
          <td mat-cell *matCellDef="let node;">{{ node.ip_address }}</td>
        </ng-container>

        <!-- Node Type -->
        <ng-container matColumnDef="node_type">
          <th scope="col" mat-header-cell *matHeaderCellDef>Node Type</th>
          <td mat-cell *matCellDef="let node;">{{ node.node_type }}</td>
        </ng-container>

        <!-- State -->
        <ng-container matColumnDef="state">
          <th scope="col" mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let node;">
            <cvah-node-state-progress-bar [jobs]="node.jobs"></cvah-node-state-progress-bar>
          </td>
        </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="setup_node_columns"></tr>
        <tr mat-row *matRowDef="let rowData; columns: setup_node_columns;"></tr>
    </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn"
              (click)="refresh_kit()" [disabled]="disable_refresh_kit_button()">Refresh Kit</button>
      <button mat-raised-button color="primary"
              (click)="setup_control_plane()" [disabled]="disable_setup_control_plane_button()">Setup Control Plane</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Node Management</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
      <table mat-table [dataSource]="nodes" aria-describedby="Kit Setup Nodes">
        <!-- Hostname -->
        <ng-container matColumnDef="hostname">
            <th scope="col" mat-header-cell *matHeaderCellDef>Hostname</th>
            <td mat-cell *matCellDef="let node;"><a (click)="open_node_info_dialog_window(node)">{{ node.hostname }}</a> <mat-icon *ngIf="get_vpn_status(node)" mat-list-icon>vpn_key</mat-icon></td>
        </ng-container>

        <!-- Ip Address -->
        <ng-container matColumnDef="ip_address">
          <th scope="col" mat-header-cell *matHeaderCellDef>Ip Address</th>
          <td mat-cell *matCellDef="let node;">{{ node.ip_address }}</td>
        </ng-container>

        <!-- Node Type -->
        <ng-container matColumnDef="node_type">
          <th scope="col" mat-header-cell *matHeaderCellDef>Node Type</th>
          <td mat-cell *matCellDef="let node;">{{ node.node_type }}</td>
        </ng-container>


        <!-- Deployment Type -->
        <ng-container matColumnDef="deployment_type">
          <th scope="col" mat-header-cell *matHeaderCellDef>Deployment Type</th>
          <td mat-cell *matCellDef="let node;">{{ node.deployment_type }}</td>
        </ng-container>

        <!-- State -->
        <ng-container matColumnDef="state">
          <th scope="col" mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let node;">
              <cvah-node-state-progress-bar #progressCircles [jobs]="node.jobs"></cvah-node-state-progress-bar>
          </td>
        </ng-container>


        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th scope="row" mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let node; let j = index;">
              <div class="btn-group">
                <button *ngIf="can_delete_node(node)" mat-icon-button matTooltip="Delete Node"
                        (click)="delete_node(node)"
                        color="warn" [disabled]="node.isRemoving">
                  <em class="material-icons">delete</em>
                </button>

                <button *ngIf="can_refresh_device_facts(node)" mat-icon-button
                         matTooltip="Refresh Device Facts" color="primary"
                         (click)="refresh_device_facts(node)">
                  <em class="material-icons">refresh</em>
                </button>

              <!--BUTTONS WILL BE REPLACED WITH JOB PROGRESS BAR-->

                <button *ngIf="is_iso_button_group(node)" mat-icon-button
                        matTooltip="Download OpenVPN Certificates" color="primary"
                        [disabled]="is_iso_node_deployed()"
                        (click)="download_open_vpn_certs(node)">
                    <em class="material-icons">cloud_download</em>
                </button>

              </div>
              <!--BUTTONS WILL BE REPLACED WITH JOB PROGRESS BAR-->
          </td>
      </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="node_columns"></tr>
        <tr mat-row *matRowDef="let rowData; columns: node_columns;"></tr>
    </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
              (click)="open_add_node_dialog_window()" [disabled]="disable_add_node_button()">Add Node</button>
      <button mat-raised-button color="primary" [disabled]="disable_deploy_kit_button()"
              (click)="deploy_kit()">Deploy Kit</button>
      <button mat-raised-button color="primary"
              matTooltip="Download ISO" color="primary"
              (click)="download_iso()" *ngIf="iso_sensor_detected">Download ISO</button>
    </mat-card-actions>
  </mat-card>
</div>
