if ( -not ([Security.Principal.WindowsPrincipal] `
           [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole( `
            [Security.Principal.WindowsBuiltInRole] "Administrator") ) {
 Write-Error "Must have administrator privileges to run this script."
  exit 1
}

#Uninstall Sysmon
{{ target_dir  }}\Sysmon\Sysmon64.exe -u 2> $null
Remove-Item -Path {{ target_dir }}\Sysmon -recurse


#Uninstall Winlogbeat
{{ target_dir }}\Winlogbeat\uninstall-service-winlogbeat.ps1
function getWlb {
  return Get-Service -Name "winlogbeat" 2> $null
}
$wlb = getWlb
Write-Host -NoNewLine "Waiting for winlogbeat service to stop..."
while ( $wlb ) {
  $wlb = getWlb
  Write-Host -NoNewLine "."
  sleep 1
}
"done"

{% if grr_fw_port != '' %}
Remove-Item -Path {{ target_dir }}\Winlogbeat -recurse

#Uninstall GRR
$grr_name = "GRR Monitor"
if ( Get-Service -Name $grr_name -ErrorAction SilentlyContinue ) {
  sc.exe stop $grr_name
  sc.exe delete $grr_name
  reg delete HKLM\Software\GRR /f
  Remove-Item -Path "C:\Windows\System32\GRR" -recurse
  Remove-Item -Path "C:\Windows\System32\LogFiles\grr_installer.txt"
}
{% endif %}
 
