@mixin chart-list-theme($theme) {
  .app-chart-list {
    list-item {
      border-radius: map-get($theme, border-radius);
      background-color: map-get($theme, background-light);
    }
    list-item-content {
      color: map-get($theme, layout-text);
    }
  }
}
