$list-item-content-height: 200px;

.list-item {
  overflow: hidden;
  transition: transform 0.2s ease;
  flex-flow: row-reverse wrap;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-right: 80px;
  width: 350px;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.88);
  }

  &-content {
    width: 100%;
    height: $list-item-content-height;
    display: flex;
    flex-direction: column;

  }

}
