<mat-expansion-panel id="cvah-change-password-form-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>Change Kit Password</mat-panel-title>
  </mat-expansion-panel-header>
  <form fxLayout="column"
        [formGroup]="change_kit_password_form_group"
        (ngSubmit)="update_button_click()">

    <!-- New Root Password -->
    <mat-form-field>
      <mat-label>New Root Password</mat-label>
      <input matInput
             id="cvah-change-password-form-new-root-password-input"
             type="password"
             autocomplete="false"
             placeholder="You must enter a new root password with a minimum length of 15 characters."
             formControlName="root_password"
             (keyup)="re_evaluate()"/>
      <mat-icon matSuffix *ngIf="change_kit_password_form_group.get('root_password').valid &&
                                 change_kit_password_form_group.get('root_password').touched"
                id="cvah-change-password-form-new-root-password-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="change_kit_password_form_group.get('root_password').invalid &&
                                 change_kit_password_form_group.get('root_password').touched"
                id="cvah-change-password-form-new-root-password-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-icon matSuffix id="cvah-change-password-form-new-root-password-mat-icon-info"
                matTooltip="Password requirements" (click)="open_password_rules_dialog()"
                class="password-dialog"
                color="accent">info</mat-icon>
      <mat-error id="cvah-change-password-form-new-root-password-mat-error">{{ get_error_message(change_kit_password_form_group.get("root_password")) }}</mat-error>
    </mat-form-field>

    <!-- Retype Password -->
    <mat-form-field>
      <mat-label>Retype Password</mat-label>
      <input matInput
             id="cvah-change-password-form-retype-password-input"
             type="password"
             autocomplete="false"
             placeholder="You must re-enter the root password"
             formControlName="re_password"
             (keyup)="re_evaluate()"/>
      <mat-icon matSuffix *ngIf="change_kit_password_form_group.get('re_password').valid &&
                                 change_kit_password_form_group.get('re_password').touched"
                id="cvah-change-password-form-retype-password-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="change_kit_password_form_group.get('re_password').invalid &&
                                 change_kit_password_form_group.get('re_password').touched"
                id="cvah-change-password-form-retype-password-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-error id="cvah-change-password-form-retype-password-mat-error">{{ get_error_message(change_kit_password_form_group.get("re_password")) }}</mat-error>
    </mat-form-field>

    <!-- Action Button -->
    <div mat-dialog-actions class="action-button-wrapper">
      <button mat-raised-button
              cdkFocusInitial
              id="cvah-change-password-form-button-update"
              color="primary"
              type="submit"
              [disabled]="!change_kit_password_form_group.valid || change_kit_password_form_group.untouched">Update</button>
    </div>
  </form>
</mat-expansion-panel>
