<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Page Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="pageInstructions" style="padding: 0px">
        <p>
          This page is a general purpose page for setting the clock, changing your Kit password and updating the controller's documentation.
          Changing the time or password here will propagate to all nodes in your cluster.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <app-node-maintenance-form></app-node-maintenance-form>
  <br>
  <app-kit-clock></app-kit-clock>
  <br>
  <app-change-password-form></app-change-password-form>
  <br>
  <app-update-docs-form></app-update-docs-form>
</div>
