<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Page Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="pageInstructions" style="padding: 0px">
        <p>
          This page is a general-purpose page for setting the clock, changing your Kit password and updating the controller's documentation.
          Changing the time or password here will propagate to all nodes in your cluster.
        </p>
        <p>For amplifying information, please refer to the Tools section of the DIP Operations guide</p>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <app-node-maintenance-form id="app-tools-div-app-node-maintenance-form"></app-node-maintenance-form>
  <br>
  <app-change-password-form id="app-tools-div-app-change-password-form"></app-change-password-form>
  <br>
  <app-update-docs-form id="app-tools-div-app-update-docs-form"></app-update-docs-form>
  <br>
  <app-repository-settings id="app-tools-div-app-repository-settings"></app-repository-settings>
  <br>
  <app-update-es-license-form id="app-tools-div-app-update-es-license-form"></app-update-es-license-form>
</div>
