---
# By default the cluster will not scehdule pods on the master for security reasons.
# The below task removes that restriction.
- name: 'Remove master taint from master'
  command: 'kubectl taint nodes --all node-role.kubernetes.io/master-'
  ignore_errors: yes

- name: 'Label masters'
  command: 'kubectl label nodes {{ ansible_fqdn }} role=server --overwrite=true'

- name: Add Var configmap
  command: "kubectl create configmap vars --from-file {{ kube_dir }}/vars.yml"

- name: Replace Var configmap
  shell: |
    kubectl create configmap vars --from-file {{ kube_dir }}/vars.yml -o yaml --dry-run | kubectl replace -f -
  tags:
    - vars-configmap
  when: node_to_add is defined
