<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Upgrade</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper class="inMatCard" #stepper div [linear]=true>
        <!-- Controller IP Selection and Configuration -->
        <mat-step id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration"
                  [stepControl]="upgradeFormGroup" label="Controller IP Selection and Configuration">
          <form [formGroup]="upgradeFormGroup">
            <div fxLayout="column" fxLayoutAlign="space-between stretch">
              <!-- IP Address -->
              <mat-form-field id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-div-mat-form-field-ip-address">
                <mat-label>Select this controllers management interface IP Address</mat-label>
                <mat-select disableRipple id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-div-mat-form-field-ip-address-mat-select"
                            formControlName="new_ctrl_ip" [required]=true>
                  <mat-option *ngFor="let interface of ctrlDeviceFacts['interfaces']; let i = index;"
                              id="{{ 'app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-div-mat-form-field-ip-address-mat-select-mat-option-' + i }}"
                              [value]="interface.ip_address">{{ interface.name }} - {{ interface.ip_address }}</mat-option>
                </mat-select>
                <mat-error id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-div-mat-form-field-ip-address-mat-error">{{ getErrorMessage(upgradeFormGroup.get("new_ctrl_ip")) }}</mat-error>
              </mat-form-field>
              <!-- Old IP Address -->
              <mat-form-field id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-div-mat-form-field-old-ip-address">
                <input matInput id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-div-mat-form-field-old-ip-address-input"
                       formControlName="original_controller_ip" placeholder="Old Controller IP Address">
                <mat-error id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-div-mat-form-field-old-ip-address-mat-error">{{ getErrorMessage(upgradeFormGroup.get("original_controller_ip")) }}</mat-error>
              </mat-form-field>
            </div>
            <button mat-raised-button id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-ip-selection-and-configuration-form-button-get-upgrade-paths"
                    color="primary" matStepperNext (click)="upgradePaths(stepper)">Get Upgrade Paths</button>
          </form>
        </mat-step>
        <!-- Upgrade path Configuration -->
        <mat-step id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection"
                  [stepControl]="upgradePathFormGroup" label="Upgrade path configuration">
          <form [formGroup]="upgradePathFormGroup">
            <h5>Upgrade Path Selection</h5>
            <div fxLayout="column" fxLayoutAlign="space-between stretch">
              <!-- Upgrade Path -->
              <mat-form-field id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-select-upgrade-path">
                <mat-label>Select An Upgrade Path</mat-label>
                <mat-select id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-select-upgrade-path-mat-select" formControlName="selectedPath">
                  <mat-option *ngFor="let path of paths; let j = index;" id="{{ 'app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-select-upgrade-path-mat-select-' + j }}"
                              [value]="path">{{path}}</mat-option>
                </mat-select>
                <mat-error id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-select-upgrade-path-mat-error">{{ getErrorMessage(upgradePathFormGroup.get("selectedPath")) }}</mat-error>
              </mat-form-field>
              <!-- Old Controller Username -->
              <mat-form-field id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-old-controller-username">
                <input matInput id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-old-controller-username-input"
                       formControlName="username" placeholder="Old Controller Username" [required]=true>
                <mat-error id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-old-controller-username-mat-error">{{ getErrorMessage(upgradePathFormGroup.get("username")) }}</mat-error>
              </mat-form-field>
              <!-- Password -->
              <mat-form-field id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-password">
                <input matInput id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-password-input"
                       type="password" formControlName="password" placeholder="Old Controller Password" [required]=true>
                <mat-error id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-div-mat-form-field-password-mat-error">{{ getErrorMessage(upgradePathFormGroup.get("password")) }}</mat-error>
              </mat-form-field>
            </div>
            <button mat-raised-button id="app-upgrade-div-mat-card-mat-card-content-mat-vertical-stepper-mat-step-upgrade-path-selection-form-button-execute-upgrade"
                    color="primary" (click)="performUpgrade()" [disabled]="upgradePathFormGroup.invalid">Execute Upgrade</button>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
