<a [class]="getStepClasses(job)" *ngFor="let job of jobs;" (click)="dropDownHandler(job)"
  [ngStyle]="{'cursor':job.job_id === null ? 'default' : 'pointer' }">
  <mat-icon class="material-icons-outlined" [inline]="true" mat-list-icon>{{ getStateIcon(job) }}</mat-icon>
   <div class="top" *ngIf="!toggleDropDown">
      {{ job.name }}: {{ getCurrentStatus(job) }}
      <em></em>
   </div>
   <div class="dropDown" *ngIf="toggleDropDown && validateDropDownJob(job)" style="position: absolute;"
   (click)="openJobConsole(job)">
    <div class="icon">
      <mat-icon class="material-icons-outlined" [inline]="true" mat-list-icon matTooltip=" {{ getCurrentStatus(job) }}">{{ getStateIcon(job) }}</mat-icon>
    </div>
    <div class="text" matTooltip="{{ job.description }}">
      {{ (job.description.length>18)? (job.description | slice:0:18)+'...':(job.description) }}
    </div>
    <div class="retry">
      <button class="material-icons" [disabled]="getCurrentStatus(job) != 'Error'"
       matTooltip="{{ displayButtonStatus(job) }}" (click)="retryJob(job)">refresh</button>
    </div>
  </div>
</a>
