

<div class="messageAll" fxLayout="row" fxLayoutAlign="space-between stretch">

  <div class="messageList" fxLayout="column" fxlayoutalign="start stretch">
    <mat-card class="messageList__card">
      <div class="messageList__buttonGroup" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let button of buttonList">
          <button mat-raised-button
                  [color]="getSelectedButton(button)"
                  class="messageList__buttonGroup__button"
                  fxLayout="column"
                  fxLayoutAlign="space-evenly center"
                  (click)="buttonPress(button)">
            <mat-icon style="font-size: 24px; margin-right: 10px;">{{button.icon}}</mat-icon>
            {{button.name}}
          </button>
      </div>
    </mat-card>
    <button  mat-raised-button
             [color]="warn"
             class="messageList__clear"
             fxLayout="column"
             fxLayoutAlign="center center"
             (click)="clearAll()">Clear All
    </button>
  </div>
  <div class="messageCenter" fxLayout="column" fxLayoutAlign="start center">
    <div class="messageCenter__center__outerCard">
      <div class="messageCenter__center__outerCard__margin" *ngFor="let list of buttonList" >
          <div *ngIf="(selectedButton.role === list.role)">
            <div *ngFor="let notification of list.notifications" fxLayout="row" fxLayoutAlign="start center">
                <div [ngSwitch]="notification.status">
                      <mat-icon *ngSwitchCase="'IN_PROGRESS'" style="font-size: 24px; margin-right: 10px;">sync</mat-icon>
                      <mat-icon *ngSwitchCase="'ERROR'" style="font-size: 24px; margin-right: 10px;">warning</mat-icon>
                      <mat-icon *ngSwitchCase="'COMPLETED'" style="font-size: 24px; margin-right: 10px;">done</mat-icon>
                      <mat-icon *ngSwitchCase="'STARTED'" style="font-size: 24px; margin-right: 10px;">play_circle_outline</mat-icon>
                      <mat-icon *ngSwitchCase="'DEPLOYED'" style="font-size: 24px; margin-right: 10px;">assignment_turned_in</mat-icon>
                      <mat-icon *ngSwitchCase="'CANCELLED'" style="font-size: 24px; margin-right: 10px;">not_interested</mat-icon>
                </div>
              <mat-card class="messageCenter__center__outerCard__innerCard" fxLayout="row" fxLayoutAlign="space-between center" >
                <div class="messageCenter__center__outerCard__innerCard__left">
                  <div>{{notification.status}}&nbsp;{{notification.action}}&nbsp;{{notification.application}}</div>
                  <div>{{notification.message}}</div>
                  <div>{{notification.exception}}</div>
                  <div>{{notification.displayTime}}</div>
                </div>
                <div class="messageCenter__center__outerCard__innerCard__right">
                    <mat-icon style="font-size: 24px;cursor: pointer;" (click)="clearNotification(notification._id)">delete</mat-icon>
                </div>

              </mat-card>
            </div>
            <div *ngIf="list.notifications.length === 0;" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon style="font-size: 36px;">notifications_none</mat-icon>
                <div style="margin-top: 25px;">There are no new messages</div>
            </div>
          </div>
      </div>

    </div>
  </div>


</div>

