CVA/H Weapon System {{ mip_version }}
Mobile Interceptor Platform (MIP) v{{ mip_version }} MDT Release
MIP Controller Commit Hash: {{ commit_hash.stdout }}
MIP Build Date: {{ ansible_date_time.iso8601 }}
