<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span class="PortalTitle">Portal</span>
        <button mat-raised-button color="primary" style="float:right;" (click)="addUserLink()" [disabled]="!operator">
          <mat-icon>add</mat-icon>Add Link
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="logo" height="100" src="../assets/logo.png" alt="CVA/H" />
        </div>
        <br>

      </div>
      <mat-grid-list cols="2" rowHeight="4:1" gutterSize="10px">
        <h3 mat-subheader>Common Links</h3>
        <mat-grid-tile *ngFor="let link of links" class="zoom" style="background: rgba(0,0,0,.38);">
          <div fxLayout="column" fxLayoutAlign="space-around start">
            <div style="margin-bottom: 10px; font-size: 1.5em;">
              <a href="{{ link.dns }}" target="_blank">{{ link.dns }}</a>
            </div>
            <div style="margin-bottom: 10px; font-size: 1.2em;">
              <a href="{{ link.ip }}" target="_blank">{{ link.ip }}</a>
            </div>
            <div *ngIf="link.logins">
              user/password: {{link.logins}}
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="4:1" gutterSize="10px">
        <h3 mat-subheader>Dashboard Links</h3>
        <ng-container *ngFor="let link of links">
          <mat-grid-tile *ngIf="link.dns.includes('https://kibana')" (click)="onViewUrl(getBroDashboard(link.ip))"
            class="zoom" style="background: rgba(0,0,0,.38);">
            <div fxLayout="column" fxLayoutAlign="space-around start">
              <div style="margin-bottom: 10px; font-size: 1.5em;">
                Bro/Zeek Dashboard
              </div>
              <div style="margin-bottom: 10px; font-size: 1.2em;">
                {{link.ip}}
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="link.dns.includes('https://kibana')" (click)="onViewUrl(getWinlogbeatDashboard(link.ip))"
            class="zoom" style="background: rgba(0,0,0,.38);">
            <div fxLayout="column" fxLayoutAlign="space-around start">
              <div style="margin-bottom: 10px; font-size: 1.5em;">
                Winlogbeat Dashboard
              </div>
              <div style="margin-bottom: 10px; font-size: 1.2em;">
                {{link.ip}}
              </div>
            </div>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="3:1" gutterSize="10px">
        <h3 mat-subheader>User Links</h3>
        <mat-grid-tile *ngFor="let link of user_links" class="zoom" style="background: rgba(0,0,0,.38);"
          (click)="onViewUrl(link.url)">
          <div fxLayout="column" fxLayoutAlign="space-around start" style="padding: 2em; width: 100%; height: 100%">
            <div style="margin-bottom: 10px; font-size: 1.5em;">
              {{link.name}}
            </div>
            <div style="margin-bottom: 10px; font-size: 1.3em;">
              {{link.url}}
            </div>
            <div *ngIf="link.description.length < 170; else smallDescription;" matTooltip="{{link.description}}">
              {{link.description}}
            </div>
            <div style="margin-top: 10px;">
              <button mat-button color="warn" (click)="openConfimRemoveUserLink($event, link)" *ngIf="operator">
                <em class="material-icons" >delete</em></button>
            </div>
            <ng-template #smallDescription>
              <div matTooltip="{{link.description}}">
                {{link.description.substring(0, 170)}}..
              </div>
            </ng-template>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
