<div class="main-content2">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span class="PortalTitle">Portal</span>
                <button mat-raised-button id="app-portal-div-mat-card-mat-card-header-mat-card-title-button-add-link"
                        color="primary" style="float:right;" (click)="addUserLink()" [disabled]="!operator">
                    <mat-icon id="app-portal-div-mat-card-mat-card-header-mat-card-title-button-add-link-mat-icon-add">add</mat-icon>Add Link
                </button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="logo" height="100" src="../assets/logo.png" alt="CVA/H" />
                </div>
                <br>
            </div>
            <mat-grid-list cols="2" rowHeight="4:1" gutterSize="10px">
                <h3 mat-subheader>Common Links</h3>
                <mat-grid-tile *ngFor="let link of links; let i = index;" class="zoom" style="background: rgba(0,0,0,.38);">
                    <div fxLayout="column" fxLayoutAlign="space-around start">
                        <div style="margin-bottom: 10px; font-size: 1.5em;">
                            <a id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-a-dns' }}"
                               href="{{ link.dns }}" target="_blank">{{ link.dns }}</a>
                        </div>
                        <div style="margin-bottom: 10px; font-size: 1.2em;">
                            <a id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-a-ip' }}"
                               href="{{ link.ip }}" target="_blank">{{ link.ip }}</a>
                        </div>
                        <div *ngIf="link.logins" id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-logins' }}">
                            user/password: {{link.logins}}
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="4:1" gutterSize="10px">
                <h3 mat-subheader>Dashboard Links</h3>
                <ng-container *ngFor="let link of links; let i = index;">
                    <mat-grid-tile *ngIf="link.dns.includes('https://kibana')" (click)="onViewUrl(getBroDashboard(link.ip))" class="zoom" style="background: rgba(0,0,0,.38);">
                        <div fxLayout="column" fxLayoutAlign="space-around start">
                            <div style="margin-bottom: 10px; font-size: 1.5em;">
                                Bro/Zeek Dashboard
                            </div>
                            <div style="margin-bottom: 10px; font-size: 1.2em;" id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-' + i + '-mat-grid-tile-div-div-ip' }}">
                                {{link.ip}}
                            </div>
                        </div>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="3:1" gutterSize="10px">
                <h3 mat-subheader>User Links</h3>
                <mat-grid-tile *ngFor="let link of user_links; let i = index;" class="zoom" style="background: rgba(0,0,0,.38);" (click)="onViewUrl(link.url)">
                    <div fxLayout="column" fxLayoutAlign="space-around start" style="padding: 2em; width: 100%; height: 100%">
                        <div id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-name' }}"
                             style="margin-bottom: 10px; font-size: 1.5em;">
                            {{link.name}}
                        </div>
                        <div id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-url' }}"
                             style="margin-bottom: 10px; font-size: 1.3em;">
                            {{link.url}}
                        </div>
                        <div *ngIf="link.description.length < 170; else smallDescription;"
                             id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-description' }}"
                             matTooltip="{{link.description}}">
                            {{link.description}}
                        </div>
                        <div style="margin-top: 10px;">
                            <button mat-button *ngIf="operator" id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-button' }}"
                                    color="warn" (click)="openConfimRemoveUserLink($event, link)">
                                <em id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-button-em-delete' }}"class="material-icons">delete</em>
                            </button>
                        </div>
                        <ng-template #smallDescription>
                            <div id="{{ 'app-portal-div-mat-card-mat-card-content-mat-grid-list-mat-grid-tile-' + i + '-div-div-div-link-description-substring' }}"
                                 matTooltip="{{link.description}}">
                                {{link.description.substring(0, 170)}}..
                            </div>
                        </ng-template>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>