<app-modal-dialog [modal]="addUserLinkModal" (primaryButtonClick)="saveUserLink($event)"></app-modal-dialog>
<app-modal-dialog [modal]="removeUserLinkModal" (primaryButtonClick)="removeUserLink()"></app-modal-dialog>
<div class="container" id="topheader">
  <div class="card">
    <div class="card-header">
      Portal
      <button mat-mini-fab color="primary" style="float:right;" (click)="addUserLink()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="card-body" fxFlexFill>
      <mat-list>
        <h3 mat-subheader>Common Links</h3>
        <div gdColumns="repeat(auto-fill, minmax(250px, 1fr))" gdGap="15px" gdRows="repeat(200px 200px)"
          style="padding:20px;">
          <mat-card *ngFor="let link of links" fxLayout="column" class="zoom">
            <mat-card-header fxFlex="20" class="margin:0;">
              <mat-card-title style="margin:0 -16px;"><a href="{{ link.dns }}" target="_blank">{{ link.dns }}</a>
              </mat-card-title>
              <mat-card-subtitle style="margin:0 -16px;"><a href="{{ link.ip }}" target="_blank">{{ link.ip }}</a>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxFlex style="padding-top: 10px; height:100%" *ngIf="link.logins">
              <div>
                user/password: {{link.logins}}
              </div>
            </mat-card-content>
          </mat-card>
        </div>


        <h3 mat-subheader>Dashboard Links</h3>
        <div gdColumns="repeat(auto-fill, minmax(250px, 1fr))" gdGap="15px" gdRows="repeat(200px 200px)"
          style="padding:20px;">
          <ng-container *ngFor="let link of links">
            <mat-card *ngIf="link.dns === 'http://kibana.lan'" fxLayout="column" class="zoom"
              (click)="onViewUrl(getBroDashboard(link.ip))">
              <mat-card-header fxFlex="20" class="margin:0;">
                <mat-card-title style="margin:0 -16px;">Bro Dashboard</mat-card-title>
                <mat-card-subtitle style="margin:0 -16px;">{{link.ip}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card *ngIf="link.dns === 'http://kibana.lan'" fxLayout="column" class="zoom"
              (click)="onViewUrl(getWinlogbeatDashboard(link.ip))">
              <mat-card-header fxFlex="20" class="margin:0;">
                <mat-card-title style="margin:0 -16px;">Winlogbeat Dashboard</mat-card-title>
                <mat-card-subtitle style="margin:0 -16px;">{{link.ip}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </ng-container>
        </div>


        <h3 mat-subheader>User Links</h3>
        <div gdColumns="repeat(auto-fill, minmax(250px, 1fr))" gdGap="15px" gdRows="repeat(200px 200px)"
          style="padding:20px;">
          <mat-card *ngFor="let link of user_links" fxLayout="column" class="zoom" (click)="onViewUrl(link.url)">
            <mat-card-header fxFlex="20" class="margin:0;">
              <!-- <img mat-card-avatar class="header-image" [src]="getIcon(link.url)"> -->
              <mat-card-title style="margin:0 -16px;">{{link.name}}</mat-card-title>
              <mat-card-subtitle style="margin:0 -16px;">{{link.url}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxFlex style="padding-top: 10px; height:100%">
              <div *ngIf="link.description.length < 170; else smallDescription;" matTooltip="{{link.description}}">
                {{link.description}}
              </div>
              <ng-template #smallDescription>
                <div matTooltip="{{link.description}}">
                  {{link.description.substring(0, 170)}}..
                </div>
              </ng-template>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxFlex="20">
              <button mat-button color="warn" (click)="openConfimRemoveUserLink($event, link)">Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-list>
    </div>
  </div>
</div>
