<h1 mat-dialog-title *ngIf="data === 'add'">Add RuleSet</h1>
<h1 mat-dialog-title *ngIf="data === 'edit'">Edit RuleSet</h1>
<div mat-dialog-content [formGroup]="ruleSetGroup" fxLayout="column" fxLayoutAlign="start stretch" style="overflow: unset;">
    <!-- Ruleset Name -->
    <mat-form-field id="policy-management-add-dialog-div-mat-form-field-ruleset-name">
        <input matInput id="policy-management-add-dialog-div-mat-form-field-ruleset-name-input"
               placeholder="RuleSet Name" type="text" formControlName="name" required>
    </mat-form-field>
    <!-- Classification -->
    <mat-form-field id="policy-management-add-dialog-div-mat-form-field-classification">
        <mat-label>Classification</mat-label>
        <mat-select id="policy-management-add-dialog-div-mat-form-field-classification-mat-select" formControlName="clearance">
            <mat-option *ngFor="let type of clearanceLevels; let i = index;"
                        id="{{ 'policy-management-add-dialog-div-mat-form-field-classification-mat-select-mat-option-' + i }}"
                        [value]="type.value">
                {{type.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Rule Type -->
    <mat-form-field id="policy-management-add-dialog-div-mat-form-field-rule-type">
        <mat-label>Rule Type</mat-label>
        <mat-select id="policy-management-add-dialog-div-mat-form-field-rule-type-mat-select"
                    formControlName="appType" (selectionChange)="changeSensorList($event)">
            <mat-option *ngFor="let type of ruleType; let i = index;"
                        id="{{ 'policy-management-add-dialog-div-mat-form-field-rule-type-mat-select-mat-option-' + i }}"
                        [value]="type.value">
                {{type.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Sensors -->
    <mat-form-field id="policy-management-add-dialog-div-mat-form-field-sensors">
        <mat-label>Sensors</mat-label>
        <mat-select id="policy-management-add-dialog-div-mat-form-field-sensors-mat-select" formControlName="sensors" multiple>
            <mat-option *ngFor="let sensor of sensorListSelection; let i = index;"
                        id="{{ 'policy-management-add-dialog-div-mat-form-field-sensors-mat-select-mat-option-' + i }}"
                        [value]="sensor">{{sensor}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox id="policy-management-add-dialog-div-mat-checkbox-is-enabled"
                  [checked]="isRuleSetEnabled()" formControlName="isEnabled">Is Enabled?</mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-raised-button id="policy-management-add-dialog-div-button-cancel"
            color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button cdkFocusInitial id="policy-management-add-dialog-div-button-submit"
            [disabled]="ruleSetGroup.invalid" color="primary" [mat-dialog-close]="data" (click)="onSubmit()">Submit</button>
</div>