<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button id="app-server-stdout-div-mat-card-mat-card-header-mat-card-title-button-kill-job"
                color="warn" (click)="openKillModal()"><em class="icon_stop_alt2"></em>Kill Job</button>
        <div>
          <button mat-icon-button *ngIf="!scrollStatus" id="app-server-stdout-div-mat-card-mat-card-header-mat-mat-card-title-button-play-scroll"
                  color="accent" (click)="pauseScroll()" style="margin-right: 10px;" matTooltip="Follow Console Output">
            <span class="material-icons" >vertical_align_bottom</span>
          </button>
          <button mat-icon-button *ngIf="scrollStatus" id="app-server-stdout-div-mat-card-mat-card-header-mat-mat-card-title-button-stop-scroll"
                  color="accent" (click)="pauseScroll()" style="margin-right: 10px;" matTooltip="Stop Following Console Output">
            <span class="material-icons" >pause</span>
          </button>
          <button mat-raised-button id="app-server-stdout-div-mat-card-mat-card-header-mat-mat-card-title-button-clear-console"
                  color="warn" (click)="clearConsole()"><em class="icon_trash"></em>Clear Console</button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div #console class="card-body console">
        <p *ngFor="let msg of messages; let i = index;"><span id="{{ 'app-server-stdout-div-mat-card-mat-card-content-div-p-' + i + '-span-msg' }}" [style.color]="msg.color">{{ msg.msg }}</span></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
