# This outlines a Kubernetes CronJob to run every 10 minutes and execute the Curator
# actions in the curator-config file.
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: curator
  labels:
    app: curator
spec:
  schedule: "10 * * * *"
  # For debugging failed jobs
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  # Wait 120 secs for job to start before terminating it and starting a new one
  startingDeadlineSeconds: 120
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: curator
            image: quay.io/pires/docker-elasticsearch-curator:5.5.4
            args:
            - --config
            - /etc/config/config.yml
            - /etc/config/action_file.yml
            volumeMounts:
              - name: config-volume
                mountPath: /etc/config
          volumes:
            - name: config-volume
              configMap:
                name: curator-config
          restartPolicy: OnFailure
