cluster.name: "{{ elastic_cluster_name }}"
network.host: 0.0.0.0
discovery.zen.minimum_master_nodes: {{ es_min_masters }}
discovery.zen.ping.unicast.hosts: elasticsearch-discovery
xpack.license.self_generated.type: basic
index.store.type: niofs
indices.fielddata.cache.size: 20%
processors: {{ ( ( elastic_ingest_cpu_request | replace('m','') | int ) / 1000 ) | round | int}}
node.master: false
node.data: false
node.ingest: true
cluster.remote.connect: true
