<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-icon-button color="warn" (click)="openRetryJobModal()"
            matTooltip="Retry Job" [disabled]="!allowRetry">
            <span class="material-icons">
              refresh
            </span>
          </button>
        </div>
        <div>
          <button mat-icon-button *ngIf="!scrollStatus" id="app-server-stdout-div-mat-card-mat-card-header-mat-mat-card-title-button-play-scroll"
                  color="accent" (click)="pauseScroll()" style="margin-right: 10px;" matTooltip="Follow Console Output">
            <span class="material-icons" >vertical_align_bottom</span>
          </button>
          <button mat-icon-button *ngIf="scrollStatus" id="app-server-stdout-div-mat-card-mat-card-header-mat-mat-card-title-button-stop-scroll"
                  color="accent" (click)="pauseScroll()" style="margin-right: 10px;" matTooltip="Stop Following Console Output">
            <span class="material-icons" >pause</span>
          </button>
          <button mat-icon-button id="app-server-stdout-div-mat-card-mat-card-header-mat-card-title-button-kill-job"
                  color="warn" (click)="openKillModal()" matTooltip="Kill Running Job"><span class="material-icons">stop</span></button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div #console class="card-body console">
        <p *ngFor="let log of logs; let i = index;"><span id="{{ 'app-server-stdout-div-mat-card-mat-card-content-div-p-' + i + '-span-msg' }}" [style.color]="log.color">{{ log.log }}</span></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
