{
  "clientId": "https://moloch.{{ domain }}/shibboleth",
  "name": "Moloch Viewer",
  "rootUrl": "https://moloch.{{ domain }}/",
  "adminUrl": "",
  "surrogateAuthRequired": false,
  "enabled": true,
  "alwaysDisplayInConsole": false,
  "clientAuthenticatorType": "client-secret",
  "redirectUris": [
    "https://moloch.{{ domain }}/*"
  ],
  "webOrigins": [],
  "notBefore": 0,
  "bearerOnly": false,
  "consentRequired": false,
  "standardFlowEnabled": true,
  "implicitFlowEnabled": false,
  "directAccessGrantsEnabled": false,
  "serviceAccountsEnabled": false,
  "publicClient": false,
  "frontchannelLogout": true,
  "protocol": "saml",
  "attributes": {
    "saml.assertion.signature": "true",
    "saml_assertion_consumer_url_redirect": "https://moloch.{{ domain }}/Shibboleth.sso/SAML2/POST",
    "saml.force.post.binding": "false",
    "saml.multivalued.roles": "false",
    "saml_single_logout_service_url_post": "https://moloch.{{ domain }}/Shibboleth.sso/SLO/POST",
    "saml.encrypt": "false",
    "saml_assertion_consumer_url_post": "https://moloch.{{ domain }}/Shibboleth.sso/SAML2/POST",
    "saml.server.signature": "true",
    "saml_idp_initiated_sso_url_name": "moloch",
    "saml.server.signature.keyinfo.ext": "false",
    "exclude.session.state.from.auth.response": "false",
    "saml.signing.certificate": "{{ saml_certs.moloch }}",
    "saml_single_logout_service_url_redirect": "https://moloch.{{ domain }}/Shibboleth.sso/SLO/POST",
    "saml.signature.algorithm": "RSA_SHA256",
    "saml_force_name_id_format": "false",
    "saml.client.signature": "true",
    "tls.client.certificate.bound.access.tokens": "false",
    "saml.authnstatement": "true",
    "display.on.consent.screen": "false",
    "saml.signing.private.key": "{{ saml_keys.moloch }}",
    "saml_name_id_format": "username",
    "saml.onetimeuse.condition": "false",
    "saml_signature_canonicalization_method": "http://www.w3.org/2001/10/xml-exc-c14n#"
  },
  "authenticationFlowBindingOverrides": {},
  "fullScopeAllowed": true,
  "nodeReRegistrationTimeout": -1,
  "defaultClientScopes": [
    "web-origins",
    "role_list",
    "profile",
    "roles",
    "common_attributes_saml",
    "email"
  ],
  "optionalClientScopes": [
    "address",
    "phone",
    "offline_access",
    "microprofile-jwt"
  ]
}
