apiVersion: v1
name: nifi
home:
version: {{ component["helm_version"] }}
appVersion: {{ component["app_version"] }}
description: Easy to use, powerful, and reliable system to process and distribute data

