<app-modal-dialog [modal]="messageDialog"></app-modal-dialog>
<app-modal-loading #loadingDialog modalId="waitForRuleToUpload" title="Uploading rules file please wait..."></app-modal-loading>
<div *ngIf="!_PolicyManagementService.isUserEditing" >
  <div class="container">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary" type="button" style="margin-right: 10px;" (click)="openConsole()">Open Console</button>
        <button title="Synchronize RuleSets" class="btn btn-primary" style="float: right;" (click)="ruleSync()"><i class="arrow_left-right_alt"></i> Rule Sync</button>
        <!-- TODO consider removing this <button title="Upload Existing RuleSet from Local File" class="btn btn-primary" style="float: right;" (click)="uploadRuleSetFile()"><i class="icon_upload"></i> Upload RuleSet</button> -->
        <button title="Add RuleSet" class="btn btn-primary" style="float: right;" (click)="addRuleSet()"><i class="icon_plus_alt2"></i> Add RuleSet</button>
      </div>
      <div class="card-body">
        <div class="card" style="margin-bottom: 15px;">
          <div class="card-body" style="border: 1px solid green;border-radius: 1rem;">
            <h5>Page Instructions</h5>
            <p class="card-text">
              This page allows you to modify and synchronize Suricata rules on a per sensor basis.  Additionally, 
              Suricata rules can be enabled / disabled and tested against your own PCAP files. 
              <br><br>
              Before you click the "Rule Sync" button in the top right, make sure you assigned sensors to the rule set
              by clicking the Edit button and selecting sensors to apply to the rule set.
              <br><br>
              After you have clicked the "Rule Sync" button, make sure that state column displays "&lt;sensor_name&gt; - Synced"
            </p>
          </div>
        </div>
        <policy-management-table></policy-management-table>
      </div>
    </div>
  </div>
</div>
<policy-management-dialog *ngIf="_PolicyManagementService.isUserEditing"
                      (closeNoSaveEvent)="closeEditor($event)"
                      (closeSaveEvent)="saveAndCloseEditor($event)"></policy-management-dialog>
