<h1 mat-dialog-title>Replay PCAP on target Sensor</h1>
<div mat-dialog-content [formGroup]="pcapForm"
     fxLayout="column" fxLayoutAlign="start stretch"
     style="overflow: unset;">
    <p>Executing this form will replay the selected PCAP on the selected Sensor. Are you sure you want to do this?</p>
    <mat-form-field>
      <input matInput placeholder="Selected PCAP" type="text" id="name" formControlName="pcap" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sensor hostname</mat-label>
      <mat-select formControlName="sensor" (selectionChange)="changeIfaceValues($event)">
        <mat-option *ngFor="let sensor of selectableSensors" [value]="sensor.management_ip">
          {{ sensor.hostname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error >{{ getErrorMessage(pcapForm.get('sensor')) }}</mat-error>
    <mat-form-field>
      <mat-select formControlName="ifaces" multiple matToolTip="These are the interfaces that the PCAP will replay on. If you select multiple Ifaces, the PCAP will be replayed on each iface selected.">
        <mat-option *ngFor="let iface of selectableIfaces" [value]="iface">{{ iface }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error >{{ getErrorMessage(pcapForm.get('ifaces')) }}</mat-error>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!pcapForm.valid"
          (click)="onSubmit()" cdkFocusInitial>Execute</button>
</div>
