<div class="main-content2" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center none">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          ElasticSearch Index Management
        </mat-card-title>
      </mat-card-header>
      <div *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
        <mat-horizontal-stepper #stepper linear="true">
          <!-- Index Action -->
          <mat-step id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action"
                    [stepControl]="indexManagementActions" [editable]="isEditable">
            <ng-template matStepLabel>Index Action</ng-template>
            <div>
              <p>Select an action; Close or Delete</p>
              <p>Close: A closed index will blocked read/write operations and does not allow all operations that opened indices allow.</p>
              <p>Delete: A delete index will delete all metadata in the index and clear out all shards and replicas tied to it.
                 To delete an index it must be closed first.</p>
            </div>
            <form [formGroup]="indexManagementActions" #imaFormDirective="ngForm">
              <div fxLayout="column" fxLayoutAlign="start stretch">
                <!-- Action -->
                <mat-form-field id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action-form-div-mat-form-field-action">
                  <mat-label>Action</mat-label>
                  <mat-select id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action-form-div-mat-form-field-action-mat-select"
                              formControlName="action" required>
                    <mat-option *ngFor="let value of actions; let i = index;"
                                id="{{ 'app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action-form-div-mat-form-field-action-mat-select-mat-option-' + i }}"
                                [value]="value.value">{{value.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end none" style="margin-top: 10px;" fxLayoutGap="10px">
                  <button mat-button color="primary" (click)="goForwardAction(stepper)" [disabled]="indexManagementActions.invalid">Next</button>
                </div>
              </div>
            </form>
          </mat-step>
          <!-- Index List -->
          <mat-step id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list"
                  [stepControl]="indexManagementList" [editable]="isEditable">
            <ng-template matStepLabel>Index List</ng-template>
            <div>
              <p>Select an Index and Click Update </p>
            </div>
            <form [formGroup]="indexManagementList" #imlFormDirective="ngForm">
              <div fxLayout="column" fxLayoutAlign="start stretch">
                <!-- List -->
                <mat-form-field id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-mat-form-field-list">
                  <mat-label>List</mat-label>
                  <mat-select id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-mat-form-field-list-mat-select"
                              formControlName="index_list" multiple>
                    <mat-option *ngFor="let index of indices; let j = index;"
                                id="{{ 'app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-mat-form-field-list-mat-select-mat-option-' + j }}"
                                (click)="isEmptyFun()" [value]="index">{{ index }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end none" style="margin-top: 10px;" fxLayoutGap="10px">
                  <button mat-button color="warn" (click)="goBack(stepper)">Back</button>
                  <button mat-raised-button color="primary" (click)="goForwardList(stepper)" [disabled]="!isEmpty">Update</button>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
