<div class="main-content2" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center none">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          ElasticSearch Index Management
        </mat-card-title>
      </mat-card-header>
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <mat-vertical-stepper #stepper>
          <!-- Index Action -->
          <mat-step id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action"
                    [stepControl]="indexManagementActions" [editable]="isEditable">
            <ng-template matStepLabel>Index Action</ng-template>
            <mat-card-content>
              <p>
                Select an action; Close or Delete
              </p>
              <p>
                Close: A closed index will blocked read/write operations and does not allow all operations that opened indices allow.
              </p>
              <p>
                Delete: A delete index will delete all metadata in the index and clear out all shards and replicas tied to it.
                To delete an index it must be closed first.
              </p>
            </mat-card-content>
            <form [formGroup]="indexManagementActions">
              <div fxLayout="column" fxLayoutAlign="start stretch">
                <!-- Action -->
                <mat-form-field id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action-form-div-mat-form-field-action">
                  <mat-label>Action</mat-label>
                  <mat-select id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action-form-div-mat-form-field-action-mat-select"
                              formControlName="action" required>
                    <mat-option *ngFor="let value of actions; let i = index;"
                                id="{{ 'app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action-form-div-mat-form-field-action-mat-select-mat-option-' + i }}"
                                [value]="value.value">{{value.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <button mat-raised-button id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-action-form-div-div-button-next"
                          color="primary" (click)="goForwardAction(stepper)" [disabled]="indexManagementActions.invalid">Next</button>
                </div>
              </div>
            </form>
          </mat-step>
          <!-- Index List -->
          <mat-step id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list"
                  [stepControl]="indexManagementList" [editable]="isEditable">
            <ng-template matStepLabel>Index List</ng-template>
            <mat-card-content>
              <p>
              Select an Index and Click Update
              </p>
            </mat-card-content>
            <form [formGroup]="indexManagementList">
              <div fxLayout="column" fxLayoutAlign="start stretch">
                <!-- List -->
                <mat-form-field id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-mat-form-field-list">
                  <mat-label>List</mat-label>
                  <mat-select id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-mat-form-field-list-mat-select"
                              formControlName="index_list" multiple>
                    <mat-option *ngFor="let index of indices; let j = index;"
                                id="{{ 'app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-mat-form-field-list-mat-select-mat-option-' + j }}"
                                (click)="isEmptyFun()" [value]="index">{{ index }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <button mat-raised-button id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-div-button-back"
                          style="margin-right: 20px;" color="primary" (click)="goBack(stepper)" [disabled]="false">Back</button>
                  <button mat-raised-button id="app-index-management-div-div-mat-card-div-mat-vertical-stepper-mat-step-index-list-form-div-div-button-update"
                          color="primary" (click)="goForwardList(stepper)" [disabled]="!isEmpty">Update</button>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner *ngIf="isLoading" id="app-index-management-div-mat-spinner"></mat-spinner>
</div>