.mat-form-field {
  width: 100%;
}

textarea {
  color: white;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 360px;
  line-height: 20px;
  background-color: black;
}