<div class="catalog-page" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center none">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h2 id="app-catalog-page-div-mat-card-div-div-h2-chart-id">{{chart?.id | capitalizeFirst}}</h2>
      </div>
      <mat-vertical-stepper #stepper>
        <!-- Information -->
        <mat-step id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-information">
          <form>
            <ng-template matStepLabel>Information</ng-template>
            <div id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-information-form-div-description"> description: {{ chart?.description }} </div>
            <div id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-information-form-div-app-version"> appVersion: {{ chart?.appVersion }} </div>
            <div id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-information-form-div-type"> type: {{ chart?.type }} </div>
            <div id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-information-form-div-version"> version: {{ chart?.version }} </div>
          </form>
        </mat-step>
        <!-- Process -->
        <mat-step id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group" [stepControl]="processFormGroup">
          <form [formGroup]="processFormGroup">
            <ng-template matStepLabel>Process</ng-template>
            <h5>Process Selection</h5>
            <!-- Process Selection -->
            <mat-form-field id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-mat-form-field-process" class="mat-form-field">
              <mat-label>Select A Process</mat-label>
              <mat-select id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-mat-form-field-process-mat-select" formControlName="selectedProcess">
                <mat-option *ngFor="let process of processList; let i = index;"
                            id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-mat-form-field-process-mat-select-mat-option-' + i }}" [value]="process.process">{{process.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="chart?.node_affinity !== 'Server - Any'">
              <h5>Node Selection</h5>
              <!-- Node Selection -->
              <mat-form-field id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-div-mat-form-field-node">
                <mat-label>Select A Node</mat-label>
                <mat-select id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-div-mat-form-field-node-mat-select"
                            (selectionChange)="getConfig(stepper, false)" formControlName="selectedNodes" multiple required>
                  <mat-option *ngFor="let node of filterByInput(processFormGroup.value.selectedProcess); let j = index;"
                              id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-div-mat-form-field-node-mat-select-mat-option-' + j }}"
                              [value]="node">{{node.hostname}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </mat-step>
        <div *ngIf="isReady">
          <!-- Configuration Overview -->
          <mat-step id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview">
            <form>
              <ng-template matStepLabel>Configuration Overview</ng-template>
              <div *ngFor="let sensor of processFormGroup.value.selectedNodes; let k = index;" [formGroup]="configFormGroup">
                <h4 id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-h4-hostname' }}">{{ sensor.hostname | capitalizeFirst }}</h4>
                <!-- Deployment Name-->
                <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" formGroupName="{{sensor.hostname}}">
                  <!-- Deployment Name -->
                  <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-mat-form-field-deployment-name' }}">
                    <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-mat-form-field-deployment-name-input' }}"
                           formControlName="deployment_name" placeholder="Deployment Name" required>
                  </mat-form-field>
                </div>
                <div *ngIf="chart?.formControls">
                  <div *ngFor="let control of chart.formControls; let l = index;" [ngSwitch]="control?.type" formGroupName="{{sensor.hostname}}">
                    <!-- Text Input -->
                    <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'textinput'">
                      <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-text' }}">
                        <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-text-input' }}"
                               matTooltip="{{control?.description}}" [matTooltipPosition]="'below'" formControlName="{{control.name}}" placeholder="{{control?.name}}" [required]="control?.required">
                        <mat-error *ngIf="isInvalidForm(sensor, control)"
                                   id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-text-mat-error' }}">{{getErrorMessage(control, sensor.hostname)}}</mat-error>
                      </mat-form-field>
                    </div>
                    <!-- checkbox -->
                    <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'checkbox'">
                      <mat-checkbox id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-checkbox-checkbox' }}"
                                    formControlName="{{control.name}}" [checked]="checkboxValue(sensor, control)" (change)="checkboxSetValue(sensor, control)"
                                    matTooltip="{{control?.description}}" [matTooltipPosition]="'right'" [required]="control?.required">{{control?.description}}</mat-checkbox>
                    </div>
                    <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'cortex-checkbox'" >
                      <mat-checkbox id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-checkbox-cortex-checkbox' }}"
                                    formControlName="{{control.name}}" [checked]="checkboxValue(sensor, control)" (change)="checkboxSetValue(sensor, control)"
                                    matTooltip="{{control?.description}}" [matTooltipPosition]="'right'" [required]="control?.required">{{control?.description}}</mat-checkbox>
                    </div>
                    <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'misp-checkbox'" >
                      <mat-checkbox id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-checkbox-misp-checkbox' }}"
                                    formControlName="{{control.name}}" [checked]="checkboxValue(sensor, control)" (change)="checkboxSetValue(sensor, control)"
                                    matTooltip="{{control?.description}}" [matTooltipPosition]="'right'" [required]="control?.required">{{control?.description}}</mat-checkbox>
                    </div>

                    <!-- Text Input List -->
                    <div class="stepper__body__selection" *ngSwitchCase="'textinputlist'" fxLayout="column" fxLayoutAlign="center none">
                      <div fxLayout="column" fxLayoutAlign="start center">
                        <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-mat-form-field-control-name-text-list' }}" style="width: 100%;">
                          <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-mat-form-field-control-name-text-list-input' }}"
                                 matTooltip="{{control?.description}}" [matTooltipPosition]="'below'" formControlName="{{control.name}}" placeholder="{{control?.name}}" [required]="control?.required">
                          <mat-error *ngIf="isInvalidForm(sensor, control)"
                                     id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-mat-form-field-control-name-text-list-mat-error' }}">{{getErrorMessage(control, sensor.hostname)}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- Interface -->
                    <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'interface'">
                      <div *ngFor="let sensorint of nodeList; let m = index;">
                        <div *ngIf="sensorint === sensor">
                          <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-' + m + '-div-mat-form-field-control-name-interface' }}">
                            <mat-label id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-' + m + '-div-mat-form-field-control-name-interface-mat-label' }}">{{ control.name | capitalizeFirst }}</mat-label>
                            <mat-select id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-' + m + '-div-mat-form-field-control-name-interface-mat-select' }}"
                                        formControlName="{{control.name}}" multiple required>
                              <mat-option *ngFor="let interface of sensorint.deviceFacts.potential_monitor_interfaces; let n = index;"
                                          id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-' + m + '-div-mat-form-field-control-name-interface-mat-select-' + n }}"
                                          [value]="interface">{{interface}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!-- Kafka -->
                    <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'kafka-cluster-cluster'">
                      <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-kafka' }}">
                        <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-kafka-input' }}"
                               matTooltip="{{control?.description}}" [matTooltipPosition]="'below'" formControlName="{{control.name}}" placeholder="{{control?.name}}" [required]="control?.required">
                        <mat-error *ngIf="isInvalidForm(sensor, control)"
                                   id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-kafka-mat-error' }}">{{getErrorMessage(control, sensor.hostname)}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>
        </div>
        <div *ngIf="isAdvance">
          <!-- Values File Overview -->
          <mat-step id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview">
            <form>
              <ng-template matStepLabel>Values File Overview </ng-template>
              <div *ngFor="let sensor of processFormGroup.value.selectedNodes; let o = index;" [formGroup]="valueFormGroup">
                <h4 id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview-form-div-' + o + '-h4-deployment-name' }}">{{ sensor?.deployment_name | capitalizeFirst }}</h4>
                <mat-checkbox id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview-form-div-' + o + '-mat-checkbox-enable-edit' }}"
                              (click)="AdvanceConfiguration(sensor)">Enable Edit</mat-checkbox>
                <!-- Deployment Name Textarea -->
                <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview-form-div-' + o + '-mat-form-field-deployment-name' }}" class="text-area">
                  <textarea matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview-form-div-' + o + '-mat-form-field-deployment-name-textarea' }}"
                            formControlName="{{sensor.deployment_name}}" style="width:100%; min-height: 150px; height: 300px" placeholder="Edit Values File"></textarea>
                </mat-form-field>
              </div>
            </form>
          </mat-step>
        </div>
      </mat-vertical-stepper>
    </div>
    <div class="stepper__footer" fxLayout="row" fxLayoutAlign="end none">
      <button mat-button id="app-catalog-page-div-mat-card-div-button-back"
              color="warn" style="margin-right: 10px;" (click)="goBack(stepper)" [disabled]="stepper.selectedIndex === 0">Back</button>
      <button mat-button *ngIf="stepper.selectedIndex === 0"
              id="app-catalog-page-div-mat-card-div-button-next" color="primary" (click)="goForward(stepper)"
              [disabled]="(stepper.selectedIndex !== 0 && (stepper.selectedIndex === 1 && processFormGroup.invalid))">Next</button>
      <button mat-button *ngIf="((processFormGroup.value.selectedProcess !== 'uninstall') && (stepper.selectedIndex === 1 ))"
              id="app-catalog-page-div-mat-card-div-button-next-get-config" color="primary" (click)="getConfig(stepper)" [disabled]="(stepper.selectedIndex !== 0 && (stepper.selectedIndex === 1 && processFormGroup.invalid))">Next</button>
      <button mat-button color="primary" *ngIf="((processFormGroup.value.selectedProcess !== 'uninstall') && (stepper.selectedIndex === 2 ))"
              id="app-catalog-page-div-mat-card-div-button-next-get-values" (click)="getValues(stepper)" [disabled]="(configFormGroup.invalid)">Next</button>
      <button mat-raised-button *ngIf="stepper.selectedIndex === 3 || processFormGroup.value.selectedProcess === 'uninstall'"
              id="app-catalog-page-div-mat-card-div-button-run" color="primary" (click)="runChart(stepper)" [disabled]="valueFormGroup.invalid">Run</button>
    </div>
  </mat-card>
</div>
