.stepper {
  height: 620px;

  &__footer {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
  }

  &__header {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
  }
  &__card {
    overflow: auto;
  }
}

.loading {
  padding-top: 250px;
}

.mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.line-numbers {
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

.text-area-wrapper {
  display: inline-block;
  margin: 0px;
  width: 80%;
}

.text-area {
  overflow: hidden;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.catalog-page {
  margin-top: 40px;
  mat-card {
    width: 80rem;
  }
}
