@import '../../../theme.scss';

.stepper {
  height: 620px;

  &__body {

    &__selection {
      // border-bottom: 1px solid #D7D9DD;
    }
  }

  &__footer {
    display: flex;
    height: 40px;
    border-top: 1px solid #D7D9DD;
    align-items: center;
    padding-left: 10px;
  }

  &__header {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #D7D9DD;
    align-items: center;
    padding-left: 10px;
  }
  &__card {
    overflow: auto;
  }
}

.loading {
  padding-top: 250px;
}

.mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  background-color: #eee;
  color: #555;
}


.line-numbers {
  display: inline-block;
  font-family: sans-serif;
  margin: 0px 5px 0px 0px;
}

.line-numbers div {
  font-size: 14px;
  font-family: sans-serif;
}

.text-area-wrapper {
  display: inline-block;
  margin: 0px;
  width: 80%;
}

.text-area {
  overflow: hidden;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
  background-color: #222;
  color: lightgreen;
}
