<div class="main-content2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Support</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="4:1" gutterSize="10px">
          <mat-grid-tile style="background: rgba(0,0,0,.38);" >
            <div class="zoom" fxLayout="column" fxLayoutAlign="space-around start" >
              <div style="margin-bottom: 10px; font-size: 1.5em;">
                Help Desk
              </div>
              <div style="margin-bottom: 10px; font-size: 1.2em;">
                <p style="margin-top:0px;">Open between 0800-1700 Central (M-F).</p>
                <p>Call toll free 833-682-4488 or 210-729-5100.</p>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile style="background: rgba(0,0,0,.38);" >
            <div class="zoom" fxLayout="column" fxLayoutAlign="space-around start" >
              <div style="margin-bottom: 10px; font-size: 1.5em;">
                Service Now
              </div>
              <div style="margin-bottom: 10px; font-size: 1.2em;">
                <a href="https://cvah.servicenowservices.com/sp" target="_blank" rel="noopener noreferrer">https://cvah.servicenowservices.com/sp</a>
                <br>
                <a href="mailto:cvah@servicenowservices.com">cvah@servicenowservices.com</a>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile  style="background: rgba(0,0,0,.38);" >
            <div class="zoom" fxLayout="column" fxLayoutAlign="space-around start" >
              <div style="margin-bottom: 10px; font-size: 1.5em;">
                PMO Support Site
              </div>
              <div style="margin-bottom: 10px; font-size: 1.2em;">
                <a href="https://intelshare.intelink.gov/sites/cvah-pmo" target="_blank" rel="noopener noreferrer">https://intelshare.intelink.gov/sites/cvah-pmo</a>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile  style="background: rgba(0,0,0,.38);" >
            <div class="zoom" fxLayout="column" fxLayoutAlign="space-around start" >
              <div style="margin-bottom: 10px; font-size: 1.5em;">
                Version Information
              </div>
              <div style="margin-bottom: 10px; font-size: 1.2em;">
                <p style="margin-top:0px;"><span style="color:white;">Release:</span> {{ version }}</p>
                <p><span style="color:white;">Commit Hash:</span> {{ commit_hash }} </p>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
</div>
