apiVersion: v1
name: netflow-filebeat
home:
version: {{ component["helm_version"] }}
appVersion: {{ component["app_version"] }}
description: Using the Netflow module, Filebeat can ingest Netflow data from Routers/Firewalls and export it to Elasticearch in ECS format.  This Data is compatable with the Elastic SIEM.
icon:
annotations:
  pmoSupported: false
  isSensorApp: false
