<div class="container" id="topheader">
  <div class="card">
    <div class="card-header">
      Docker Images
    </div>
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">Name</th>
          <th scope="col">Tags</th>
          <th scope="col">Image ID</th>
          <th scope="col">Image Size MB</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repo of registry">
          <td>{{ repo.name }}</td>
          <td>
            <p *ngFor="let meta of repo.metadata">
                {{ meta.tag }}
            </p>
          </td>
          <td>
            <p *ngFor="let meta of repo.metadata">
                {{ meta.image_id }}
            </p>
          </td>
          <td>
            <p *ngFor="let meta of repo.metadata">
                {{ meta.image_size }}
            </p>
          </td>
        </tr>             
      </tbody>
    </table>
  </div>
</div>