<h1 matDialogTitle>{{data.paneTitle}}</h1>
<div mat-dialog-content >
  <div style="white-space: pre-line; color: lightgreen; font-size: 12pt;">{{data.paneString}}</div>
  <mat-form-field style="width: 100%; margin-top: 7px;">
    <input matInput [(ngModel)]="doubleConfirm"
           matTooltip="Type {{ data.doubleConfirmText }} before clicking Confirm."
           placeholder="{{ data.doubleConfirmText }}">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
    <button mat-raised-button
            color="warn" (click)="close('option1')">{{data.option1}}</button>
    <button mat-raised-button [disabled]="!isConfirmEnabled()"
            color="primary" (click)="close('option2')">{{data.option2}}</button>
</div>
