#### Arkime configuration variables ####
image: 'tfplenum/arkime'
port: "8005"
domain: lan
python_image: tfplenum/python:{{ context["docker_versions"]["python_version"] }}
auth_base: https://controller.lan/auth/realms/CVAH-SSO

# Location of arkime dirs/files
dir: '/opt/tfplenum/arkime'
path: '/data/moloch'
config_path: "/opt/tfplenum/arkime/etc"

# Kubernetes And Docker Info
elastic_data_nodes: []
version: {{ component["app_version"] }}
cpu_request: 1000

# config options
elastic_port: 9200
maxESConns: "30"
maxESRequests: "500"
packetsPerPoll: "500000"
maxPacketsInQueue: "400000"
es_user: arkime
es_password: "SK2snS121nsk12s"

### proxy info
proxy:
  image: tfplenum/shibboleth_proxy
  version: {{ context["docker_versions"]["shibboleth_proxy_version"] }}

serviceNode: false
