<mat-card [formGroup]="changePasswordForm">
  <mat-card-header>
    <mat-card-title>
      <a id="app-change-password-form-mat-card-mat-card-header-mat-card-title-a" (click)="toggleCard()">
        <em *ngIf="!isCardVisible" id="app-change-password-form-mat-card-mat-card-header-mat-card-title-a-em-chevron-right"
            class="material-icons">chevron_right</em>
        <em *ngIf="isCardVisible" id="app-change-password-form-mat-card-mat-card-header-mat-card-title-a-em-expand-more"
            class="material-icons">expand_more</em>
        <span style="vertical-align: top;">Change Kit Password</span>
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="isCardVisible" fxLayout="column" fxLayoutAlign="space-around stretch">
    <!-- New Root Password -->
    <mat-form-field id="app-change-password-form-mat-card-mat-card-content-mat-form-field-new-root-password">
      <mat-label>New Root Password</mat-label>
      <input matInput type="password"
             placeholder="You must enter a new root password with a minimum length of 15 characters."
             formControlName="root_password"/>
      <mat-icon matSuffix *ngIf="changePasswordForm.get('root_password').valid &&
                                 changePasswordForm.get('root_password').touched"
                id="app-change-password-form-mat-card-mat-card-content-mat-form-field-new-root-password-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="changePasswordForm.get('root_password').invalid &&
                                 changePasswordForm.get('root_password').touched"
                id="app-change-password-form-mat-card-mat-card-content-mat-form-field-new-root-password-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-error id="app-change-password-form-mat-card-mat-card-content-mat-form-field-new-root-password-mat-error">{{getErrorMessage(changePasswordForm.get("root_password"))}}</mat-error>
    </mat-form-field>
    <!-- Retype Password -->
    <mat-form-field id="app-change-password-form-mat-card-mat-card-content-mat-form-field-retype-password">
      <mat-label>Retype Password</mat-label>
      <input matInput id="app-change-password-form-mat-card-mat-card-content-mat-form-field-retype-password-input"
             type="password" placeholder="You must re-enter the root password" formControlName="re_password"/>
      <mat-icon matSuffix *ngIf="changePasswordForm.get('re_password').valid &&
                                 changePasswordForm.get('re_password').touched"
                id="app-change-password-form-mat-card-mat-card-content-mat-form-field-retype-password-mat-icon-check-circle"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="changePasswordForm.get('re_password').invalid &&
                                 changePasswordForm.get('re_password').touched"
                id="app-change-password-form-mat-card-mat-card-content-mat-form-field-retype-password-mat-icon-error"
                color="warn">error</mat-icon>
      <mat-error id="app-change-password-form-mat-card-mat-card-content-mat-form-field-retype-password-mat-error">{{getErrorMessage(changePasswordForm.get("re_password"))}}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions *ngIf="isCardVisible">
    <button mat-raised-button id="app-change-password-form-mat-card-mat-card-actions-button-change-password"
            color="primary" [disabled]="changePasswordForm.disabled || changePasswordForm.invalid" (click)="onSubmit()">Change Password</button>
  </mat-card-actions>
</mat-card>
