#!/bin/bash

cn="$common_name"
key=`/opt/tfplenum/.venv/bin/python3 /opt/sso-idp/gen_api_token.py --roles "controller-node-state,controller-admin" --exp 0.1`
/opt/tfplenum/.venv/bin/python3 /opt/tfplenum/web/backend/setup_vpn.py --state "disconnect" --hostname "${cn}.{{ kit_domain }}" --bearer "${key}"
