#!/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin
MANAGEMENT_IFACE={{ management_interface }}
ip link set dev tap0 master br0
ifconfig tap0 0.0.0.0 promisc up
ifconfig $MANAGEMENT_IFACE 0.0.0.0 promisc up
exit 0
