<form>
  <!-- Form Input -->
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <mat-select disableRipple
                [formControl]="form_control"
                matTooltip="{{ mat_tooltip }}"
                [matTooltipPosition]="'before'"
                (openedChange)="reset_form_control($event)">
      <mat-option *ngFor="let option of filtered_options | async;"
                  [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix *ngIf="form_control.valid &&
                               form_control.touched"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="form_control.invalid &&
                               form_control.touched"
              color="warn">error</mat-icon>
    <mat-error *ngIf="mat_error">{{ mat_error }}</mat-error>
  </mat-form-field>
</form>
