<form>
  <!-- Form Input -->
  <mat-form-field>
    <mat-label>{{ labelInput }}</mat-label>
    <mat-select disableRipple
                [formControl]="formControlInput"
                matTooltip="{{ matTooltipInput }}"
                (openedChange)="reset_form_control($event)">
      <mat-option *ngFor="let option of filteredOptions | async;"
                  [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix *ngIf="formControlInput.valid &&
                               formControlInput.touched"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="formControlInput.invalid &&
                               formControlInput.touched"
              color="warn">error</mat-icon>
    <mat-error *ngIf="matError">{{ matError }}</mat-error>
  </mat-form-field>
</form>
