<div href="#" class="project-card" (mouseenter)="hoverCard($event); hovered=true;" (mouseleave)="hoverCard($event); hovered=false;">
  <div class="card-header">
    <node-background id="{{  generateUniqueHTMLID( 'app-card-div-div-node-background' ) }}"
                     [size]="{ width: '143px', height: '118px' }" [zoomed]="hovered" [color]="hoverColor">
    </node-background>
    <div>
      <h3 id="{{  generateUniqueHTMLID( 'app-card-div-div-div-h3-chart-application' ) }}"
          style="color:white">{{chart.application | capitalizeFirst}}</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="body" *ngIf="hovered" id="{{  generateUniqueHTMLID( 'app-card-div-div-chart-description' ) }}">{{chart.description}}</div>
    <div class="body" *ngIf="!hovered">
      <div class="supportedLabel" *ngIf="chart.pmoSupported">PMO Supported Application</div>
      <div class="supportedLabel2" *ngIf="!chart.pmoSupported">Community Application</div>
      <div *ngIf="chart?.nodes?.length !== 0" style="margin-top:10px;">
        <div *ngFor="let node of chart.nodes; let i = index;"
             id="{{  generateUniqueHTMLID( 'app-card-div-div-div-div-' + i + '-node-info' ) }}"
             style="color:lightgreen">{{node.hostname ? node.hostname : node.deployment_name}}: &nbsp; {{node.status}}</div>
      </div>
      <div *ngIf="chart?.nodes?.length === 0">
        <p style="color:white">Not Installed</p>
      </div>
    </div>
    <div div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-flat-button id="{{  generateUniqueHTMLID( 'app-card-div-div-div-button-configure-application' ) }}"
              [style.background-color]="blue()">Configure Application</button>
      <button mat-mini-fab id="{{  generateUniqueHTMLID( 'app-card-div-div-div-button' ) }}"
              [style.background-color]="getClassName()"></button>
    </div>
  </div>
</div>