.mat-dialog-content {
    margin: 0 0 !important;
    button {
        margin-right: 0px !important;
    }
    .mat-hint {
        color: #0f0 !important;
        font-size: 12px !important;
        padding-top: 10px;
    }
}