apiVersion: v1
name: suricata
home: https://suricata-ids.org/
version: {{ component["helm_version"] }}
appVersion: {{ component["app_version"] }}
description: Suricata is a free and open source, mature, fast and robust network threat detection engine.
icon: https://idsips.files.wordpress.com/2015/10/suri-400x400.png?w=300
annotations:
  pmoSupported: true
  isSensorApp: true
