[Unit]
Description=Lightweight configuration management tool

[Service]
ExecStart=/usr/bin/confd -backend redis -node redis.default.svc.cluster.local:6379 -interval 30
Restart=always
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=basic.target
