[Unit]
Description=Moloch Service
Wants=network.target

[Service]
ExecStart = /usr/bin/node /data/moloch/viewer/viewer.js
RestartSec=5
Restart=always
StandardOutput=journal

[Install]
WantedBy=multi-user.target
