bind-interfaces
expand-hosts
local=/{{ kit_domain }}/
domain={{ kit_domain }}
interface={{ management_interface }}
hostsdir={{ host_dir }}
listen-address={{ server_ip }},127.0.0.1

{% if upstream_dns is defined and upstream_dns != None %}
server={{ upstream_dns }}
{% endif %}
