apiVersion: cert-manager.io/v1alpha3
kind: Certificate
metadata:
  name: chartmuseum
  namespace: default
spec:
  # Secret names are always required.
  secretName: chartmuseum-certificate
  duration: 8760h # 365d
  renewBefore: 360h # 15d
  commonName: chartmuseum
  subject:
   organizations:
   - "CVA/H"
   countries:
   - "US"
  isCA: false
  keySize: 2048
  keyAlgorithm: rsa
  keyEncoding: pkcs1
  usages:
    - server auth
  dnsNames:
  - chartmuseum
  - chartmuseum.lan
  - chartmuseum.{{ fqdn }}
  - chartmuseum-headless.{{ fqdn }}
  issuerRef:
    name: webca-issuer
    kind: Issuer
    group: cert-manager.io
