[
  {
    "op": "replace",
    "path": "/spec/template/spec/volumes/0",
    "value": {
      "name": "storage-volume",
      "hostPath": {
        "path": "{{ chartmuseum_data_dir }}",
        "type": "DirectoryOrCreate"
      }
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/volumes/1",
    "value": {
      "name": "webca",
      "secret": {
        "defaultMode": "420",
        "optional": "false",
        "secretName": "chartmuseum-certificate"
      }
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/volumeMounts/1",
    "value": {
      "name": "webca",
      "mountPath": "/etc/ssl/certs/chartmuseum.crt",
      "readOnly": "true",
      "subPath": "tls.crt"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/volumeMounts/2",
    "value": {
      "name": "webca",
      "mountPath": "/etc/ssl/certs/chartmuseum.key",
      "readOnly": "true",
      "subPath": "tls.key"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/volumeMounts/3",
    "value": {
      "name": "webca",
      "mountPath": "/etc/ssl/certs/webCA.crt",
      "readOnly": "true",
      "subPath": "ca.crt"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/env/6",
    "value": {
      "name": "TLS_CERT",
      "value": "/etc/ssl/certs/chartmuseum.crt"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/env/7",
    "value": {
      "name": "TLS_KEY",
      "value": "/etc/ssl/certs/chartmuseum.key"
    }
  },
  {
    "op": "replace",
    "path": "/spec/template/spec/containers/0/livenessProbe/httpGet/scheme",
    "value": "HTTPS"
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/readinessProbe/httpGet/scheme",
    "value": "HTTPS"
  }
]
