###################### Filebeat Configuration Example #########################

# This file is an example configuration file highlighting only the most common
# options. The filebeat.reference.yml file from the same directory contains all the
# supported options with more comments. You can use it as a reference.
#
# You can find the full configuration reference here:
# https://www.elastic.co/guide/en/beats/filebeat/index.html

# For more available modules and options, please see the filebeat.reference.yml sample
# configuration file.

#=========================== Filebeat inputs =============================

filebeat.inputs:

# Each - is an input. Most options can be set at the input level, so
# you can use different inputs for various configurations.
# Below are the input specific configurations.

- type: log

  # Change to true to enable this input configuration.
  enabled: true

  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    # Network Protocols
    - /bro/spool/logger-*/conn.log
    - /bro/spool/logger-*/dhcp.log
    - /bro/spool/logger-*/dns.log
    - /bro/spool/logger-*/ftp.log
    - /bro/spool/logger-*/http.log
    - /bro/spool/logger-*/irc.log
    - /bro/spool/logger-*/kerberos.log
    - /bro/spool/logger-*/modbus.log
    - /bro/spool/logger-*/mysql.log
    - /bro/spool/logger-*/ntlm.log
    - /bro/spool/logger-*/radius.log
    - /bro/spool/logger-*/rdp.log
    - /bro/spool/logger-*/rfb.log
    - /bro/spool/logger-*/sip.log
    - /bro/spool/logger-*/smb_cmd.log
    - /bro/spool/logger-*/smtp.log
    - /bro/spool/logger-*/snmp.log
    - /bro/spool/logger-*/smb_mapping.log
    - /bro/spool/logger-*/smb_files.log
    - /bro/spool/logger-*/socks.log
    - /bro/spool/logger-*/ssh.log
    - /bro/spool/logger-*/ssl.log
    - /bro/spool/logger-*/syslog.log

    # Detection
    - /bro/spool/logger-*/intel.log
    - /bro/spool/logger-*/notice.log
    - /bro/spool/logger-*/notice_alarm.log
    - /bro/spool/logger-*/signatures.log

    # Misc
    - /bro/spool/logger-*/weird.log

  close_removed: false
  clean_removed: false

  json.keys_under_root: true
  json.add_error_key: true

#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 3
  #index.codec: best_compression
  #_source.enabled: false

#============================== Kibana =====================================

# Starting with Beats version 6.0.0, the dashboards are loaded via the Kibana API.
# This requires a Kibana endpoint configuration.
setup.kibana:

#================================ Outputs =====================================

# Configure what output to use when sending the data collected by the beat.

output.logstash:
  # The Logstash hosts
  hosts: ["{{ logstash_fqdn }}:{{ logstash_port }}"]
  worker: 6
  bulk_max_size: 4096
  compression_level: 3
  pipelining: 0
  ttl: 10s

queue.mem:
  events: 65536

#================================ Procesors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~

# Set to true to enable the monitoring reporter.
xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch:
  hosts: ["{{ elastic_fqdn }}:{{ elastic_port }}"]
