#The syntax for the hosts file is:
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4

# Controller
{{ ansible_controller_ip }} {{ ansible_controller_hostname }}

# Network nodes as generated through Ansible.
{% for host in host_list %}
{{ hostvars[host]['ansible_default_ipv4'].address }} {{ hostvars[host].ansible_hostname }}.lan {{ hostvars[host].ansible_hostname }}
{% endfor %}
