<div class="stepper" fxLayout="column" fxLayoutAlign="space-between none" *ngIf="!isLoading">
  <div fxLayout="column" fxLayoutAlign="start none">
    <div class="stepper__header" >
       <h2> {{ chart.attributes.name }} </h2>
    </div>
      <mat-horizontal-stepper  #stepper div  >
          <mat-step>
            <form>
              <ng-template matStepLabel>Information</ng-template>
              {{ chart.attributes.description }}
            </form>
          </mat-step>
          <mat-step [stepControl]="processFormGroup">
            <form [formGroup]="processFormGroup">
              <ng-template matStepLabel>Process</ng-template>
              <h5>Process Selection</h5>
              <mat-form-field class="mat-form-field">
                <mat-label>Select A Process</mat-label>
                <mat-select formControlName="selectedProcess">
                  <mat-option *ngFor="let process of processList" [value]="process.process">{{process.name}}</mat-option>
                </mat-select>
              </mat-form-field>
                <h5>Node Selection</h5>
                <mat-form-field>
                  <mat-label>Select A Sensor</mat-label>
                  <mat-select formControlName="selectedNodes" multiple required>
                    <mat-option *ngFor="let node of filterByInput(processFormGroup.value.selectedProcess)" [value]="node">{{node.hostname}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </form>
          </mat-step>
            <div *ngIf="isReady">
            <mat-step>
                <form>
                  <ng-template matStepLabel>Configuration Overview </ng-template>
                  <!-- <mat-card class="stepper__card" fxLayout="column" fxLayoutAlign="start start" > -->
                    <div *ngFor="let sensor of processFormGroup.value.selectedNodes" [formGroup]="configFormGroup">
                      <h5>{{sensor.hostname}}</h5>
                      <div *ngFor="let control of chart.formControls" [ngSwitch]="control?.type" formGroupName="{{sensor.hostname}}">
                        <!-- Text Input -->
                        <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'textinput'" >
                            <mat-form-field>
                              <input matInput formControlName="{{control.name}}" placeholder="{{control?.name}}" required>
                                <mat-error *ngIf="isInvalidForm(sensor, control)">{{getErrorMessage(control, sensor.hostname)}}</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Text Input List -->
                        <div class="stepper__body__selection" *ngSwitchCase="'textinputlist'" fxLayout="column" fxLayoutAlign="center none">
                            <mat-form-field>
                              <input matInput formControlName="{{control.name}}" placeholder="{{control?.name}}" required>
                            </mat-form-field>
                            <mat-error *ngIf="isInvalidForm(sensor, control)">{{getErrorMessage(control, sensor.hostname)}}</mat-error>
                        </div>
                        <!-- Interface -->
                        <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'interface'">
                          <div *ngFor="let sensorint of nodeList" >
                            <div *ngIf="sensorint === sensor">
                                <mat-form-field>
                                    <mat-label> {{control.name}}</mat-label>
                                    <mat-select formControlName="{{control.name}}" multiple required>
                                      <mat-option *ngFor="let interface of sensorint.interfaces" [value]="interface" >{{interface}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </mat-card> -->
                </form>
              </mat-step>
          </div>
      </mat-horizontal-stepper>
  </div>

  <div class="stepper__footer" fxLayout="row" fxLayoutAlign="end none">
      <button mat-button (click)="goBack(stepper)" [disabled]="stepper.selectedIndex === 0">Back</button>
      <button mat-button (click)="goForward(stepper)" *ngIf="(stepper.selectedIndex !== 2 && (processFormGroup.value.selectedProcess !== 'uninstall' || stepper.selectedIndex === 0))" [disabled]="(stepper.selectedIndex !== 0 && (stepper.selectedIndex === 1 && processFormGroup.invalid))">Next</button>
      <button mat-button (click)="runChart(stepper)" *ngIf="stepper.selectedIndex === 3 || (stepper.selectedIndex === 2 && !configFormGroup.value.advanceConfiguration) || processFormGroup.value.selectedProcess === 'uninstall'" [disabled]="configFormGroup.invalid">Run</button>
  </div>
</div>
<div class="loading" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading">
  <mat-spinner ></mat-spinner>
  <div>Loading Application Data</div>
</div>

