<div class="main-content2" *ngIf="!isUserEditing">
  <!-- Title -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elasticsearch Scaling (Experimental)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
          The master node is responsible for lightweight cluster-wide actions such as creating or deleting an index, tracking which nodes are part of the cluster, and deciding which shards to allocate to which nodes. It is important for cluster health to have a stable master node. The Recommended count for master nodes is 3.
      </p>
      <p>
          Data nodes hold the shards that contain the documents you have indexed. Data nodes handle data related operations like CRUD, search, and aggregations. These operations are I/O-, memory-, and CPU-intensive. They also execute pre-processing pipelines, composed of one or more ingest processors. You should add more Data Nodes if you are expending heavy traffic.
      </p>
      <p>
          If you take away the ability to be able to handle master duties, to hold data, and pre-process documents, then you are left with a coordinating node that can only route requests, handle the search reduce phase, and distribute bulk indexing. You should add more Coordinating Nodes if you are having problems searching.
      </p>
      <p style="font-weight: bold; color:red">
        NOTE: We currently have no validation on this feature. If you proceed you can destory your cluster. Proceed at your own risk.
    </p>

    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <br>
  <!-- PODS -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elasticsearch Node Types</mat-card-title>
    </mat-card-header>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card-content>
      <ng-container *ngFor="let slider of elasticPodTypes">
        <div *ngIf="!slider.hidden" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px" >
            <h2 class="example-h2">{{slider.title}}</h2>
            <mat-slider
                class="example-margin"
                [max]=slider.maxCount
                [min]=slider.minCount
                [step]="step"
                [thumbLabel]="true"
                [tickInterval]=1
                [(ngModel)]=slider.currentCount
                [disabled]="status">
            </mat-slider>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h4 mat-line>Current {{slider.type}} Node Count: {{slider.currentCount}}</h4>
              <h4 mat-line>Max {{slider.type}} Node Count: {{slider.maxCount}}</h4>
            </div>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button color="primary" (click)="askRunDialog()" [disabled]="status" matTooltip="Execute Elastic Scaling">Run</button>
      <button mat-raised-button color="warn" (click)="editElasticConfig()" [disabled]="status" matTooltip="Advanced edit of entire Elastic Config">Edit Full Config</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <br>
</div>
<app-elasticconfig-editor *ngIf="isUserEditing" [text]="elasticConfig" (closeNoSaveEvent)="closeEditor($event)" (closeSaveEvent)="saveAndCloseEditor($event)"></app-elasticconfig-editor>
