<div class="main-content2" fxLayout="column" fxLayoutGap="10px">
  <!-- Title -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elasticsearch Scaling (Experimental)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p style="font-weight: bold; color:red">NOTE: There is currently no validation on this feature. Utilization has the potential to destroy a cluster. Proceed with caution.</p>
      <p>The master node is responsible for lightweight cluster-wide actions such as creating or deleting an index, tracking which nodes are part of the cluster, and deciding which shards to allocate to which nodes. It is important for cluster health to have a stable master node. The Recommended count for master nodes is 3.</p>
      <p>Data nodes hold the shards that contain the documents you have indexed. Data nodes handle data related operations like CRUD, search, and aggregations. These operations are I/O-, memory-, and CPU-intensive. They execute pre-processing pipelines, composed of one or more ingest processors. Add more Data Nodes for expending heavy traffic.</p>
      <p>Taking away the ability to handle master duties, to hold data, and pre-process documents leaves a coordinating node that can only route requests, handle the search reduce phase, and distribute bulk indexing. Add more Coordinating Nodes for search related issues.</p>
    </mat-card-content>
  </mat-card>
  <!-- PODS -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elasticsearch Node Types</mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
      <ng-container *ngFor="let slider of elasticPodTypes; let i = index;">
        <div *ngIf="!slider.hidden" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
            <h2 id="{{ 'app-es-scale-' + i + '-slider-title' }}" class="example-h2">Elastic {{slider.title}} Pod</h2>
            <mat-slider id="{{ 'app-es-scale-' + i + '-mat-slider-current-count' }}"
                        class="example-margin"
                        [max]=slider.maxCount
                        [min]=slider.minCount
                        [step]="step"
                        [thumbLabel]="true"
                        [tickInterval]=1
                        [(ngModel)]=slider.currentCount
                        [disabled]="status">
            </mat-slider>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h4 mat-line id="{{ 'app-es-scale-' + i + '-type-count' }}">Current {{slider.title}} Node Count: {{slider.currentCount}}</h4>
              <h4 mat-line id="{{ 'app-es-scale-' + i + '-type-maxcount' }}">Max {{slider.title}} Node Count: {{slider.maxCount}}</h4>
            </div>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-stroked-button id="app-es-scale-button-edit-full-config"
              color="warn" (click)="editElasticConfig()" [disabled]="status"
              matTooltip="Advanced edit of entire Elastic Config">Edit Full Config</button>
      <button mat-raised-button id="app-es-scale-button-run"
              color="primary" (click)="askRunDialog()"
              [disabled]="status" matTooltip="Execute Elastic Scaling">Run</button>
    </mat-card-actions>
  </mat-card>
</div>
