<div class="main-content2" >
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Node Health
        <button mat-button style="float: right;" class="btn-primary2" (click)="performSystemsCheck()">
          <i class="material-icons">autorenew</i> Refresh Health Metrics</button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="nodeStatuses" multiTemplateDataRows>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let node">
            <a (click)="toggleNodeResources(node)">{{ node.metadata.name }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let node">
            {{ node.metadata.node_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ip_address">
          <th mat-header-cell *matHeaderCellDef>IP Address</th>
          <td mat-cell *matCellDef="let node">
            <a (click)="openNodeInfo(node.metadata.name, node.status.node_info)">{{ node.metadata.public_ip }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="ready">
          <th mat-header-cell *matHeaderCellDef>Ready</th>
          <td mat-cell *matCellDef="let node">
              <a title="{{ node.status.conditions[3].message }}" data-toggle="tooltip" data-placement="right">
                <div *ngIf="node.status.conditions[3].status === 'True'; else notworking">
                  <i class="material-icons" style="color:lightgreen;">check_circle</i>
                </div>
                <ng-template #notworking>
                  <i class="material-icons" style="color:darkred;">cancel</i>
                </ng-template>
              </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="out_of_disk">
          <th mat-header-cell *matHeaderCellDef>Out of Disk</th>
          <td mat-cell *matCellDef="let node">
            <a matTooltip="{{ node.status.conditions[2].message }}">{{ node.status.conditions[2].status }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="memory_pressure">
          <th mat-header-cell *matHeaderCellDef>Memory Pressure</th>
          <td mat-cell *matCellDef="let node">
            <a matTooltip="{{ node.status.conditions[0].message }}">{{ node.status.conditions[0].status }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="disk_pressure">
          <th mat-header-cell *matHeaderCellDef>Disk Pressure</th>
          <td mat-cell *matCellDef="let node">
            <a matTooltip="{{ node.status.conditions[1].message }}">{{ node.status.conditions[1].status }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let node">
              <button mat-button matTooltip="Click to run describe node." class="btn-primary2"
                  (click)="describeNode(node.metadata.name)">
                  <i class="material-icons">info</i>
              </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let node" [attr.colspan]="columnsForNodeStatues.length">
            <div fxLayout="row" fxLayoutAlign="start none">
              <div fxFlex="33">
                Total Capacity
                <dl fxLayout="column" fxLayoutAlign="start none">
                  <dt>CPUs:</dt>
                  <dd>{{ node.status.capacity.cpu }}</dd>
                  <dt>Ephemeral storage:</dt>
                  <dd>{{ node.status.capacity["ephemeral-storage"] }}</dd>
                  <dt>Memory:</dt>
                  <dd>{{ node.status.capacity.memory }}</dd>
                  <dt>Max Pods:</dt>
                  <dd>{{ node.status.capacity.pods }}</dd>
                </dl>
              </div>
              <div fxFlex="33">
                Kubernetes Capacity
                <dl>
                  <dt>CPUs:</dt>
                  <dd>{{ node.status.allocatable.cpu }}</dd>
                  <dt>Ephemeral storage:</dt>
                  <dd>{{ node.status.allocatable["ephemeral-storage"] }}</dd>
                  <dt>Memory:</dt>
                  <dd>{{ node.status.allocatable.memory }}</dd>
                  <dt>Max Pods:</dt>
                  <dd>{{ node.status.allocatable.pods }}</dd>
                </dl>
              </div>
              <div fxFlex="33">
                Other
                <dl>
                  <dt>CPUs requested from pods:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).cpus_requested_str }}</dd>
                  <dt>Remaining allocatable CPUs:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).remaining_allocatable_cpu }}</dd>
                  <dt>Memory requested from pods:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).mem_requested_str }}</dd>
                  <dt>Remaining allocatable memory:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).remaining_allocatable_mem }}</dd>
                </dl>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsForNodeStatues"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsForNodeStatues;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [hidden]="!isNodeResourceVisible(row)"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pod Health</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group (selectedTabChange)="changeTab($event)">
        <mat-tab *ngFor="let tab_name of tabs_names" label="{{ tab_name }}">
          <ng-container *ngTemplateOutlet="podStatues"></ng-container>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #podStatues>
  <ng-container *ngIf="displayedPipeline">
    <div fxLayout="row" fxLayoutAlign="start none">
      <dl fxFlex="20">
        <dt matTooltip="The last Suricata event that occurred on this sensor's disk drive.">Last Suricata Log Event</dt>
        <dd>{{ displayedPipeline.last_suricata_log_event }}</dd>
      </dl>
      <dl>
        <dt matTooltip="The last Suricata event that was received by Elasticsearch on the server cluster.">Last Suricata Elastic Event</dt>
        <dd>{{ displayedPipeline.last_suricata_elastic_events }}</dd>
      </dl>
    </div>
    <div fxLayout="row" fxLayoutAlign="start none">
      <dl fxFlex="20">
        <dt matTooltip="The last Zeek event that occurred on this sensor's disk drive.">Last Zeek Log Event</dt>
        <dd>{{ displayedPipeline.last_zeek_log_event }}</dd>
      </dl>
      <dl>
        <dt matTooltip="The last Zeek event that was received by Elasticsearch on the server cluster.">Last Zeek Elastic Event</dt>
        <dd>{{ displayedPipeline.last_zeek_elastic_events }}</dd>
      </dl>
    </div>
    <div fxLayout="row" fxLayoutAlign="start none">
      <dl fxFlex="20">
        <dt matTooltip="The last PCAP capture event that occurred on this sensor's disk drive.">Last PCAP Log Event</dt>
        <dd>{{ displayedPipeline.last_pcap_log_event }}</dd>
      </dl>
      <dl>
        <dt matTooltip="The last Moloch event that was received by Elasticsearch on the server cluster.">Last Moloch Elastic Event</dt>
        <dd>{{ displayedPipeline.last_moloch_elastic_events }}</dd>
      </dl>
    </div>
  </ng-container>

  <table mat-table [dataSource]="podsStatuses" multiTemplateDataRows>
    <ng-container matColumnDef="namespace">
      <th mat-header-cell *matHeaderCellDef>Namespace</th>
      <td mat-cell *matCellDef="let pod">
        <a matTooltip="Click me" (click)="togglePodDropDown(pod)">{{ pod.metadata.namespace }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="pod_name">
      <th mat-header-cell *matHeaderCellDef>Pod Name</th>
      <td mat-cell *matCellDef="let pod">
        <a matTooltip="Click me" (click)="openPodStatusInfo(pod.metadata.name, pod.status)">{{ pod.metadata.name }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="container_states">
      <th mat-header-cell *matHeaderCellDef>Container States</th>
      <td mat-cell *matCellDef="let pod">
        <div *ngFor="let container of getPostStatus(pod.status)">
          <span *ngIf="container.name">{{ container.name }}: </span>
          <span *ngIf="container.status === 'running'" style="color: #28a745; font-weight: bold;">{{ container.status }}</span>
          <span *ngIf="container.status !== 'running'" style="color: #E74C3C; font-weight: bold;">{{ container.status }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="restart_count">
      <th mat-header-cell *matHeaderCellDef>Restart Count</th>
      <td mat-cell *matCellDef="let pod">
        {{ getContainerRestartCount(pod) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let pod">
          <button mat-button matTooltip="Click to run describe pod." class="btn-primary2" (click)="describePod(pod.metadata)">
            <i class="material-icons">info</i>
          </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let pod" [attr.colspan]="columnsForPodStatues.length">
        <table>
          <thead>
            <tr>
              <th>Container name</th>
              <th>CPU Request</th>
              <th>Memory Request</th>
              <th>CPU Limit</th>
              <th>Memory Limit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let container of pod.spec.containers">
              <td>{{ container.name }}</td>
              <td>{{ getRequest(container, 'cpu') }}</td>
              <td>{{ getRequest(container, 'memory') }}</td>
              <td>{{ getLimit(container, 'cpu') }}</td>
              <td>{{ getLimit(container, 'memory') }}</td>
            </tr>
          </tbody>
        </table>
      </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsForPodStatues"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsForPodStatues;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [hidden]="!isPodResourceVisible(row)"></tr>
  </table>
</ng-template>
