<div class="main-content2" >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Node Health</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table #nodeStatusesTable [dataSource]="nodeStatuses" multiTemplateDataRows>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let node">
            <a (click)="toggleNodeResources(node)">
              <i class="material-icons" *ngIf="!isNodeResourceVisible(node)">chevron_right</i>
              <i class="material-icons" *ngIf="isNodeResourceVisible(node)">expand_more</i>
              <span style="vertical-align: super;">{{ node.metadata.name }}</span>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let node">
            {{ node.metadata.node_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ip_address">
          <th mat-header-cell *matHeaderCellDef>IP Address</th>
          <td mat-cell *matCellDef="let node">
            <a (click)="openNodeInfo(node.metadata.name, node.status.node_info)">{{ node.metadata.public_ip }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="ready">
          <th mat-header-cell *matHeaderCellDef>Ready</th>
          <td mat-cell *matCellDef="let node">
              <a matTooltip="{{ node.status.conditions[3].message }}">
                <div *ngIf="node.status.conditions[3].status === 'True'; else notworking">
                  <i class="material-icons" style="color:lightgreen;">check_circle</i>
                </div>
                <ng-template #notworking>
                  <i class="material-icons" style="color:darkred;">cancel</i>
                </ng-template>
              </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="storage">
            <th mat-header-cell *matHeaderCellDef>Storage</th>
            <td mat-cell *matCellDef="let node">
                <div *ngIf="node['metadata']['annotations']['tfplenum/root_usage'] !== undefined">
                  <span matTooltip="{{ node['metadata']['annotations']['tfplenum/root_usage'][2] / 1073741824 | number : '.2-2' }} GiB free">root: {{ node['metadata']['annotations']['tfplenum/root_usage'][3] }}%</span>
                </div>
                <div *ngIf="node['metadata']['annotations']['tfplenum/data_usage'] !== undefined">
                  <span matTooltip="{{ node['metadata']['annotations']['tfplenum/data_usage'][2] / 1073741824 | number : '.2-2' }} GiB free">data: {{ node['metadata']['annotations']['tfplenum/data_usage'][3] }}%</span>
                </div>
            </td>
          </ng-container>

        <ng-container matColumnDef="memory">
            <th mat-header-cell *matHeaderCellDef>Memory</th>
            <td mat-cell *matCellDef="let node">
                <div *ngIf="node['metadata']['annotations']['tfplenum/memory'] !== undefined">
                  <span matTooltip="{{ node['metadata']['annotations']['tfplenum/memory'][1] / 1073741824 | number : '.2-2' }} GiB available">{{ node['metadata']['annotations']['tfplenum/memory'][2] }}%</span>
                </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="cpu">
            <th mat-header-cell *matHeaderCellDef>CPU</th>
            <td mat-cell *matCellDef="let node">
                <div *ngIf="node['metadata']['annotations']['tfplenum/cpu_percent'] !== undefined">
                  <span>{{ node['metadata']['annotations']['tfplenum/cpu_percent'] }}%</span>
                </div>
            </td>
          </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let node">
              <button mat-button matTooltip="Click to run describe node." color="primary"
                  (click)="describeNode(node.metadata.name)">
                  <i class="material-icons">info</i>
              </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let node" [attr.colspan]="columnsForNodeStatues.length">
            <div fxLayout="row" fxLayoutAlign="start none">
              <div fxFlex="33">
                Total Capacity
                <dl fxLayout="column" fxLayoutAlign="start none">
                  <dt>CPUs:</dt>
                  <dd>{{ node.status.capacity.cpu }}</dd>
                  <dt>Ephemeral storage:</dt>
                  <dd>{{ node.status.capacity["ephemeral-storage"] }}</dd>
                  <dt>Memory:</dt>
                  <dd>{{ node.status.capacity.memory }}</dd>
                  <dt>Max Pods:</dt>
                  <dd>{{ node.status.capacity.pods }}</dd>
                </dl>
              </div>
              <div fxFlex="33">
                Kubernetes Capacity
                <dl>
                  <dt>CPUs:</dt>
                  <dd>{{ node.status.allocatable.cpu }}</dd>
                  <dt>Ephemeral storage:</dt>
                  <dd>{{ node.status.allocatable["ephemeral-storage"] }}</dd>
                  <dt>Memory:</dt>
                  <dd>{{ node.status.allocatable.memory }}</dd>
                  <dt>Max Pods:</dt>
                  <dd>{{ node.status.allocatable.pods }}</dd>
                </dl>
              </div>
              <div fxFlex="33">
                Other
                <dl>
                  <dt>CPUs requested from pods:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).cpus_requested_str }}</dd>
                  <dt>Remaining allocatable CPUs:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).remaining_allocatable_cpu }}</dd>
                  <dt>Memory requested from pods:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).mem_requested_str }}</dd>
                  <dt>Remaining allocatable memory:</dt>
                  <dd>{{ getTotalObj(node.metadata.name).remaining_allocatable_mem }}</dd>
                </dl>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsForNodeStatues"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsForNodeStatues;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [hidden]="!isNodeResourceVisible(row)"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
  <ng-container *ngIf="podErrors && podErrors.data.length > 0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pod Errors</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container [ngTemplateOutlet]="podStatues" [ngTemplateOutletContext]="{pods:podErrors}"></ng-container>
      </mat-card-content>
    </mat-card>
    <br>
  </ng-container>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pod Health</mat-card-title>
    </mat-card-header>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card-content>
      <mat-tab-group (selectedTabChange)="changeTab($event)" dynamicHeight>
        <mat-tab *ngFor="let tab_name of tabs_names" label="{{ tab_name }}">
          <ng-container [ngTemplateOutlet]="piplineStatus" [ngTemplateOutletContext]="{displayedPipeline: pipelineStatus[tab_name]}"></ng-container>
          <ng-container [ngTemplateOutlet]="podStatues" [ngTemplateOutletContext]="{pods:podStatus[tab_name], isVisible:true}"></ng-container>
        </mat-tab>
        <mat-tab label="Unassigned Pods">
            <ng-container [ngTemplateOutlet]="podStatues" [ngTemplateOutletContext]="{pods:unscheduledPodStatus, isVisible:true}"></ng-container>
          </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #piplineStatus let-displayedPipeline='displayedPipeline'>
  <ng-container *ngIf="displayedPipeline">
    <div fxLayout="row" fxLayoutAlign="start none">
      <dl fxFlex="20">
        <dt matTooltip="The last Suricata event that occurred on this sensor's disk drive.">Last Suricata Log Event</dt>
        <dd>{{ displayedPipeline?.last_suricata_log_event ? displayedPipeline?.last_suricata_log_event : 'No events'  }}</dd>
      </dl>
      <dl>
        <dt matTooltip="The last Suricata event that was received by Elasticsearch on the server cluster.">Last Suricata Elastic Event</dt>
        <dd>{{ displayedPipeline?.last_suricata_elastic_events ? displayedPipeline?.last_suricata_elastic_events : 'No events' }}</dd>
      </dl>
    </div>
    <div fxLayout="row" fxLayoutAlign="start none">
      <dl fxFlex="20">
        <dt matTooltip="The last Zeek event that occurred on this sensor's disk drive.">Last Zeek Log Event</dt>
        <dd>{{ displayedPipeline?.last_zeek_log_event ? displayedPipeline?.last_zeek_log_event : 'No events' }}</dd>
      </dl>
      <dl>
        <dt matTooltip="The last Zeek event that was received by Elasticsearch on the server cluster.">Last Zeek Elastic Event</dt>
        <dd>{{ displayedPipeline.last_zeek_elastic_events ? displayedPipeline.last_zeek_elastic_events : 'No events' }}</dd>
      </dl>
    </div>
    <div fxLayout="row" fxLayoutAlign="start none">
      <dl fxFlex="20">
        <dt matTooltip="The last PCAP capture event that occurred on this sensor's disk drive.">Last PCAP Log Event</dt>
        <dd>{{ displayedPipeline.last_pcap_log_event ? displayedPipeline.last_pcap_log_event : 'No events' }}</dd>
      </dl>
      <dl>
        <dt matTooltip="The last Moloch event that was received by Elasticsearch on the server cluster.">Last Moloch Elastic Event</dt>
        <dd>{{ displayedPipeline.last_moloch_elastic_events ? displayedPipeline.last_moloch_elastic_events : 'No events' }}</dd>
      </dl>
    </div>
  </ng-container>
</ng-template>

<ng-template #podStatues let-pods='pods' let-isVisible='isVisible'>
  <table mat-table [dataSource]="pods" multiTemplateDataRows>
    <ng-container matColumnDef="namespace">
      <th mat-header-cell *matHeaderCellDef>Namespace</th>
      <td mat-cell *matCellDef="let pod">
        <a (click)="openPodDialog(pod)">
          <span style="vertical-align: super;">{{ pod.metadata.namespace }}</span>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="pod_name">
      <th mat-header-cell *matHeaderCellDef>Pod Name</th>
      <td mat-cell *matCellDef="let pod">
        <a matTooltip="Click me" (click)="openPodStatusInfo(pod.metadata.name, pod.status)">{{ pod.metadata.name }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="container_states">
      <th mat-header-cell *matHeaderCellDef>Container States</th>
      <td mat-cell *matCellDef="let pod">
        <div *ngFor="let container of getPodStatus(pod.status)">
          <span *ngIf="container.name">{{ container.name }}: </span>
          <span class="containerStatus" style="font-weight: bold;">{{ container.status }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="restart_count">
      <th mat-header-cell *matHeaderCellDef>Restart Count</th>
      <td mat-cell *matCellDef="let pod">
        {{ getContainerRestartCount(pod) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let pod">
          <button mat-button matTooltip="Click to run describe pod." color="primary" (click)="describePod(pod.metadata)">
            <i class="material-icons">info</i>
          </button>
          <button mat-button matTooltip="Click to view pod logs." color="primary" (click)="podLogs(pod.metadata)">
            <i class="material-icons">help</i>
          </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsForPodStatues"></tr>
    <tr mat-row [ngClass]="{'podErrors': podHasErrors(row)}" *matRowDef="let row; columns: columnsForPodStatues;"></tr>
  </table>
</ng-template>
