<mat-card>
  <mat-card-header *ngIf="hasTitle">
    <mat-card-title>
      <a id="app-node-maintenance-form-mat-card-mat-card-header-mat-card-title-a" (click)="toggleCard()">
        <em *ngIf="!isCardVisible" id="app-node-maintenance-form-mat-card-mat-card-header-mat-card-title-a-em-chevron-right"
            class="material-icons">chevron_right</em>
        <em *ngIf="isCardVisible" id="app-node-maintenance-form-mat-card-mat-card-header-mat-card-title-a-em-expand-more"
            class="material-icons">expand_more</em>
        <span style="vertical-align: top;">Node Maintenance</span>
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="isCardVisible || !hasTitle" fxLayout="column" fxLayoutAlign="space-around stretch">
    <p>NOTE: Putting these interfaces in a down state can cause Suricata, Zeek or Arkime pods to crash.</p>
    <table mat-table [dataSource]="nodes" aria-describedby="Node Maintenance Table">
      <!-- Node -->
      <ng-container matColumnDef="node">
        <th scope="col" mat-header-cell *matHeaderCellDef>Node</th>
        <td mat-cell *matCellDef="let node; let z = index;"
            id="{{ 'app-node-maintenance-form-mat-card-mat-card-content-table-td-' + z + '-node' }}"
            style="width: 33%;"> {{ node.node }} </td>
      </ng-container>
      <!-- Interfaces -->
      <ng-container matColumnDef="interfaces">
        <th scope="col" mat-header-cell *matHeaderCellDef>Interfaces</th>
        <td mat-cell *matCellDef="let node; let z = index;"
            id="{{ 'app-node-maintenance-form-mat-card-mat-card-content-table-td-' + z + '-interface-state' }}"
            style="width: 33%;">
          <div *ngFor="let interface of node.interfaces; let i = index;">
            <span *ngIf='interface.state'
                  id="{{ 'app-node-maintenance-form-mat-card-mat-card-content-table-td-' + z + '-interface-state-div-span-interface-name-state-' + i }}">{{ interface.name }}: {{ interface.state }}</span>
            <span *ngIf='!interface.state'
                  id="{{ 'app-node-maintenance-form-mat-card-mat-card-content-table-td-' + z + '-interface-state-div-span-interface-name-error-' + i }}">{{ interface.name }}: error</span>
          </div>
        </td>
      </ng-container>
      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let node; let z = index;"
            id="{{ 'app-node-maintenance-form-mat-card-mat-card-content-table-td-' + z + '-slider-label-node' }}"
            style="width: 33%;">
          <mat-slide-toggle id="{{ 'app-node-maintenance-form-mat-card-mat-card-content-table-td-' + z + '-slider-label-node-mat-slide-toggle' }}"
                            [checked]="isSliderChecked(node)" (change)="set_interface_state($event, node)">{{ getSliderLabel(node) }}</mat-slide-toggle>
        </td>
      </ng-container>
      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let j = index;"
          id="{{ 'app-node-maintenance-form-mat-card-mat-card-content-table-tr-mat-row-' + j }}"></tr>
    </table>
  </mat-card-content>
</mat-card>
