<mat-card>
  <mat-card-header *ngIf="hasTitle">
    <mat-card-title>
      <a (click)="toggleCard()">
        <i class="material-icons" *ngIf="!isCardVisible">chevron_right</i>
        <i class="material-icons" *ngIf="isCardVisible">expand_more</i>
        <span style="vertical-align: top;">Node Maintenance</span>
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="isCardVisible || !hasTitle" fxLayout="column" fxLayoutAlign="space-around stretch">
    <table mat-table [dataSource]="nodes">
      <ng-container matColumnDef="node">
        <th mat-header-cell *matHeaderCellDef> Node </th>
        <td mat-cell *matCellDef="let node" style="width: 33%;"> {{ node.node }} </td>
      </ng-container>

      <ng-container matColumnDef="interfaces">
        <th mat-header-cell *matHeaderCellDef> Interfaces</th>
        <td mat-cell *matCellDef="let node" style="width: 33%;">
          <div *ngFor="let interface of node.interfaces">
            <span *ngIf='interface.state'>{{ interface.name }}: {{ interface.state }}</span>
            <span *ngIf='!interface.state'>{{ interface.name }}: error</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let node" style="width: 33%;">
          <mat-slide-toggle [checked]="isSliderChecked(node)" (change)="set_interface_state($event, node)">{{ getSliderLabel(node) }}</mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
