<ng-container [formGroup]="form">
    <ng-container formArrayName="passwords">
        <ng-container [formGroupName]="password_index">
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <mat-form-field>
                    <mat-label>{{ name.replace('_pw', ' password') }}</mat-label>
                    <input matInput placeholder="Enter a password." type="password" formControlName="password" />
                    <mat-icon *ngIf="password.valid && password.touched" matSuffix color="primary">
                        check_circle
                    </mat-icon>

                    <mat-icon *ngIf="password.invalid && password.touched" matSuffix color="warn">
                        error
                    </mat-icon>

                    <mat-error>{{  getErrorMessage(password)  }}</mat-error>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>{{ name.replace('_pw', ' password') }} confirm</mat-label>
                    <input matInput placeholder="Confirm the password." type="password" formControlName="confirm_password" />
                    <mat-icon *ngIf="confirm_password.valid && password.touched" matSuffix color="primary">
                        check_circle
                    </mat-icon>

                    <mat-icon *ngIf="confirm_password.invalid && password.touched" matSuffix color="warn">
                        error
                    </mat-icon>

                    <mat-error>{{  getErrorMessage(confirm_password)  }}</mat-error>
                </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
