<ng-container [formGroup]="form">
    <ng-container formArrayName="passwords">
        <ng-container [formGroupName]="password_index">
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <!-- Enter Password -->
                <mat-form-field id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-enter-password' ) }}">
                    <mat-label id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-enter-password-mat-label' ) }}">{{ name.replace('_pw', ' password') }}</mat-label>
                    <input (keyup)="reEvaluate($event)" matInput id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-enter-password-input' ) }}"
                           placeholder="Enter a password." type="password" formControlName="password"/>
                    <mat-icon matSuffix *ngIf="password.valid && password.touched"
                              id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-enter-password-mat-icon-check-circle' ) }}"
                              color="primary">check_circle
                    </mat-icon>
                    <mat-icon matSuffix *ngIf="password.invalid && password.touched"
                              id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-enter-password-mat-icon-error' ) }}"
                              color="warn">error
                    </mat-icon>
                    <mat-error id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-enter-password-mat-error' ) }}">{{ getErrorMessage(password) }}</mat-error>
                </mat-form-field>
                <!-- Confirm Password -->
                <mat-form-field id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-confirm-password' ) }}">
                    <mat-label id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-confirm-password-mat-label' ) }}">{{ name.replace('_pw', ' password') }} confirm</mat-label>
                    <input (keyup)="reEvaluate($event)" matInput id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-confirm-password-input' ) }}"
                           placeholder="Confirm the password." type="password" formControlName="confirm_password"/>
                    <mat-icon matSuffix *ngIf="confirm_password.valid && password.touched"
                              id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-confirm-password-mat-icon-check-circle' ) }}"
                              color="primary">check_circle
                    </mat-icon>
                    <mat-icon matSuffix *ngIf="confirm_password.invalid && password.touched"
                              id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-confirm-password-mat-icon-error' ) }}"
                              color="warn">error
                    </mat-icon>
                    <mat-error id="{{ generateUniqueHTMLID( 'app-mip-config-password-div-mat-form-field-confirm-password-mat-error' ) }}">{{ getErrorMessage(confirm_password) }}</mat-error>
                </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
</ng-container>