<div fxLayout="column" fxLayoutAlign="start center" style="height: 100vh;" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2 id="app-catalog-page-div-mat-card-div-div-h2-chart-id">{{ chart?.id | capitalizeFirst }} (v{{ chart?.appVersion }})</h2>
  </div>
  <div fxLayout="column" fxLayoutAlign="center stretch" style="width: 100%;">
    <mat-horizontal-stepper #stepper linear="true" style="margin-left: 10px; margin-right: 10px;" (selectionChange)="selectionChange($event)">
      <!-- Process -->
      <mat-step *ngIf="processFormGroup" id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group"
                [stepControl]="processFormGroup">
        <form [formGroup]="processFormGroup">
          <ng-template matStepLabel>Process</ng-template>
          <h5>Process Selection</h5>
          <!-- Process Selection -->
          <mat-form-field id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-mat-form-field-process" class="mat-form-field">
            <mat-label>Select A Process</mat-label>
            <mat-select id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-mat-form-field-process-mat-select" formControlName="selectedProcess" (selectionChange)="selectProcessChange()">
              <mat-option *ngFor="let process of processList; let i = index;"
                          id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-mat-form-field-process-mat-select-mat-option-' + i }}" [value]="process.process">{{process.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="chart?.node_affinity !== serverAnyValue">
            <h5>Node Selection</h5>
            <!-- Node Selection -->
            <mat-form-field id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-div-mat-form-field-node">
              <mat-label>Select A Node</mat-label>
              <mat-select id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-div-mat-form-field-node-mat-select"
                          formControlName="selectedNodes" multiple required>
                <mat-option *ngFor="let node of filterByInput(processFormGroup.value.selectedProcess); let j = index;"
                            id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-mat-step-process-form-group-form-div-mat-form-field-node-mat-select-mat-option-' + j }}"
                            [value]="node">{{node.hostname}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="space-between none" style="margin-top: 10px;">
          <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-cancel" (click)="navigateToCatalog()">Cancel</button>
          <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-next-get-config" color="primary" style="margin-right: 10px;" (click)="stepper.next();getInterfaceDetails();"
                  *ngIf="processFormGroup.value.selectedProcess !== 'uninstall'" [disabled]="processFormGroup.invalid">Next</button>
          <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-next-get-config" color="primary" style="margin-right: 10px;"
                  *ngIf="processFormGroup.value.selectedProcess === 'uninstall'" (click)="runChart()" [disabled]="processFormGroup.invalid">Run</button>
        </div>
      </mat-step>
        <!-- Configuration Overview -->
        <mat-step id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview" >
          <ng-template matStepLabel>Configuration Overview</ng-template>
          <form *ngIf="isReady">
            <mat-accordion multi="true">
              <mat-expansion-panel *ngFor="let sensor of processFormGroup.value.selectedNodes; let k = index;" expanded="true" style="background-color: #5555;" [formGroup]="configFormGroup">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ sensor.hostname }} </mat-panel-title>
                </mat-expansion-panel-header>
                <section>
                  <!-- Deployment Name-->
                  <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" formGroupName="{{sensor.hostname}}">
                    <!-- Deployment Name -->
                    <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-mat-form-field-deployment-name' }}">
                      <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-mat-form-field-deployment-name-input' }}"
                            formControlName="deployment_name" placeholder="Deployment Name" required>
                    </mat-form-field>
                  </div>
                  <div *ngIf="chart?.formControls">
                    <div *ngFor="let control of chart.formControls; let l = index;" [ngSwitch]="control?.type" formGroupName="{{sensor.hostname}}">
                      <!-- Text Input -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'textinput'">
                        <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-text' }}">
                          <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-text-input' }}"
                                matTooltip="{{control?.description}}" [matTooltipPosition]="'below'" formControlName="{{control.name}}" [placeholder]="createInputPlacehoder(control?.name)" [required]="control?.required">
                          <mat-error *ngIf="isInvalidForm(sensor, control)"
                                    id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-text-mat-error' }}">{{getErrorMessage(control, sensor.hostname)}}</mat-error>
                        </mat-form-field>
                      </div>
                       <!-- textbox -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'textbox'">
                        <mat-form-field appearance="fill">
                          <mat-label>{{ control.name }}</mat-label>
                          <textarea matInput  matTooltip="{{control?.description}}" [matTooltipPosition]="'below'" formControlName="{{control.name}}" placeholder="{{control?.name}}" [required]="control?.required" type="text" rows="10"></textarea>
                        </mat-form-field>
                      </div>
                      <!-- checkbox -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'checkbox'">
                        <mat-checkbox id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-checkbox-checkbox' }}"
                                      formControlName="{{control.name}}" [checked]="checkboxValue(sensor, control)" (change)="checkboxSetValue(sensor, control)"
                                      matTooltip="{{control?.description}}" [matTooltipPosition]="'right'" [required]="control?.required">{{control?.description}}</mat-checkbox>
                      </div>
                      <!-- service-node-checkbox -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'service-node-checkbox'" >
                        <mat-checkbox id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-checkbox-service-node-checkbox' }}"
                                formControlName="{{control.name}}" [checked]="checkboxValue(sensor, control)" (change)="checkboxSetValue(sensor, control)"
                                matTooltip="{{control?.description}}" [matTooltipPosition]="'right'" [required]="control?.required" >{{control?.description}}</mat-checkbox>
                      </div>
                      <!-- Text Input List -->
                      <div class="stepper__body__selection" *ngSwitchCase="'textinputlist'" fxLayout="column" fxLayoutAlign="center none">
                        <div fxLayout="column" fxLayoutAlign="start center">
                          <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-mat-form-field-control-name-text-list' }}" style="width: 100%;">
                            <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-mat-form-field-control-name-text-list-input' }}"
                                  matTooltip="{{control?.description}}" [matTooltipPosition]="'below'" formControlName="{{control.name}}" [placeholder]="createInputPlacehoder(control?.name)" [required]="control?.required">
                            <mat-error *ngIf="isInvalidForm(sensor, control)"
                                      id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-mat-form-field-control-name-text-list-mat-error' }}">{{getErrorMessage(control)}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- Interface -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'interface'">
                        <div *ngFor="let sensorint of nodeList; let m = index;">
                          <div *ngIf="sensorint === sensor">
                            <mat-form-field>
                              <mat-label>{{ createInputPlacehoder(control?.name) }}</mat-label>
                              <mat-select id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-' + m + '-div-mat-form-field-control-name-interface-mat-select' }}"
                                          formControlName="{{control.name}}" multiple required
                                          >
                                <mat-option *ngFor="let interface of sensorint.deviceFacts.potential_monitor_interfaces; let n = index;"
                                            id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-div-' + m + '-div-mat-form-field-control-name-interface-mat-select-' + n }}"
                                            [value]="interface">{{interface}}<mat-icon matSuffix *ngIf="checkInterface(sensorint.hostname, interface)" matTooltip="{{ interface }} interface is disconnected" color="warn">warning</mat-icon>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <button mat-icon-button
                                matTooltip="Refresh Interfaces" color="primary"
                                (click)="getInterfaceDetails()">
                                <em class="material-icons">refresh</em>
                              </button>
                          </div>
                        </div>
                      </div>
                      <!-- Kafka -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'kafka-cluster-cluster'">
                        <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-kafka' }}">
                          <input matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-kafka-input' }}"
                                matTooltip="{{control?.description}}" [matTooltipPosition]="'below'" formControlName="{{control.name}}" placeholder="{{control?.name}}" [required]="control?.required">
                          <mat-error *ngIf="isInvalidForm(sensor, control)"
                                    id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-configuration-overview-form-div-' + k + '-div-div-' + l + '-div-mat-form-field-control-name-kafka-mat-error' }}">{{getErrorMessage(control)}}</mat-error>
                        </mat-form-field>
                      </div>
                      <!-- Suricata -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'suricata-list'">
                        <mat-form-field class="multiple-list-select">
                          <mat-label>Suricata List</mat-label>
                          <mat-select formControlName="{{control.name}}" multiple required>
                            <mat-option *ngFor="let log of control.default_value; let i = index"
                                        [value]="log">{{log}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- Zeek -->
                      <div class="stepper__body__selection" fxLayout="column" fxLayoutAlign="center none" *ngSwitchCase="'zeek-list'">
                        <mat-form-field class="multiple-list-select">
                          <mat-label>Zeek List</mat-label>
                          <mat-select formControlName="{{control.name}}" multiple required>
                            <mat-option *ngFor="let log of control.default_value; let i = index"
                                        [value]="log">{{log}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </section>
              </mat-expansion-panel>
            </mat-accordion>
          </form>
          <div fxLayout="row" fxLayoutAlign="space-between none" style="margin-top: 10px;">
            <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-cancel" (click)="navigateToCatalog()">Cancel</button>
            <div>
              <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-back"
                      color="warn" style="margin-right: 10px;" (click)="goBack(stepper)">Back</button>
              <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-next-get-config" color="primary" style="margin-right: 10px;"
                      (click)="getValues(stepper)" [disabled]="configFormGroup.invalid">Next</button>
            </div>
          </div>
        </mat-step>
        <!-- Values File Overview -->
        <mat-step id="app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview">
          <ng-template matStepLabel>Values File Overview </ng-template>
          <form *ngIf="isAdvance">
            <mat-accordion multi="true">
              <mat-expansion-panel *ngFor="let sensor of processFormGroup.value.selectedNodes; let o = index;" [formGroup]="valueFormGroup" expanded="true" style="background-color: #5555;">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ sensor?.deployment_name }} </mat-panel-title>
                </mat-expansion-panel-header>
                <section>
                  <mat-checkbox id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview-form-div-' + o + '-mat-checkbox-enable-edit' }}"
                                (click)="AdvanceConfiguration(sensor)">Enable Edit</mat-checkbox>
                  <!-- Deployment Name Textarea -->
                  <mat-form-field id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview-form-div-' + o + '-mat-form-field-deployment-name' }}" class="text-area">
                    <textarea matInput id="{{ 'app-catalog-page-div-mat-card-div-mat-vertical-stepper-div-mat-step-values-file-overview-form-div-' + o + '-mat-form-field-deployment-name-textarea' }}"
                              formControlName="{{sensor.deployment_name}}" style="width:100%; min-height: 150px; height: 300px" placeholder="Edit Values File"></textarea>
                  </mat-form-field>
                </section>
              </mat-expansion-panel>
            </mat-accordion>
          </form>
          <div fxLayout="row" fxLayoutAlign="space-between none" style="margin-top: 10px;">
            <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-cancel" (click)="navigateToCatalog()">Cancel</button>
            <div>
              <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-back"
                      color="warn" style="margin-right: 10px;" (click)="goBack(stepper)">Back</button>
              <button mat-raised-button id="app-catalog-page-div-mat-card-div-button-next-get-config" color="primary" style="margin-right: 10px;"
                      (click)="runChart()" [disabled]="valueFormGroup.invalid">Run</button>
            </div>
          </div>
        </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
