<div class="card">
  <div class="card-header">
    Total System Resources
  </div>
  <div class="card-body">
    <p class="card-text">Heads Up: These values will autopopulate after you enter your server/sensor information below.</p>
    <hr>
    <p class="card-text">CPU Cores Available: <span>{{ totalSystemResources.cpuCoresAvailable | number:'1.0-2' }}</span></p>
    <p class="card-text">Memory Available: <span>{{ totalSystemResources.memoryAvailable | number:'1.0-2' }}</span> GB</p>
    <p class="card-text">Clustered Storage Total: <span>{{ totalSystemResources.clusterStorageAvailable | number:'1.0-2' }}</span> GB</p>
  </div>
</div>