.encoding = "UTF-8"
vmlist8.config = "/cvah/vm/kali/kali-vm.vmx"
vmlist8.DisplayName = "Kali"
vmlist8.ParentID = "0"
vmlist8.ItemID = "8"
vmlist8.SeqID = "3"
vmlist8.IsFavorite = "FALSE"
vmlist8.IsClone = "FALSE"
vmlist8.CfgVersion = "8"
vmlist8.State = "normal"
vmlist8.UUID = "56 4d 72 75 a8 ab 79 4e-9d 96 85 8a db 72 ea 5d"
vmlist8.IsCfgPathNormalized = "TRUE"
vmlist14.config = "/cvah/vm/remnux-6.0-ova-public/remnux-6.0-ova-public.vmx"
vmlist14.DisplayName = "remnux-6.0-ova-public"
vmlist14.ParentID = "0"
vmlist14.ItemID = "14"
vmlist14.SeqID = "2"
vmlist14.IsFavorite = "FALSE"
vmlist14.IsClone = "FALSE"
vmlist14.CfgVersion = "8"
vmlist14.State = "normal"
vmlist14.UUID = "56 4d 1b 39 0a aa fd 46-25 31 fc 0c 7d 92 6b 4c"
vmlist14.IsCfgPathNormalized = "TRUE"
vmlist15.config = "/cvah/vm/SIFT-Workstation/SIFT-Workstation.vmx"
vmlist15.DisplayName = "SIFT-Workstation"
vmlist15.ParentID = "0"
vmlist15.ItemID = "15"
vmlist15.SeqID = "0"
vmlist15.IsFavorite = "FALSE"
vmlist15.IsClone = "FALSE"
vmlist15.CfgVersion = "8"
vmlist15.State = "normal"
vmlist15.UUID = "56 4d f2 f9 c4 c5 4c 15-e9 fa 00 58 31 f9 cb 56"
vmlist15.IsCfgPathNormalized = "TRUE"
vmlist22.config = "/cvah/vm/SamuraiSTFU-1.9/SamuraiSTFU.vmx"
vmlist22.DisplayName = "SamuraiSTFU 1.9"
vmlist22.ParentID = "0"
vmlist22.ItemID = "22"
vmlist22.SeqID = "4"
vmlist22.IsFavorite = "FALSE"
vmlist22.IsClone = "FALSE"
vmlist22.CfgVersion = "8"
vmlist22.State = "normal"
vmlist22.UUID = "56 4d 6e 7d 35 7f 2f 8c-50 d4 d5 7b b6 70 14 82"
vmlist22.IsCfgPathNormalized = "TRUE"
vmlist23.config = "/cvah/vm/Windows10Ent/Windows10Ent.vmx"
vmlist23.DisplayName = "Windows 10 Ent"
vmlist23.ParentID = "0"
vmlist23.ItemID = "23"
vmlist23.SeqID = "1"
vmlist23.IsFavorite = "FALSE"
vmlist23.IsClone = "FALSE"
vmlist23.CfgVersion = "8"
vmlist23.State = "normal"
vmlist23.UUID = "56 4d 7a 62 a8 26 d1 55-46 1d 9f b1 3f 02 c7 dd"
vmlist23.IsCfgPathNormalized = "TRUE"
vmlist1.config = ""
vmlist2.config = ""
vmlist3.config = ""
vmlist4.config = ""
vmlist5.config = ""
vmlist6.config = ""
vmlist7.config = ""
vmlist9.config = ""
vmlist10.config = ""
vmlist11.config = ""
vmlist12.config = ""
vmlist13.config = ""
vmlist16.config = ""
vmlist17.config = ""
vmlist18.config = ""
vmlist19.config = ""
vmlist20.config = ""
vmlist21.config = ""
vmlist25.config = ""
vmlist24.config = ""
index0.field0.name = "guest"
index0.field0.value = "ubuntu 64-bit"
index0.field0.default = "TRUE"
index0.field1.name = "notes"
index0.field1.value = "password: aft3ch3nthusiasts!!"
index0.field1.default = "TRUE"
index0.hostID = "localhost"
index0.id = "/cvah/vm/SIFT-Workstation/SIFT-Workstation.vmx"
index0.field.count = "2"
index1.field0.name = "guest"
index1.field0.value = "ubuntu"
index1.field0.default = "TRUE"
index1.field1.name = "notes"
index1.field1.value = "auto login with root access|0Apassword: aft3ch3nthusiasts!!"
index1.field1.default = "TRUE"
index1.hostID = "localhost"
index1.id = "/cvah/vm/SamuraiSTFU-1.9/SamuraiSTFU.vmx"
index1.field.count = "2"
index2.field0.name = "guest"
index2.field0.value = "windows 10 x64"
index2.field0.default = "TRUE"
index2.field1.name = "notes"
index2.field1.value = "password match the rhel passwords|0Auser: assessor|0Apassword: aft3ch3nthusiasts!!"
index2.field1.default = "TRUE"
index2.hostID = "localhost"
index2.id = "/cvah/vm/Windows10Ent/Windows10Ent.vmx"
index2.field.count = "2"
index3.field0.name = "guest"
index3.field0.value = "ubuntu 64-bit"
index3.field0.default = "TRUE"
index3.field1.name = "notes"
index3.field1.value = "user: root|0Apassword: aft3ch3nthusiasts!!"
index3.field1.default = "TRUE"
index3.hostID = "localhost"
index3.id = "/cvah/vm/kali/kali-vm.vmx"
index3.field.count = "2"
index4.field0.name = "guest"
index4.field0.value = "ubuntu 64-bit"
index4.field0.default = "TRUE"
index4.field1.name = "notes"
index4.field1.value = "autologin for this vm|0Apassword: aft3ch3nthusiasts!!"
index4.field1.default = "TRUE"
index4.hostID = "localhost"
index4.id = "/cvah/vm/remnux-6.0-ova-public/remnux-6.0-ova-public.vmx"
index4.field.count = "2"
index.count = "5"
