---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ hostname | hash('md5') }}-suricata
  labels:
    component: suricata
spec:
  replicas: 1
  selector:
    matchLabels:
      component: suricata
  template:
    metadata:
      labels:
        component: suricata
    spec:
      hostNetwork: true
      containers:
      - name: suricata
        # TODO - THIS NEEDS TO BE FIXED
        # THIS MIGHT BE THE WORST HACK IN THE HISTORY OF OUR PROGRAM BUT IT WORKS
        # TAKING IT OUT CAUSES A MISSING FILE ERROR FROM KUBERNETES BECAUSE BULLSHIT
        # IT'S 1230 AM AND I'VE BEEN AT THIS FOR 14ISH HOURS AND IT WORKS.
        command:
        - '/usr/bin/bash'
        - '-c'
        - '/usr/local/bin/run_suricata.sh'
        image: {{ suricata_image }}:{{ suricata_version }}
        imagePullPolicy: IfNotPresent
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_NICE
        resources:
          requests:
            cpu: {{ suricata_cpu_request }}
        volumeMounts:
        - name: filebeat
          mountPath: /etc/filebeat/filebeat.yml
        - name: suricata
          mountPath: /etc/suricata/suricata.yaml
        - name: custom-rules
          mountPath: /etc/suricata/rules/custom.rules
      volumes:
      - name: filebeat
        hostPath:
          path: {{ suricata_dir }}/{{ hostname }}-filebeat.yml
          type: File
      - name: suricata
        hostPath:
          path: {{ suricata_dir }}/{{ hostname }}-suricata.yaml
          type: File
      - name: custom-rules
        hostPath:
          path: {{ suricata_dir }}/{{ hostname }}-custom.rules
          type: File
      nodeSelector:
        suricata: "true"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - suricata
            topologyKey: "kubernetes.io/hostname"

...