<h2 mat-dialog-title id="app-archive-dialog-h2-title">Save {{data.title}}</h2>
<mat-dialog-content>
  <p> Are you sure you want to save this {{data.title}}? </p>
  <!-- Data Archive Comment -->
  <mat-form-field id="app-archive-dialog-mat-dialog-content-matform-field-data-archive-comment">
    <mat-label>Comment</mat-label>
    <textarea matInput id="app-archive-dialog-mat-dialog-content-matform-field-data-archive-comment-textarea"
              rows="10" placeholder="Enter a reminder as to what this configuration is for."
              [(ngModel)]="data.archive.comment"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button id="app-archive-dialog-mat-dialog-actions-button-cancel"
          (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button id="app-archive-dialog-mat-dialog-actions-button-save"
          color="primary" [mat-dialog-close]="data.archive">Save</button>
</mat-dialog-actions>