---
apiVersion: v1
kind: Service
metadata:
  name: logstash
  labels:
    component: logstash
spec:
  selector:
    component: logstash
  ports:
  - name: bro
    port: {{ logstash_port }}
    protocol: TCP
  - name: winlogbeat
    port: {{ winlogbeat_port }}
    protocol: TCP
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  name: logstash-headless
  labels:
    component: logstash
spec:
  clusterIP: None
  selector:
    component: logstash
  ports:
  - name: bro
    port: {{ logstash_port }}
    protocol: TCP
  - name: winlogbeat
    port: {{ winlogbeat_port }}
    protocol: TCP
