<ol>
  <li>Navigate to the required DI2E confluence space.</li>
  <li>Use the PAGE TREE on the left menu to navigate to, and select the required page.</li>
  <li>Click on the <strong style="font-size: 16px;">...</strong> button in the top right.</li>
  <li>Click on <strong>Export to Html</strong> (Note: For offline documentation you can also select Export to PDF. You will need HTML documentation if you wanted to update the controller.)</li>
  <li>A modal popup will appear make sure "Export Profile" is set to No Profile.</li>
  <li>Ensure that "Select Content" is set to Current Page with all child pages.</li>
  <li>Click Export button. The download will take some time to complete, so grab a cup of coffee.</li>
  <li>Click on the <strong>Choose Zip File</strong> button at the bottom of this box.</li>
  <li>Navigate to where you saved the downloaded documentation and select it. More than likely it will be in your downloads folder.</li>
  <li>Add a Space Name</li>
  <li>Click on the <strong>Upload &lt;documentation zip file&gt;</strong> button. Wait for confirmation message.</li>
  <li>Finally select the <strong>Space Name</strong> link in the navigation bar!</li>
</ol>
