<ol>
  <li>Navigate to the AFDCO CVA/H Document & Training SharePoint site</li>
  <li>Select the required version folder under Rapid Cyber Documentation/Guides</li>
  <li>Navigate to and open the required platform guide folder</li>
  <li>Right-click on the required HTML guide file and select download</li>
  <li>Navigate to the saved download location and select the file</li>
  <li>The default location is likely the download folder</li>
  <li>Add a Space Name</li>
  <li>Click on the <strong>Upload &lt;document zip file&gt;</strong> button</li>
  <li>Wait for the confirmation message</li>
  <li>Refresh the page</li>
  <li>Select the <strong>Space Name</strong> in the Navigation bar</li>
</ol>

