<div class="container-fluid" style="margin-top: 75px;">
  <mat-card>
    <mat-card-header>
      {{ title }}
    </mat-card-header>
    <mat-card-content>
      <textarea #editorCard class="form-control" rows="100" cols="50" [(ngModel)]="text"></textarea>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="warn" class="btn-primary2" class="btn-danger2" type="button"
        (click)="openCloseDialog()">
        <mat-icon>highlight_off</mat-icon>&nbsp;Close without Saving
      </button>
      <button mat-raised-button color="primary" class="btn-primary2" style="float: right;" type="button"
        (click)="openSaveDialog()">
        &nbsp;&nbsp;&nbsp;<mat-icon>save</mat-icon>&nbsp;Save and Close&nbsp;&nbsp;&nbsp;
      </button>
    </mat-card-footer>
  </mat-card>
</div>
