{% if system_name == "DIP" %}
  {% set kibana_memory = 1 %}
  {% set kibana_cpu = "1000m" %}

  {% if kit_size > 1 %}
    {% set kibana_memory = 6 %}
    {% set kibana_cpu = "1000m" %}
  {% elif kit_size == 1 %}
    {% set kibana_memory = 1 %}
    {% set kibana_cpu = "1000m" %}
  {% elif kit_size == 0 %}
    {% set kibana_memory = 1 %}
    {% set kibana_cpu = "1000m" %}
  {% endif %}
{% endif %}

{% if system_name == "GIP" %}
  {% set kibana_memory = 1 %}
  {% set kibana_cpu = "1000m" %}
  {% if kit_size == 100 %}
    {% set kibana_memory = 6 %}
    {% set kibana_cpu = "1000m" %}
  {% endif %}
{% endif %}

---
apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: tfplenum
spec:
  version: {{ elastic_7_version }}
  image: kibana/kibana:{{ elastic_7_version }}
  http:
    tls:
      certificate:
        secretName: kibana-certificate
  count: 1
  config:
    monitoring.ui.container.elasticsearch.enabled: false
    reporting.enabled: true
    elasticsearch.requestTimeout: 100000
    elasticsearch.shardTimeout: 0
    xpack.security.authc.providers:
      saml.CVAH SSO:
        order: 0
        realm: "saml1"
      basic.basic1:
        order: 1
    monitoring.kibana.collection.interval: 30000
    elasticsearch.hosts:
{% for node in coordinating_nodes %}
    - https://{{ node }}.tfplenum-es-coordinating.default.svc.cluster.local:9200
{% endfor %}
    elasticsearch.username: {{ kibana_system_user }}
    elasticsearch.ssl.certificateAuthorities: /etc/ssl/certs/container/ca.crt
  secureSettings:
  - secretName: kibana-key-secret-settings
  - secretName: kibana-alert-secret-settings
  - secretName: kibana-elasticsearch-credentials
  podTemplate:
    spec:
      containers:
      - name: kibana
        resources:
          requests:
            memory: {{ kibana_memory }}Gi
            cpu: {{ kibana_cpu }}
        volumeMounts:
        - name: webca
          mountPath: /etc/ssl/certs/container
          readOnly: true
      volumes:
      - name: webca
        secret:
          defaultMode: 420
          optional: false
          secretName: webca-certificate
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values:
                - server
---
apiVersion: v1
kind: Service
metadata:
  name: kibana
  labels:
    component: kibana
spec:
  selector:
    common.k8s.elastic.co/type: kibana
    kibana.k8s.elastic.co/name: tfplenum
  ports:
  - name: https
    port: {{ kibana_port }}
    targetPort: https
  type: LoadBalancer

...
