[Unit]
Description=Starts TFPlenum Backend
After=network.target

[Service]
User=root
WorkingDirectory=/opt/tfplenum/web/backend
ExecStartPre=-/usr/bin/rm -rf /opt/tfplenum/web/backend/app/__pycache__
ExecStopPost=-/usr/bin/rm -rf /opt/tfplenum/web/backend/app/__pycache__
ExecStart=gunicorn --timeout 120 --graceful-timeout 120 --config ../setup/gunicorn_config.py wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
