<app-modal-dialog [modal]="messageModal"></app-modal-dialog>
<app-modal-loading #loadingDialog modalId="waitForAgentBuilderToComplete" title="Building agent installer. Please wait..."></app-modal-loading>
<form [formGroup]="agentBuilderForm" (ngSubmit)="onSubmit()">
  <div class="container" id="topheader">
    <div class="card">
      <div class="card-header">
        Agent Builder: Build and download a Windows installer for Winlogbeat and Sysmon agents
      </div>
      <div class="card-body">

        <div class="card" style="margin-bottom: 15px;">
          <div class="card-body" style="border: 1px solid green;border-radius: 1rem;">
            <h5>Page Instructions</h5>
            <p class="card-text">
              This page allows you to build and download a self-extracting archive for installing various monitoring
              agents on Windows.
              <br><br>
              Before filling out the form, make sure you have added all of your nodes to the Kickstart page.
              When all inputs are valid, the "Build Agent" button will be enabled.
              <br><br>
              Note: The checks on this page are only for <i>valid</i> data, not <i>correct</i> data. For example, any
              valid IP address will work for the "PF Sense Firewall IP", even if it not your actual firewall IP.
            </p>
          </div>
        </div>

        <app-text-input [parentForm]="agentBuilderForm" controlName="pf_sense_ip"></app-text-input>
        <hr>
        <h5>Sysmon Settings</h5>
        <app-checkbox [parentForm]="agentBuilderForm" controlName="install_sysmon"></app-checkbox>
        <hr>
        <h5>Winlogbeat Settings</h5>
        <app-checkbox [parentForm]="agentBuilderForm" controlName="install_winlogbeat"
          (change)="agentBuilderForm.enableWinlogbeatPort()"></app-checkbox>
        <hr>
        <h5>Endgame Settings</h5>
        <app-checkbox [parentForm]="agentBuilderForm" controlName="install_endgame"
          (change)="agentBuilderForm.enableEndgameControls()"></app-checkbox>
        <div class="card" style="border: 1px solid gray;border-radius: 0.5rem; margin-right: 5px margin-left: 5px">
          <div class="card" style="margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
            <h6>Endgame Server Credentials</h6>
            <app-text-input [parentForm]="agentBuilderForm" controlName="endgame_server_ip"
              (keyup)="agentBuilderForm.getEndgameSensorProfiles()"></app-text-input>
            <app-text-input [parentForm]="agentBuilderForm" controlName="endgame_user_name"
              (keyup)="agentBuilderForm.getEndgameSensorProfiles()"></app-text-input>
            <app-text-input [parentForm]="agentBuilderForm" controlName="endgame_password"
              (keyup)="agentBuilderForm.getEndgameSensorProfiles()"></app-text-input>
          </div>
        </div>
        <br>
        <app-text-input [parentForm]="agentBuilderForm" controlName="endgame_port"></app-text-input>
        <div class="card" style="border: 1px solid gray;border-radius: 0.5rem; margin-right: 5px margin-left: 5px">
          <div class="card" style="margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
            <h6>Endgame Sensor Profile Settings</h6>
            <app-card-selector [parentForm]="agentBuilderForm" *ngIf="agentBuilderForm.endgame_server_reachable"
              controlName="endgame_sensors" (click)="testSelect()"></app-card-selector>
            <app-text-input [parentForm]="agentBuilderForm" controlName="endgame_sensor_ip"></app-text-input>
            <app-text-input [parentForm]="agentBuilderForm" controlName="endgame_sensor_name"
              *ngIf="agentBuilderForm.endgame_server_reachable"></app-text-input>
            <app-card-selector #endgame_per [parentForm]="agentBuilderForm" controlName="endgame_persistence">
            </app-card-selector>
            <app-checkbox #endgame_vdi [parentForm]="agentBuilderForm" controlName="endgame_vdi"></app-checkbox>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        Validation
      </div>
      <div *ngIf="!agentBuilderForm.sufficient_data_to_build_agents" class='card-body' id='error-list'>
        <p *ngFor="let item of agentBuilderForm.errors | keyvalue" class='text-danger'>
          {{ item.key }} - {{ item.value }}
        </p>
      </div>
      <p *ngIf="agentBuilderForm.sufficient_data_to_build_agents" class='text-success'>
        &nbsp;&nbsp;Data looks good! Press 'Build Agent' whenever you're ready!
      </p>
      <div class="card-footer">
        <button class="btn btn-primary" type="submit" [disabled]="!agentBuilderForm.sufficient_data_to_build_agents"
          name="submit_agentbuilder">
          Build Agent
        </button>
      </div>
    </div>
  </div>
</form>
