Version: {{ vm_version }}
CVA/H Build: {{ cvah_version }}
Documentation: Documentation and guides are found on the system by running <tool> --help
Notes: Additional information can be found at: https://tools.kali.org/tools-listing
