{
    "username": "logstash_monitor",
    "roles": [
        "logstash_system"
    ],
    "full_name": "Internal Logstash Monitor User",
    "email": null,
    "metadata": {},
    "enabled": true,
    "password": "{{ logstash_monitor_password }}"
}
