{
    "username": "logstash_internal",
    "roles": [
        "logstash_writer",
        "monitoring_user",
        "kibana_system",
        "kibana_user",
        "ingest_admin",
        "beats_admin",
        "superuser"
    ],
    "full_name": "Internal Logstash User",
    "email": null,
    "metadata": {},
    "enabled": true,
    "password": "{{logstash_password}}"
}