{
  "username": "logstash_internal",
  "roles": [
    "logstash_writer",
    "machine_learning_admin",
    "monitoring_user"
  ],
  "full_name": "Internal Logstash User",
  "email": null,
  "metadata": {},
  "enabled": true,
  "password": "{{ logstash_password }}"
}
