<h2 mat-dialog-title id="cvah-pod-log-dialog-title">{{ title | capitalizeFirst }} Logs</h2>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight>
    <mat-tab *ngFor="let pod_log of pod_logs; let i = index;"
             id="{{ 'cvah-pod-log-dialog-' + i + '-name' }}" label="{{ pod_log.name }}">
      <ng-template matTabContent>
        <cvah-ngx-monaco-editor [show_options]="show_options"
                                [is_read_only]="is_read_only"
                                [text]="pod_log.logs"
                                [use_language]="use_language">
        </cvah-ngx-monaco-editor>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-raised-button id="cvah-pod-log-dialog-button-close" (click)="close()">Close</button>
</div>
