table {
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
  background-color: rgba(34, 200, 114, 0.349);
}

.clickable {
  background-color: #313131;
}

.inner-table {
  border: 3px double #313131;
}

.col-header {
  background-color: #222;
}

.row-detail {
  height: 0;
}

.snmp-detail {
  overflow: hidden;
  /* display: flex; */
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}
