<h1 mat-dialog-title>Upload rules file</h1>
<div mat-dialog-content [formGroup]="ruleSetGroup"
     fxLayout="column" fxLayoutAlign="start stretch"
     style="overflow: unset;">
     <!-- Ruleset Name -->
    <mat-form-field id="policy-mng-upload-div-mat-form-field-ruleset-name">
      <input matInput id="policy-mng-upload-div-mat-form-field-ruleset-name-input"
             placeholder="RuleSet Name" type="text" formControlName="name" required>
    </mat-form-field>

    <span *ngIf="rulesFileToUpload" id="policy-mng-upload-div-span-file-name">&nbsp;{{ rulesFileToUpload.name }}</span>
    <button mat-raised-button id="policy-mng-upload-div-button-choose-rules-file"
            color="primary" style="float:right; margin-right: 10px;" (click)="fileInput.click()">Choose Rules File (EX: .rules,.txt,.zip,.zeek)</button>
    <input hidden #fileInput id="policy-mng-upload-div-input-hidden-type-file"
           (change)="handleFileInput($event.target.files)" type="file" accept=".rules,.txt,.zeek,.zip">
</div>
<div mat-dialog-actions>
  <button mat-raised-button id="policy-mng-upload-div-button-cancel"
          color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button id="policy-mng-upload-div-button-upload"
          color="primary" [mat-dialog-close]="data" [disabled]="!rulesFileToUpload"
          (click)="onSubmit()" cdkFocusInitial>Upload</button>
</div>
