<h1 mat-dialog-title>Upload rules file</h1>
<div mat-dialog-content [formGroup]="ruleSetGroup"
     fxLayout="column" fxLayoutAlign="start stretch"
     style="overflow: unset;">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="RuleSet Name" type="text" id="name" formControlName="name" required>
    </mat-form-field>

    <span *ngIf="rulesFileToUpload">&nbsp;{{ rulesFileToUpload.name }}</span>
    <button mat-raised-button color="primary" style="float:right; margin-right: 10px;" (click)="fileInput.click()">Choose Rules File (EX: .rules,.txt,.zip,.bro)</button>
    <input hidden (change)="handleFileInput($event.target.files)" #fileInput type="file" accept=".rules,.txt,.zeek,.zip">
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data"
          [disabled]="!rulesFileToUpload"
          (click)="onSubmit()" cdkFocusInitial>Upload</button>
</div>
