{
  "policy" : {
    "phases" : {
      "hot" : {
        "min_age" : "0ms",
        "actions" : {
          "rollover" : {
            "max_size" : "{{ default_index_rollover_size }}",
            "max_age" : "{{ default_index_rollover_max_age }}"
          }
        }
      }
    }
  }
}
