@mixin top-navbar-theme($theme) {
  .app-top-navbar {
    .mat-fab.mat-primary,
    .mat-flat-button.mat-primary,
    .mat-mini-fab.mat-primary,
    .mat-raised-button.mat-primary {
      background-color: map-get($theme, primary);
    }
    .active{
      background-color: map-get($theme, primary);
    }
    mat-drawer-container {
      background-color: map-get($theme, base-dark-background);
      mat-drawer {
        background-color: map-get($theme, navbar-background-color);
        mat-list-item {
          &:not(:nth-child(1)):hover {
            background-color: map-get($theme, primary);
          }
        }
      }
      .mat-drawer-main-content {
        background-color: map-get($theme, base-dark-background);
      }
      .confluence-link:hover{
        background-color: #1eb980;
      }
    }
  }
}