<mat-drawer-container autosize hasBackdrop="false">
    <mat-drawer #drawer mode="side" opened="true">
      <h3 *ngIf="showLinkNames">
        <div id="systemTitle">TFPlenum <span id="sysname">{{ system_name }}</span> Controller</div>
        <mat-list>
          <mat-list-item (click)="selectSystem()">
            <mat-icon mat-list-icon>laptop</mat-icon>
            <h4 mat-line>Select System</h4>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
      </h3>
      <span class="version" *ngIf="showLinkNames">v. {{ version }}</span>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon matTooltip="{{ time | date:'MM-dd-yy HH:mm:ss' }} {{ timezone }}">date_range</mat-icon>
          <div *ngIf="showLinkNames" fxLayout="column" fxLayoutAlign="center none" style="padding-left: 16px;">
            <div style="color:lightgreen;" mat-line>{{ time | date:'MM-dd-yy HH:mm:ss' }}</div>
            <div style="color:lightgreen;" mat-line>{{ timezone }}</div>
          </div>
        </mat-list-item>
        <mat-list-item (click)="openNotifications()">
              <mat-icon class="notification-icon" mat-list-icon><app-notifications #notifications></app-notifications></mat-icon>
              <h4 *ngIf="showLinkNames" mat-line>Notifications</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div *ngFor="let group of sideNavigationButtons">
          <h3 mat-subheader *ngIf="group.label && showLinkNames">
            {{ group.label }}
          </h3>
          <ng-container *ngFor="let child of group.children">
            <mat-list-item *ngIf="!child.isExternalLink" routerLink="{{ child.url }}" matTooltip="{{child.label}}" routerLinkActive="active">
              <mat-icon mat-list-icon>{{child.icon}}</mat-icon>
              <h4 *ngIf="showLinkNames" mat-line >{{ child.label }}</h4>
            </mat-list-item>

            <a mat-list-item class="confluence-link" *ngIf="child.isExternalLink" matTooltip="{{child.label}}" href="{{ child.url }}" target="_blank">
              <mat-icon mat-list-icon>{{child.icon}}</mat-icon>
              <h4 *ngIf="showLinkNames" mat-line >{{ child.label }}</h4>
            </a>
          </ng-container>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
      <div
        class="main-sidenav-bottom"
        (click)="toggleSideNavigation()"
        matRipple
        [matRippleTrigger]="trigger"
        centered="true"
      >
      <mat-divider></mat-divider>
        <div #trigger class="main-sidenav-button-trigger" matTooltip="Toggle">
          <mat-icon *ngIf="!showLinkNames">arrow_forward</mat-icon>
          <mat-icon *ngIf="showLinkNames">arrow_back</mat-icon>
          <span *ngIf="showLinkNames">Collapse</span>
        </div>
      </div>
    </mat-drawer>

    <div class="mat-drawer-main-content" >
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
