<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened="true">
      <h5 *ngIf="showLinkNames">TFPlenum Controller</h5>
      <span class="version" *ngIf="showLinkNames">v3.2</span>
      <mat-list>
        <mat-list-item (click)="openNotifications()">
              <mat-icon class="notification-icon" mat-list-icon><app-notifications #notifications></app-notifications></mat-icon>
              <h4 *ngIf="showLinkNames" mat-line >Notifications</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div *ngFor="let group of sideNavigationButtons">
          <h3 mat-subheader *ngIf="group.label && showLinkNames">
            {{ group.label }}
          </h3>
          <mat-list-item *ngFor="let child of group.children" routerLink="{{ child.url }}" matTooltip="{{child.label}}" >
            <mat-icon mat-list-icon>{{child.icon}}</mat-icon>
            <h4 *ngIf="showLinkNames" mat-line >{{ child.label }}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
      <div
        class="main-sidenav-bottom"
        (click)="showLinkNames = !showLinkNames"
        matRipple
        [matRippleTrigger]="trigger"
        centered="true"
      >
      <mat-divider></mat-divider>
        <div #trigger class="main-sidenav-button-trigger">
          <mat-icon *ngIf="!showLinkNames">arrow_forward</mat-icon>
          <mat-icon *ngIf="showLinkNames">arrow_back</mat-icon>
          <span *ngIf="showLinkNames">Collapse</span>
        </div>
      </div>
    </mat-drawer>
  
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
