<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a (click)="toggleCard()">
        <i class="material-icons" *ngIf="!isCardVisible">chevron_right</i>
        <i class="material-icons" *ngIf="isCardVisible">expand_more</i>
        <span style="vertical-align: top;">Change Kit Clock</span>
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="isCardVisible">
    <app-date-time [datetime]="getDate()" [timezone]="getTimezone()" placeholder="Current Date & Time"></app-date-time>
  </mat-card-content>
  <mat-card-actions *ngIf="isCardVisible">
    <button mat-raised-button color="primary" (click)="openConfirmResetClockDialog()"
      [disabled]="resetClock.invalid || resetClock.disabled">Change Clock</button>
  </mat-card-actions>
</mat-card>
