apiVersion: v1
appVersion: {{ component["app_version"] }}
name: cortex
home: https://github.com/TheHive-Project/Cortex
description: Cortex is a Powerful Observable Analysis and Active Response Engine.
details: This chart will install Cortex POAARE
version: {{ component["helm_version"] }}
icons: https://github.com/TheHive-Project/Cortex/blob/master/images/cortex-logo.png
