<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elastic Config</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div #outerCard fxLayout="row" fxLayoutAlign="start" style="overflow: auto;">
        <div class="line-numbers">
          <div *ngFor="let item of numbers; let i = index" id="{{ 'app-elasticconfig-editor-div-mat-card-mat-card-content-div-div-div-' + i }}">{{ i + 1 }}</div>
        </div>
        <div class="text-area-wrapper">
          <textarea #editorCard id="app-elasticconfig-editor-div-mat-card-mat-card-content-div-div-textarea-text" class="text-area" rows="500" cols="50" [(ngModel)]="text"></textarea>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer style="padding: 0em 2em 2em 2em;" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button id="app-elasticconfig-editor-div-mat-card-mat-card-footer-button-close-without-saving"
              color="warn" (click)="openCloseDialog()">Close without Saving
      </button>
      <button mat-raised-button id="app-elasticconfig-editor-div-mat-card-mat-card-footer-button-save-and-close"
              [disabled]="!controllerMaintainer" color="primary" (click)="openSaveDialog()">Save and Close
      </button>
    </mat-card-footer>
  </mat-card>
</div>
