<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elastic Config</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div #outerCard fxLayout="row" fxLayoutAlign="start" style="overflow: auto;">
        <div class="line-numbers">
            <div *ngFor="let item of numbers; let i = index">{{ i + 1 }}</div>
        </div>
        <div class="text-area-wrapper">
          <textarea #editorCard class="text-area" rows="500" cols="50" [(ngModel)]="text"></textarea>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer style="padding: 0em 2em 2em 2em;">
      <button mat-raised-button color="warn" (click)="openCloseDialog()">
        Close without Saving
      </button>
      <button mat-raised-button
              color="primary" style="float: right;"
              (click)="openSaveDialog()">
        Save and Close
      </button>
    </mat-card-footer>
  </mat-card>
</div>
