<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div>Upload Cold Log File</div>
        <div>
          <button mat-raised-button id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-setup-winlogbeat"
                  color="primary" (click)="setupWinlogBeat()" style="margin-right: 10px;" name="upload_file">Setup Winlogbeat
          </button>
          <button mat-raised-button id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-choose-log-file"
                  color="primary" style="margin-right: 10px;" (click)="fileInput.click()">Choose Log File
          </button>
          <input hidden #fileInput id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-input-hidden-file"
                (change)="handleFileInput($event.target.files)" type="file">
          <button mat-raised-button id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-upload"
                  color="primary" (click)="uploadFile()"
                  [disabled]="!logToUpload || this.logForm.invalid" name="upload_file">Upload
            <span *ngIf="logToUpload" style="font-weight: bold;" id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-upload-span-name"> {{ logToUpload.name }}</span>
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]="logForm">
      <!-- Select Log Type -->
      <mat-form-field appearance="fill">
        <mat-label>Select Log Type</mat-label>
        <mat-select disableRipple formControlName="module" (selectionChange)="moduleChange($event)">
          <mat-option *ngFor="let module of modules"
                      [value]="module.value">{{ module.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Fileset type -->
      <mat-form-field *ngIf="!isFilesetsEmpty()" appearance="fill" style="margin-left: 15px;">
        <mat-label>Select Fileset</mat-label>
        <mat-select disableRipple formControlName="fileset">
            <mat-option *ngFor="let fileset of filesets; let i = index;" matTooltip="{{ fileset.tooltip }}"
                        [value]="fileset.value">{{ fileset.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Elasticsearch Index Suffix -->
      <mat-form-field class="custom-suffix">
        <mat-label>Elasticsearch Index Suffix</mat-label>
        <input matInput maxlength="256"
               placeholder="Any arbitrary name that has no special characters" formControlName="index_suffix">
        <mat-error>The Index Suffix is invalid. Please make sure it only uses alphanumeric characters and can only use a dash and an underscore and is no more than 50 characters.</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="send_to_logstash"
                    matTooltip="NOTE: You should only select this if you want your data to be processed by custom logstash processors that you have setup before going to Elasticsearch.">
        (Optional) Send data through logstash instead of sending it directly to elasticsearch.
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
</div>
