<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Log Ingest Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="logIngestInstructions">
        <p>
          This page allows cold log files to be ingested into the ELK stack. Click the 'Choose Log File'
          button to add a .zip or individual log files.
          <br><br>
          Use the 'Elasticsearch Index Suffix' field to create a custom suffix aside from the 'cold-log' default.
          <br><br>
          Optionally send the data through logstash for custom ingest pipelines.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div>Upload Cold Log File</div>
        <div>
          <button mat-raised-button id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-setup-winlogbeat"
                  color="primary" (click)="setupWinlogBeat()" style="margin-right: 10px;" name="upload_file">Setup Winlogbeat
          </button>
          <button mat-raised-button id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-choose-log-file"
                  color="primary" style="margin-right: 10px;" (click)="fileInput.click()">Choose Log File
          </button>
          <input hidden #fileInput id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-input-hidden-file"
                (change)="handleFileInput($event.target.files)" type="file">
          <button mat-raised-button id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-upload"
                  color="primary" (click)="uploadFile()"
                  [disabled]="!logToUpload || this.logForm.invalid" name="upload_file">Upload
            <span *ngIf="logToUpload" style="font-weight: bold;" id="app-log-ingest-div-mat-card-mat-card-header-mat-card-title-button-upload-span-name"> {{ logToUpload.name }}</span>
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]="logForm">
      <!-- Select Log Type -->
      <mat-form-field id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-select-log-type" appearance="fill">
        <mat-label>Select Log Type</mat-label>
        <mat-select disableRipple id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-select-log-type-mat-select" formControlName="module">
          <mat-option id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-select-log-type-mat-select-mat-option-apache" value="apache">Apache</mat-option>
          <mat-option id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-select-log-type-mat-select-mat-option-auditd" value="auditd">Auditd</mat-option>
          <mat-option id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-select-log-type-mat-select-mat-option-system" value="system">System</mat-option>
          <mat-option id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-select-log-type-mat-select-mat-option-suricata" value="suricata">Suricata</mat-option>
          <mat-option id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-select-log-type-mat-select-mat-option-windows-event-logs" value="windows">Windows event logs</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Elasticsearch Index Suffix -->
      <mat-form-field id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-elasticsearch-index-suffix" class="custom-suffix">
        <mat-label>Elasticsearch Index Suffix</mat-label>
        <input matInput id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-elasticsearch-index-suffix-input"
               maxlength="256" placeholder="Any arbitrary name that has no special characters" formControlName="index_suffix">
        <mat-error id="app-log-ingest-div-mat-card-mat-card-content-mat-form-field-elasticsearch-index-suffix-mat-error">The Index Suffix is invalid. Please make sure it only uses alphanumeric characters and can only use a dash and an underscore and is no more than 50 characters.</mat-error>
      </mat-form-field>

      <mat-checkbox id="app-log-ingest-div-mat-card-mat-card-content-mat-checkbox-custom-logstash-processors" formControlName="send_to_logstash"
                    matTooltip="NOTE: You should only select this if you want your data to be processed by custom logstash processors that you have setup before going to Elasticsearch.">
        (Optional) Send data through logstash instead of sending it directly to elasticsearch.
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
</div>
