<div class="container-fluid" [formGroup]="ruleGroup">
  <mat-card style="padding-top:1em;">
    <mat-card-content>
      <!-- Rule Name -->
      <mat-form-field id="policy-management-dialog-div-mat-card-mat-card-content-mat-form-field-rule-name">
        <input matInput id="policy-management-dialog-div-mat-card-mat-card-content-mat-form-field-rule-name-input"
               placeholder="Add rule name here." type="text" id="ruleName" formControlName="ruleName" required>
      </mat-form-field>

      <div #outerCard fxLayout="row" fxLayoutAlign="start" style="overflow: auto;">
        <div class="line-numbers">
          <div *ngFor="let item of numbers; let i = index" id="{{ 'policy-management-dialog-div-mat-card-mat-card-content-div-div-div-line-numbers-' + i }}">{{ i + 1 }}</div>
        </div>
        <div class="text-area-wrapper">
          <textarea #editorCard id="policy-management-dialog-div-mat-card-mat-card-content-div-div-textarea-rule"
                    class="text-area" formControlName="rule" type="text" rows="1000" cols="50"></textarea>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start" style="margin-top:15px;">
        <div fxFlex="30">
          <mat-checkbox id="policy-management-dialog-div-mat-card-mat-card-content-div-div-mat-checkbox-rule-enable"
                        [checked]="isRuleEnabled()" formControlName="isEnabled">Is Rule Enabled?</mat-checkbox>
        </div>
        <div fxFlex="30">
          <!-- PCAP Test -->
          <mat-form-field id="policy-management-dialog-div-mat-card-mat-card-content-div-div-mat-form-field-pcap-test">
            <mat-label>PCAP to test against</mat-label>
            <mat-select id="policy-management-dialog-div-mat-card-mat-card-content-div-div-mat-form-field-pcap-test-mat-select" [(value)]="selectedPcap">
              <mat-option *ngFor="let pcap of pcaps; let j = index;"
                          id="{{ 'policy-management-dialog-div-mat-card-mat-card-content-div-div-mat-form-field-pcap-test-mat-select-maty-option-' + j }}"
                          [value]="pcap.name">
                {{ pcap.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-stroked-button id="policy-management-dialog-div-mat-card-mat-card-footer-button-close-without-saving"
              color="warn" (click)="openCloseDialog()">Close without saving</button>
      <div>
        <button mat-stroked-button id="policy-management-dialog-div-mat-card-mat-card-footer-button-test-against-pcap"
                color="accent" class="btn-secondary" [disabled]="!ruleGroup.valid" style="margin-right: 10px;" (click)="testAgainstPCAP()">Test against PCAP</button>
        <button mat-stroked-button id="policy-management-dialog-div-mat-card-mat-card-footer-button-validate-syntax"
                color="accent" class="btn-secondary" [disabled]="!ruleGroup.valid" style="margin-right: 10px;" (click)="validateRule()">Validate Syntax</button>
        <button mat-raised-button id="policy-management-dialog-div-mat-card-mat-card-footer-button-save-and-close"
                color="primary" [disabled]="!ruleGroup.valid" (click)="openSaveDialog()">Save and close</button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
