
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ helm_apps_svc_acct }}

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-exec
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["get","create"]

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-exec
subjects:
- kind: ServiceAccount
  name: {{ helm_apps_svc_acct }}
  namespace: default
roleRef:
  kind: ClusterRole
  name: pods-exec
  apiGroup: rbac.authorization.k8s.io
