/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
@import './theme.scss';
@import '~material-design-icons/iconfont/material-icons.css';

.mat-error {
  font-size: $primary-font-size !important;
}

.mat-tooltip {
  font-size: $primary-font-size !important;
}

.mat-form-field{
  font-size: $form-field-font-size !important;
}

snack-bar-container.mat-snack-bar-container {
  background-color: $first-elevation-dark-background;
  color: $primary-text-color;
  border: 1px solid $primary-border-color;
}

p {
  color: $primary-text-color;
  font-size: $primary-font-size;
}

a {
  color: $primary-link-color;
  cursor: pointer;
}

.btn-secondary {
  background-color: $first-elevation-dark-background;
  border-color: $secondary-border-color;
}

mat-expansion-panel .mat-expansion-panel-body {
  padding-right: 16px;
}

mat-dialog-container{
  background-color: $first-elevation-dark-background !important;

  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: inherit;
  }
}

mat-dialog-container, .main-content2, .container-fluid {
  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
    background-color: $primary-btn-color;
    color: $primary-btn-text-color;
  }

  .mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: $danger-btn-color;
    color: $primary-btn-text-color;
  }
}

* {
  font-family: sans-serif, serif, 'Times New Roman', Times;
}

.main-content2::before {
  display: block;
  content: "\00a0";
}

.main-content2 {
  margin-top: 1.5em;
  width: fit-content;
  margin: 0 auto;
  max-width: 1200px;

  .pageInstructions {
    background-color: $first-elevation-dark-background;
    padding: 15px 15px 3px 15px;
  }

  .mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .mat-card>.mat-card-actions:last-child {
    margin-bottom: 0px;
  }

  .mat-card-actions, .mat-card-content, .mat-card-subtitle {
    margin-bottom: 0px;
  }

  .mat-card-header .mat-card-title {
    font-size: 16pt;
  }

  .mat-form-field {
    margin-bottom: 1em;
  }

  mat-vertical-stepper {
    background-color: $first-elevation-dark-background;
    width: 1200px;
    margin-top: 40px;
  }

  mat-card {
    border: 1px solid $primary-border-color;
    padding: 0px;
    background-color: $first-elevation-dark-background;
    width: 1200px;

    mat-card-title {
      width: 100%;
    }

    .validation-errors {
      color: $warn;
      height: 35px;
    }

    mat-card-header {
      background-color: $header-background;
      border-radius: 4px 4px 0px 0px;
      padding: 12px 0px 0px 0px;

      .mat-card-header-text{
        width: 100%;
        button {
          float: right;
          margin-bottom: 10px;
        }
      }
    }

    mat-card-actions {
      background-color: $footer-background;
      border-radius: 0px 0px 4px 4px;
      padding: 12px 0px 0px 0px;
      margin: 0px 0px 0px 0px;

      button {
        margin-bottom: 10px;
        margin-left: 15px;
      }
    }

    mat-card-content {
      padding: 16px;
      background-color: $first-elevation-dark-background;

      .mat-paginator-outer-container {
        background-color: $first-elevation-dark-background;
      }

      table {
        background-color: $first-elevation-dark-background;
        width: 100%;
        th {
          font-weight: bold;
          font-size: 13px;
          color: white;
        }

        .mat-paginator-outer-container {
          background-color: $second-elevation-dark-background;
        }

        table {
          background-color: $second-elevation-dark-background;
        }
      }
    }

    mat-paginator {
      font-size: 10pt;

      .mat-paginator-page-size-select{
        margin: 0px;
      }
    }
  }

  mat-card {
    mat-vertical-stepper.inMatCard {
      width: 100%;
      margin-top: 0px;
    }

  }

}

.container-fluid {
  width: 100%;

  mat-card {
    background-color: $first-elevation-dark-background;
    padding: 0px;

    mat-card-header {
      background-color: $header-background;
      border-radius: 4px 4px 0px 0px;
      padding: 12px 0px 0px 0px;

      .mat-card-header-text{
        width: 100%;
        button {
          float: right;
          margin-bottom: 10px;
        }
      }
    }

    mat-card-content {
      padding-left: 1em;

      mat-form-field{
        width: 100%;
      }

      .line-numbers {
        display: inline-block;
        margin: 0px 5px 0px 0px;
      }

      .line-numbers div {
        font-size: 14px;
      }

      .text-area-wrapper {
        display: inline-block;
        margin: 0px;
        width: 80%;
      }

      .text-area {
        overflow: hidden;
        padding: 0px;
        overflow-x: auto;
        overflow-y: hidden;
        font-size: 14px;
        width: 10000px;
        background-color: black;
        color: lightgreen;
      }

      textarea {
        resize: none;
      }
    }

    mat-card-footer{
      margin: 0px;
      padding: 0px 15px 15px 15px;
    }
  }

  .line-numbers {
    display: inline-block;
    margin: 0 5px 0 0;
  }
}
