apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: remote-moloch
  labels:
    component: remote-moloch
spec:
  serviceName: remote-moloch
  replicas: {{ groups['remote-sensors'] | length }}
  podManagementPolicy: "Parallel"
  selector:
    matchLabels:
      component: remote-moloch
  template:
    metadata:
      labels:
        component: remote-moloch
    spec:
      hostNetwork: true
      containers:
      - name: "moloch"
        image: "{{ moloch_image }}:{{ moloch_version }}"
        imagePullPolicy: IfNotPresent
        env:
        - name: PODTYPE
          value: "CAPTURE"
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - NET_ADMIN
              - NET_RAW
              - SYS_NICE
        ports:
          - containerPort: {{ moloch_port }}
            name: webgui
        volumeMounts:
        - name: configini
          mountPath: {{ moloch_path }}/etc/config.ini
        - name: data
          mountPath: "{{ moloch_pcap_path }}"
      restartPolicy: Always
      volumes:
      - name: configini
        hostPath:
          path: {{ moloch_dir }}/{{ hostname }}-config.ini
      - name: data
        hostPath:
          path: {{ moloch_pcap_folder }}
      nodeSelector:
        moloch: "true"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - remote-moloch
              - key: node
                operator: In
                values:
                - remote-sensor
            topologyKey: "kubernetes.io/hostname"
