---
apiVersion: v1
kind: Service
metadata:
  labels:
    component: moloch
  name: moloch
spec:
  ports:
  - name: "webgui"
    port: 80
    targetPort: {{ moloch_port }}
  selector:
    app: moloch-viewer
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: moloch-viewer
  labels:
    component: moloch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: moloch-viewer
  template:
    metadata:
      labels:
        component: moloch
        app: moloch-viewer
    spec:
      containers:
      - name: moloch-viewer
        image: "{{ moloch_image }}:{{ moloch_version }}"
        imagePullPolicy: IfNotPresent
        env:
        - name: PODTYPE
          value: "VIEWER"
        ports:
        - containerPort: {{ moloch_port }}
          name: webgui
        volumeMounts:
        - name: configini
          mountPath: {{ moloch_path }}/etc/config.ini
      volumes:
      - name: configini
        hostPath:
          path: {{ moloch_dir }}/config.ini
      nodeSelector:
        role: server
