<h1 mat-dialog-title style="text-align: center;">Upload RuleSet</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="ruleSetGroup">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Rule Set Name" type="text" id="ruleSetName" formControlName="ruleSetName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Classification</mat-label>
      <mat-select id='Classification' formControlName="clearance">
        <mat-option *ngFor="let type of clearanceLevels" [value]="type.value">
          {{type.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Rule Type</mat-label>
      <mat-select id='appType' formControlName="appType">
        <mat-option *ngFor="let type of ruleType" [value]="type.value">
          {{type.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Group Name" type="text" id="groupName" formControlName="groupName" required>
    </mat-form-field>
  </form>
  <div style="text-align: center;">
    <input type="file" id="file" (change)="selectFile($event.target.files)" accept=".rules">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </div>
  <div style="text-align: center;">
    <mat-label class='text-danger'>{{error_message}}</mat-label>
  </div>
</div>
