<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Catalog</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!_CatalogService.isLoading">
        <mat-progress-bar id="app-catalog-div-section-div-mat-progress-bar"
                          mode="indeterminate" style="margin-top: 80px"></mat-progress-bar>
      </div>
      <div *ngIf="_CatalogService.isLoading" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-slide-toggle #pmoElement id="app-catalog-div-section-div-mat-slide-toggle-pmo-applications"
                          (change)="pmoToggle($event)" [checked]="showCharts['pmo']"
                          color="primary" style="margin-right:43px; margin-bottom: 15px;">PMO Supported Applications</mat-slide-toggle>
        <mat-slide-toggle #commElement id="app-catalog-div-section-div-mat-slide-toggle-community-applications"
                          (change)="communityToggle($event)" [checked]="showCharts['comm']"
                          color="accent">Community Applications</mat-slide-toggle>
      </div>
      <div *ngIf="_CatalogService.isLoading">
        <app-chart-list id="app-catalog-div-section-div-app-chart-list"
                        class="charts__gallery__content" fxLayout="row" fxLayoutAlign="space-evenly center"
                        [charts]="filteredCharts"></app-chart-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
