<div class="main-content2">
    <mat-card>
        <mat-card-header>
          <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
              <div>Test Files</div>
              <div>
                <button mat-raised-button id="cvah-pcap-form-button-choose-pcap-file"
                        color="primary" style="margin-right: 10px;" (click)="fileInput.click()">Choose PCAP File</button>
                <button mat-raised-button id="cvah-pcap-form-button-upload"
                        color="primary" (click)="upload_file()" [disabled]="!pcap_for_upload" name="execute_kickstart">Upload
                  <span *ngIf="pcap_for_upload" id="cvah-pcap-form-button-upload-span-pcap-to-upload"
                        style="font-weight: bold;">{{ pcap_for_upload.name }}</span>
                </button>
                <input hidden
                       #fileInput
                       id="cvah-pcap-form-input-hidden-file"
                       (change)="handle_file_input($event.target.files)"
                       type="file"
                       accept=".pcap,.PCAP">
              </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-wrapper">
            <table mat-table [dataSource]="pcaps" aria-describedby="PCAP Replay Table">

                <!-- Name -->
                <ng-container matColumnDef="name">
                    <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'cvah-pcap-form-td-' + z + '-name' }}">{{ pcap.name }}</td>
                </ng-container>

                <!-- First Packet Date -->
                <ng-container matColumnDef="first_date">
                    <th scope="col" mat-header-cell *matHeaderCellDef>First Packet Date (UTC)</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'cvah-pcap-form-td-' + z + '-first-packet-date' }}"
                        style="padding-right: 5px; padding-left: 5px;">{{ pcap.first_packet_date }}</td>
                </ng-container>

                <!-- Last Packet Date -->
                <ng-container matColumnDef="last_date">
                  <th scope="col" mat-header-cell *matHeaderCellDef>Last Packet Date (UTC)</th>
                  <td mat-cell *matCellDef="let pcap; let z = index;"
                      id="{{ 'cvah-pcap-form-td-' + z + '-last-packet-date' }}"
                      style="padding-right: 5px; padding-left: 5px;">{{ pcap.last_packet_date }}</td>
              </ng-container>

                <!-- SHA256 -->
                <ng-container matColumnDef="sha256">
                    <th scope="col" mat-header-cell *matHeaderCellDef>SHA256</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'cvah-pcap-form-td-' + z + '-sha256' }}"
                        style="padding-right: 5px; padding-left: 5px;">{{ pcap.sha256 }}</td>
                  </ng-container>

                <!-- Size -->
                <ng-container matColumnDef="size">
                    <th scope="col" mat-header-cell *matHeaderCellDef>Size MB</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'cvah-pcap-form-td-' + z + '-size-mb' }}"
                        style="padding-left: 5px;">{{ pcap.size /1000000 | number:'1.0-3' }}</td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                    <th scope="col" mat-header-cell *matHeaderCellDef style="padding-left: 10px;">Action</th>
                    <td mat-cell *matCellDef="let pcap; let z = index;"
                        id="{{ 'cvah-pcap-form-td-' + z + '-action' }}">
                        <button mat-icon-button id="{{ 'cvah-pcap-form-td-' + z + '-action-button-play-arrow' }}"
                                matTooltip="Replay PCAP on Target Sensor" color="primary" (click)="replay_pcap_dialog(pcap)">
                            <em class="material-icons">play_arrow</em>
                        </button>
                        <button mat-icon-button id="{{ 'cvah-pcap-form-td-' + z + '-action-button-delete' }}"
                                matTooltip="Delete PCAP" color="warn" (click)="delete_pcap_confirm_dialog(pcap)">
                            <em class="material-icons">delete</em>
                        </button>
                    </td>
                </ng-container>

                <!-- Table Rows -->
                <tr mat-header-row *matHeaderRowDef="display_columns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: display_columns; let z = index;"
                    id="{{ 'cvah-pcap-form-tr-mat-row-' + i }}"></tr>
            </table>
          </div>
            <mat-paginator #pcapPaginator
                           [pageSize]="20"
                           [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
