<h1 mat-dialog-title>Alert Drilldown</h1>
<div mat-dialog-content
     fxLayout="column" fxLayoutAlign="start stretch"
     style="overflow: auto;">
    <table mat-table [dataSource]="alerts_mat_table_data_source" aria-describedby="Alert details" matSort>
      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef scope="col">actions</th>
        <td mat-cell *matCellDef="let alert; let j = index;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Alert Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="open_in_kibana(alert)">
              <mat-icon>bubble_chart</mat-icon>
              <span>Pivot to Kibana</span>
            </button>
            <button mat-menu-item (click)="open_in_arkime(alert)">
              <mat-icon>show_chart</mat-icon>
              <span>Pivot to Arkime</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">timestamp</th>
        <td mat-cell *matCellDef="let alert;">{{ get_timestamp(alert) }}</td>
      </ng-container>

      <ng-container *ngFor="let column of dynamic_columns">
        <ng-container *ngIf="is_dynamic_column(column)" matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 5px;" scope="col">{{ column }}</th>
          <td mat-cell *matCellDef="let alert;" style="padding-left: 5px;">{{ get_column_value(alert, column) }}</td>
        </ng-container>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="all_columns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: all_columns;"></tr>
  </table>
  <mat-paginator #dialogPaginator
                 showFirstLastButtons
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          color="warn"
          (click)="close()">
    Close
  </button>
</div>
