apiVersion: v1
name: wikijs
home: https://hub.docker.com/r/requarks/wiki
version: {{ component["helm_version"] }}
appVersion: {{ component["app_version"] }}
description: Modern Wiki based on NodeJS
details: Modern Wiki based on NodeJS

