#platform=x86, AMD64, or Intel EM64T
#version=DEVEL

# Install OS instead of upgrade
install

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --plaintext we.are.tfplenum

# System language
lang en_US.UTF-8

# Firewall configuration
firewall --enabled --port=5000:tcp

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use CDROM installation media
cdrom

# Use Hard Drive Installation Media
#harddrive --dir=/ --partition=sda1

# Use graphical install
graphical
firstboot --disable

# SELinux configuration
selinux --enforcing

# Network information
network  --bootproto=static --device=link --ip=172.16.70.15 --netmask=255.255.255.0 --activate --onboot=yes
network --hostname=tfplenum_test_deployer

# Add users
user --groups=wheel --name=assessor --password=we.are.tfplenum --plaintext --gecos="Assessor"

# X Window System configuration information
xconfig --startxonboot

# Reboot after installation
reboot

# System timezone
timezone America/Chicago --isUtc

# Clear the Master Boot Record
zerombr

# System bootloader configuration
# bootloader --location=mbr
bootloader --location=mbr

# Partition Information
autopart --type=lvm

# Partition clearing information
clearpart --all --initlabel

%post

#########################################
# Set Up Subscriptions                  #
#########################################
subscription-manager register --activationkey=sensor1 --org=7403688
subscription-manager attach --auto
subscription-manager repos --enable=rhel-7-server-optional-rpms
subscription-manager repos --enable=rhel-7-server-extras-rpms
yum install -y yum-utils wget
cd /tmp
wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
yum install -y epel-release-latest-7.noarch.rpm
yum update -y
yum install -y ansible git vim screen python2-pip
pip install

%end
%packages
@^graphical-server-environment
@base
@core
@gnome-desktop
@internet-browser
@x11
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
