/* @import "../../theme.scss";
mat-form-field {
  margin-bottom: 14px;
  color: $white;
}
.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
  margin-right: 8px;
}

app-kickstart-form-autocomplete{
  margin-bottom: 14px;
}
.main-content {
  display: flex;
  justify-content: center;
  .kickstart-form {
    @extend .flex-column;
    justify-items: center;
    background-color: $first-elevation-dark-background;
    align-items: center;
    margin: 1em 0em;
    height: 100%;
    width: 80em;
    color: $white;

    mat-card {
      padding: 0px;
      mat-card-header {
        background-color: #121212;
        border-radius: 4px 4px 0px 0px;
        padding: 12px;
      }
      mat-card-content {
        padding: 16px;
      }

      mat-card-actions {
        @extend .flex-row;
        margin-left: 4px;
        margin-bottom: 4px;
        padding: 12px;
        justify-content: space-between;
        @media screen and (max-width: 800px) {
          flex-direction: column;
          .mat-raised-button {
            width: 100%;
            margin: 8px 0;
          }
        }
      }
    }

    .kickstart-form-card {
      margin-top: 1em;
      background-color: $second-elevation-dark-background;
      width: 100%;
      color: $white;
      section {
        padding: 1.25em;
        @extend .flex-column;
        .validation-errors {
          color: $warn;
          height: 35px;
        }
        div {
          p {
            display: flex;
            justify-content: center;
          }
        }
      }
      .kickstart-form-card-panel-content {
        @extend .flex-column;
        padding: 0.25em;
      }
      mat-expansion-panel {
        background-color: $third-elevation-dark-background;
        mat-panel-title {
          color: $white;
        }
      }
      .kick-start-page-instructions-buttons {
        @extend .flex-row;
        @media screen and (max-width: 800px) {
          flex-direction: column;
        }
      }
    }
    .kickstart-form-card-validation {
      @extend .kickstart-form-card;
      margin-bottom: 1em;
    }
    mat-card-actions {
      width: 100%;
      padding: 16px;
    }
  }
  .validation-errors {
    color: $warn;
    height: 35px;
  }
}
 */
