apiVersion: batch/v1
kind: Job
metadata:
  name: moloch-bootstrap
  labels:
    component: moloch
spec:
  template:
    metadata:
      labels:
        component: moloch
    spec:
      containers:
      - name: "moloch"
        image: "{{ moloch_image }}:{{ moloch_version }}"
        imagePullPolicy: IfNotPresent
        env:
        - name: CONTAINER_TYPE
          value: "BOOTSTRAP"
        - name: ELASTICSEARCH_USERNAME
          value: "{{ es_moloch_user }}"
        - name: ELASTICSEARCH_PASSWORD
          value: "{{ es_moloch_password }}"
        - name: ELASTICSEARCH_FQDN
          value: "{{ elastic_fqdn }}"
        - name: ELASTICSEARCH_PORT
          value: "{{ elastic_port }}"
        - name: NUM_OF_REPLICAS
          value: "1"
        - name: SHARDS_PER_NODE
          value: "1"
        volumeMounts:
        - name: configini
          subPath: config.ini
          mountPath: {{ moloch_path }}/etc/config.ini
        - name: webca
          mountPath: /etc/ssl/certs/webCA.crt
          readOnly: true
          subPath: ca.crt
      volumes:
      - name: configini
        configMap:
          name: moloch-bootstrap
      - name: webca
        secret:
          defaultMode: 420
          optional: false
          secretName: elasticsearch-certificate
      nodeSelector:
        role: server
      restartPolicy: Never
