[default]
elasticsearch=https://{{ es_moloch_user }}:{{ es_moloch_password }}@{{ elastic_fqdn }}:{{ elastic_port }}
rotateIndex=hourly6
caTrustFile=/etc/ssl/certs/container/ca.crt
passwordSecret = default-password
httpRealm = Moloch
interface=eth0
pcapDir = /data/moloch/raw
maxFileSizeG = 12
tcpTimeout = 600
tcpSaveTimeout = 720
udpTimeout = 30
icmpTimeout = 10
maxStreams = 1000000
maxPackets = 10000
freeSpaceG = 5%
viewPort = 8005
geoLite2Country = /data/moloch/etc/GeoLite2-Country.mmdb
geoLite2ASN = /data/moloch/etc/GeoLite2-ASN.mmdb
rirFile = /data/moloch/etc/ipv4-address-space.csv
ouiFile = /data/moloch/etc/oui.txt
dropUser=nobody
dropGroup=daemon
parseSMTP=true
parseSMB=true
parseQSValue=false
supportSha256=false
maxReqBody=64
config.reqBodyOnlyUtf8 = true
smtpIpHeaders=X-Originating-IP:;X-Barracuda-Apparent-Source-IP:
parsersDir=/data/moloch/parsers
pluginsDir=/data/moloch/plugins
spiDataMaxIndices=4
packetThreads=2
pcapWriteMethod=simple
pcapWriteSize = 262143
dbBulkSize = 300000
compressES = false
maxESConns = 30
maxESRequests = 500
packetsPerPoll = 50000
antiSynDrop = true
logEveryXPackets = 100000
logUnknownProtocols = false
logESRequests = true
logFileCreation = true
[class1]
