<div fxLayout="row" fxLayoutAlign="center center">
  <section class="charts">
      <header class="charts__header">
        <div class="charts__header__block">
          <h1 class="charts__header__title" fxLayout="column" fxLayoutAlign="center center">
            CVAH CATALOG
          </h1>
        </div>
      </header>
      <div class="charts__gallery">
        <div class="charts__gallery__content">
          <app-chart-list [charts]="charts" fxLayout="row" fxLayoutAlign="space-evenly center"></app-chart-list>
        </div>
      </div>
  </section>
</div>
