<div >
  <section class="charts" style="margin-bottom: 60px;">
      <header class="charts__header">
        <div class="charts__header__block">
          <h1 class="charts__header__title" fxLayout="column" fxLayoutAlign="center center">
            CVAH CATALOG
          </h1>
        </div>
      </header>
      <div *ngIf="_CatalogService.isLoading">
          <app-chart-list class="charts__gallery__content" [charts]="charts" fxLayout="row" fxLayoutAlign="space-evenly center"></app-chart-list>
      </div>
      <div *ngIf="!_CatalogService.isLoading">
          <mat-progress-bar mode="indeterminate" style="margin-top: 80px"></mat-progress-bar>
      </div>
  </section>
</div>
