@import '../../../assets/variables.scss';

$filters-width: 175px;

.charts {
  margin-top: 80px;

  &__header {

    &__title {
      margin-top: 0;
    }

    &__filters {
      display: none;
      font-size: 0.5em;

      mat-icon {
        margin-left: 10px;
        top: 6px;
        position: relative;
      }
    }
  }

  &__gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
