<form [formGroup]="node" fxLayout="column" fxLayoutAlign="space-around stretch">
  <!-- Hostname -->
  <mat-form-field id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-hostname') }}">
    <mat-label>Hostname</mat-label>
    <input matInput id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-hostname-input') }}"
           placeholder="Enter a node hostname without the domain" formControlName="hostname"
           matTooltip="{{ getTooltip('hostname') }}"/>
    <mat-icon matSuffix *ngIf="node.get('hostname')?.valid &&
                               node.get('hostname')?.touched"
              id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-hostname-mat-icon-check-circle') }}"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="node.get('hostname')?.invalid &&
                               node.get('hostname')?.touched"
              id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-hostname-mat-icon-error') }}"
              color="warn">error</mat-icon>
    <mat-error id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-hostname-mat-error') }}">{{ getErrorMessage(node.get("hostname")) }}</mat-error>
  </mat-form-field>
  <unused-ipaddress-autocomplete-ctrl id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-unused-ipaddress-autocomplete-ctrl') }}"
                                      [uniqueHTMLID]="generateUniqueHTMLID('app-kickstart-node-form')" [formControlInput]="node.get('ip_address')"
                                      matTooltip="{{ getTooltip('ip_address') }}" [options]="availableIPs"
                                      inputPlaceHolder='Enter your node IP address here' [matError]="getErrorMessage(node.get('ip_address'))">
  </unused-ipaddress-autocomplete-ctrl>
  <!-- MAC Address -->
  <mat-form-field id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mac-address') }}">
    <mat-label>MAC Address</mat-label>
    <input matInput id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mac-address-input') }}"
           placeholder="Enter a mac address" formControlName="mac_address"
           matTooltip="{{ getTooltip('mac_address') }}"/>
    <mat-icon matSuffix *ngIf="node.get('mac_address')?.valid &&
                               node.get('mac_address')?.touched"
              id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mac-address-mat-icon-check-circle') }}"
              color="primary">check_circle</mat-icon>
    <mat-icon matSuffix *ngIf="node.get('mac_address')?.invalid &&
                               node.get('mac_address')?.touched"
              id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mac-address-mat-icon-error') }}"
              color="warn">error</mat-icon>
    <mat-error id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mac-address-mat-error') }}">{{getErrorMessage(node.get("mac_address"))}}</mat-error>
  </mat-form-field>

  <ng-container *ngIf="system_name === 'DIP'||system_name === 'GIP'">
    <!-- Boot Drive -->
    <mat-form-field *ngIf="!isRaid" id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-boot-drive') }}">
      <mat-label>Boot Drive</mat-label>
      <input matInput id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-boot-drive-input') }}"
             placeholder="Enter a Boot Drive" formControlName="boot_drives" matTooltip="{{ getTooltip('boot_drives') }}"/>
      <mat-icon matSuffix *ngIf="node.get('boot_drives')?.valid &&
                                 node.get('boot_drives')?.touched"
                id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-boot-drive-mat-icon-check-circle') }}"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="node.get('boot_drives')?.invalid &&
                                 node.get('boot_drives')?.touched"
                id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-boot-drive-mat-icon-error') }}"color="warn">error</mat-icon>
      <mat-error id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-boot-drive-mat-error') }}">{{ getErrorMessage(node.get("boot_drives"))}}</mat-error>
    </mat-form-field>
    <!-- Data Drive -->
    <mat-form-field *ngIf="!isRaid" id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-data-drive') }}">
      <mat-label>Data Drive</mat-label>
      <input matInput id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-data-drive-input') }}"
             placeholder="Enter a Data Drive" formControlName="data_drives" matTooltip="{{ getTooltip('data_drives') }}"/>
      <mat-icon *ngIf="node.get('data_drives')?.valid &&
                       node.get('data_drives')?.touched"
                id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-data-drive-mat-icon-check-circle') }}"
                color="primary">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="node.get('data_drives')?.invalid &&
                                 node.get('data_drives')?.touched"
                id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-data-drive-mat-icon-error') }}"
                color="warn">error</mat-icon>
      <mat-error id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-data-drive-mat-error') }}">{{ getErrorMessage(node.get("data_drives"))}}</mat-error>
    </mat-form-field>
    <!-- Raid Drives -->
    <mat-form-field *ngIf="isRaid" id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-raid-drives') }}">
      <mat-label>Raid Drives</mat-label>
      <input matInput id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-raid-drives-input') }}"
             placeholder="Enter list of drives" formControlName="raid_drives"
             matTooltip="{{ getTooltip('raid_drives') }}" />
    </mat-form-field>
    <!-- Root Partition Size -->
    <mat-form-field *ngIf="isRaid" id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-raid-root-size') }}">
      <mat-label>Raid Root Partition Size (GB)</mat-label>
      <input matInput id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-raid-root-size') }}"
             placeholder="Enter the size of the Root Partition" formControlName="os_raid_root_size" type="number" min="50"
             matTooltip="{{ getTooltip('os_raid_root_size') }}" />
    </mat-form-field>

    <mat-checkbox disableRipple *ngIf="system_name==='DIP'"
                  id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-checkbox-raid-all-drives') }}"
                  style="padding-bottom: 25px;" (change)="checkRaidChanged($event)"
                  formControlName="os_raid" matTooltip="{{ getTooltip('os_raid') }}">
      Software RAID all drives
    </mat-checkbox>
  </ng-container>

  <ng-container *ngIf="system_name==='DIP'||system_name==='GIP'">
    <!-- PXE Type -->
    <mat-form-field id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-pxe-type') }}">
      <mat-label>PXE Type</mat-label>
      <mat-select disableRipple id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-pxe-type-mat-select') }}"
                  formControlName="pxe_type" matTooltip="{{getTooltip('pxe_type')}}">
        <mat-option *ngFor="let pxe of pxe_types; let i = index;"
                    id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-pxe-type-mat-select-mat-option-' + i) }}"
                    [value]="pxe">{{ pxe }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="system_name==='MIP'">
    <!-- MIP Model -->
    <mat-form-field id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mip-model') }}">
      <mat-label>Hard Drive Type</mat-label>
      <mat-select disableRipple id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mip-model-mat-select') }}"
                  formControlName="pxe_type" matTooltip="{{getTooltip('mip_pxe_type')}}">
        <mat-option *ngFor="let pxe of pxe_types; let j = index;"
                    id="{{ generateUniqueHTMLID('app-kickstart-node-form-form-mat-form-field-mip-model-mat-select-mat-option-' + j) }}"
                    [value]="pxe">{{ pxe }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</form>
