<mat-expansion-panel id="cvah-update-es-license-form-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>Update Elastic License</mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="column">
      <div id="cvah-update-es-license-form-license-type">Curent License Type: {{ elastic_license?.license?.type | titlecase }}</div>
      <div id="cvah-update-es-license-form-license-status">Curent License Status: {{ elastic_license?.license?.status | titlecase }}</div>
      <div id="cvah-update-es-license-form-license-expire-date">Curent License Expiration: {{ elastic_license?.license?.expiry_date | date:'long' }}</div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button
              id="cvah-update-es-license-form-button-choose-json-license-file"
              class="button-choose-json-license-file"
              fxFlex="none"
              color="primary"
              (click)="fileInput.click()">Choose JSON License File</button>
      <input hidden
             #fileInput
             fxFlex="0"
             type="file"
             accept=".json"
             id="cvah-update-es-license-form-input-hidden"
             (change)="handle_json_file_input($event.target.files)">
      <mat-form-field fxFlex *ngIf="json_for_upload">
        <mat-label>File Name</mat-label>
        <input matInput
               id="cvah-update-es-license-form-file-name-input"
               [formControl]="file_name_form_control">
      </mat-form-field>
    </div>

    <!-- Action Button -->
    <div mat-dialog-actions class="action-button-wrapper">
      <button mat-raised-button
              cdkFocusInitial
              id="cvah-update-es-license-form-button-upload"
              color="primary"
              (click)="upload_button_click()"
              [disabled]="!json_for_upload">Upload
      </button>
    </div>
  </div>
</mat-expansion-panel>
