<h1 mat-dialog-title>Add Kit Token Dialog</h1>
<mat-dialog-content>
    <form mat-dialog-content [formGroup]="kit_token_settings" (ngSubmit)="submit(kit_token_settings)" id="kit-token-settings-form">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <!-- ipaddress-->
            <mat-form-field class="custom_ipaddress_spacing">
                <mat-label>IP Address</mat-label>
                <input matInput type="text" formControlName="ipaddress"/>
                <mat-error *ngIf="kit_token_settings.get('ipaddress').hasError('required')">Required</mat-error>
                <mat-error *ngIf="kit_token_settings.get('ipaddress').hasError('pattern')">IP Address must be written in quad-dotted notation</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button color="primary" type="submit" form="kit-token-settings-form">Add</button>
</mat-dialog-actions>
