<div class="main-content2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Page Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="pageInstructions">
        <p>
          This page allows you to build and download a self-extracting archive for installing various monitoring
          agents on Windows 7, 8 and 10.
          <br><br>
          Before filling out the form, make sure you have configured your Kit's PFSense firewall as well as installed logstash.
          When all inputs are valid, the "Build Agent" button will be enabled.
          <br><br>
          Note: The checks on this page are only for <i>valid</i> data, not <i>correct</i> data. For example, any
          valid IP address will work for the "PF Sense Firewall IP", even if it not your actual firewall IP.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Step 1: Create a Windows installer configuration.
        <button mat-raised-button color="primary" [disabled]="appConfigs ? false : true" (click)="addNewConfiguration()">Add Installer Config</button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="savedConfigs">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>Select</th>
          <td mat-cell *matCellDef="let config">
              <mat-radio-button name="configGroup" (change)="onSelectionChange(config)"></mat-radio-button>
          </td>
        </ng-container>

        <ng-container matColumnDef="config_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let config">{{ config.config_name }}</td>
        </ng-container>

        <ng-container matColumnDef="install_custom">
          <th mat-header-cell *matHeaderCellDef>Custom</th>
          <td mat-cell *matCellDef="let cfg">
            <div *ngIf="cfg?.customPackages; else customNo">
              <i class="material-icons" style="color:lightgreen;">check_circle</i>
            </div>
            <ng-template #customNo>
              <i class="material-icons" style="color:lightgreen;">panorama_fish_eye</i>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="install_endgame">
          <th mat-header-cell *matHeaderCellDef>Endgame</th>
          <td mat-cell *matCellDef="let cfg">
            <div *ngIf="cfg.install_endgame; else sysNo">
              <i class="material-icons" style="color:lightgreen;">check_circle</i>
            </div>
            <ng-template #sysNo>
              <i class="material-icons" style="color:lightgreen;">panorama_fish_eye</i>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="endgame_sensor_name">
          <th mat-header-cell *matHeaderCellDef>Endgame Sensor</th>
          <td mat-cell *matCellDef="let config">{{ config.endgame_sensor_name }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let config">
            <button mat-button (click)="openConfirmDeleteConfig(config)">
              <i class="material-icons" style="color:red;">delete</i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsForInstallerConfigs"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsForInstallerConfigs;"></tr>
      </table>
      <mat-paginator #installerConfigPaginator [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="downloadInstaller()"
                [disabled]="config_selection==null || is_downloading">
        <i class="material-icons">cloud_download</i> Download Installer
      </button>
      <button mat-raised-button color="primary" [disabled]="config_selection==null" (click)="showConfig()">Details</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Step 2 (optional): Add remote targets
        <button mat-raised-button color="primary" (click)="openAddNewTargetConfigModal()">Add Target Config</button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="savedTargetConfigs" multiTemplateDataRows>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>Select</th>
          <td mat-cell *matCellDef="let config">
            <mat-radio-button name="targetGroup" (change)="onTargetSelectionChange(config)"></mat-radio-button>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let config">
            <a (click)="toggleTargetDropDown(config)">
              <i class="material-icons" *ngIf="!isHostVisible(config)">chevron_right</i>
              <i class="material-icons" *ngIf="isHostVisible(config)">expand_more</i>
              <span style="vertical-align: super;">{{ config.name }}</span>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="protocol">
          <th mat-header-cell *matHeaderCellDef>Protocol</th>
          <td mat-cell *matCellDef="let config">{{ config.protocol }}</td>
        </ng-container>

        <ng-container matColumnDef="port">
          <th mat-header-cell *matHeaderCellDef>Port</th>
          <td mat-cell *matCellDef="let config">{{ getPort(config) }}</td>
        </ng-container>

        <ng-container matColumnDef="domain_name">
          <th mat-header-cell *matHeaderCellDef>DNS Suffix</th>
          <td mat-cell *matCellDef="let config">{{ getDomainSuffix(config) }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let config">
            <button mat-button (click)="openConfirmDeleteTarget(config)">
              <i class="material-icons" style="color:red;">delete</i>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let config" [attr.colspan]="columnsForTargetConfigs.length">
            <div>
              <button mat-raised-button color="primary" style="margin-top: 10px;"
                      (click)="openAddWindowsHostModal(config)">Add Windows Hosts</button>
              <table mat-table [dataSource]="hostsToShow" multiTemplateDataRows>

                <ng-container matColumnDef="hostname">
                  <th mat-header-cell *matHeaderCellDef>Hostname</th>
                  <td mat-cell *matCellDef="let host">{{ host.hostname }}</td>
                </ng-container>

                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef>State</th>
                  <td mat-cell *matCellDef="let host">{{ host.state }}</td>
                </ng-container>

                <ng-container matColumnDef="last_state_change">
                  <th mat-header-cell *matHeaderCellDef>Last State Change</th>
                  <td mat-cell *matCellDef="let host">{{ host.last_state_change }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let host">
                      <!-- The menu for this button is defined at the bottom of this html page. -->
                      <button mat-icon-button
                        (click)="$event.stopPropagation()"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ config: config, target: host }">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsForHosts"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsForHosts;"></tr>
              </table>
              <mat-paginator #hostConfigPaginator [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsForTargetConfigs"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsForTargetConfigs;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [hidden]="!isHostVisible(row)"></tr>
      </table>
      <mat-paginator #targetConfigPaginator [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openDeployInstallerModal('install')"
                         [disabled]="(config_selection==null || target_selection==null)">
        <i class="material-icons">cloud_upload</i> Deploy Installer
      </button>
      <button mat-raised-button color="warn" style="float: right;"
        [disabled]="(config_selection==null || target_selection==null)" (click)="openDeployInstallerModal('uninstall')">
        <i class="material-icons">delete_sweep</i> Batch Uninstall
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-target="target" let-config="config">
    <button mat-menu-item
            matTooltip="Reinstall Agent"
            [disabled]="config_selection==null"
            (click)="openDeployInstallerModal('reinstall', target)">
      <mat-icon>sync</mat-icon><span>Reinstall Agent</span>
    </button>

    <button mat-menu-item
            [disabled]="config_selection==null"
            (click)="openDeployInstallerModal('uninstall', target)">
      <mat-icon>delete</mat-icon><span>Uninstall Agent</span>
    </button>

    <button mat-menu-item
            (click)="openRemoveHostModal(config, target)">
      <mat-icon>delete_forever</mat-icon><span>Remove Agent entry</span>
    </button>
  </ng-template>
</mat-menu>
